@font-face {
    font-family: 'Rubik';
    src: local('Rubik Light'), local('Rubik-Light'), url('#{$font-path}/Rubik/Rubiklight.woff2') format('woff2'), url('#{$font-path}/Rubik/Rubiklight.woff') format('woff'), url('#{$font-path}/Rubik/Rubiklight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Rubik';
    src: local('Rubik Light Italic'), local('Rubik-LightItalic'), url('#{$font-path}/Rubik/Rubiklightitalic.woff2') format('woff2'), url('#{$font-path}/Rubik/Rubiklightitalic.woff') format('woff'), url('#{$font-path}/Rubik/Rubiklightitalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Rubik';
    src: local('Rubik'), local('Rubik-Regular'), url('#{$font-path}/Rubik/Rubik.woff2') format('woff2'), url('#{$font-path}/Rubik/Rubik.woff') format('woff'), url('#{$font-path}/Rubik/Rubik.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Rubik';
    src: local('Rubik Italic'), local('Rubik-Italic'), url('#{$font-path}/Rubik/Rubikitalic.woff2') format('woff2'), url('#{$font-path}/Rubik/Rubikitalic.woff') format('woff'), url('#{$font-path}/Rubik/Rubikitalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Rubik';
    src: local('Rubik Medium'), local('Rubik-Medium'), url('#{$font-path}/Rubik/Rubikmedium.woff2') format('woff2'), url('#{$font-path}/Rubik/Rubikmedium.woff') format('woff'), url('#{$font-path}/Rubik/Rubikmedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Rubik';
    src: local('Rubik Medium Italic'), local('#{$font-path}/Rubik/Rubik-MediumItalic'), url('#{$font-path}/Rubik/Rubikmediumitalic.woff2') format('woff2'), url('#{$font-path}/Rubik/Rubikmediumitalic.woff') format('woff'), url('#{$font-path}/Rubik/Rubikmediumitalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Rubik';
    src: local('Rubik Bold'), local('Rubik-Bold'), url('#{$font-path}/Rubik/Rubikbold.woff2') format('woff2'), url('#{$font-path}/Rubik/Rubikbold.woff') format('woff'), url('#{$font-path}/Rubik/Rubikbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Rubik';
    src: local('Rubik Bold Italic'), local('Rubik-BoldItalic'), url('#{$font-path}/Rubik/Rubikbolditalic.woff2') format('woff2'), url('#{$font-path}/Rubik/Rubikbolditalic.woff') format('woff'), url('#{$font-path}/Rubik/Rubikbolditalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Rubik';
    src: local('Rubik Black'), local('Rubik-Black'), url('#{$font-path}/Rubik/Rubikblack.woff2') format('woff2'), url('#{$font-path}/Rubik/Rubikblack.woff') format('woff'), url('#{$font-path}/Rubik/Rubikblack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Rubik';
    src: local('Rubik Black Italic'), local('Rubik-BlackItalic'), url('#{$font-path}/Rubik/Rubikblackitalic.woff2') format('woff2'), url('#{$font-path}/Rubik/Rubikblackitalic.woff') format('woff'), url('#{$font-path}/Rubik/Rubikblackitalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}
