@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  min-width: 1000px;
  font-size: 14px;
}

a {
  color: #000000;
}

a:hover {
  color: #bf312e;
}

i {
  text-decoration: none;
  vertical-align: middle;
  display: inline-block;
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  min-width: 1000px;
}

.container {
  padding-left: 10px;
  padding-right: 10px;
}

html, body {
  height: 100%;
}

main {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -268px;
}

footer, .push {
  height: 268px;
}

.table {
  display: table;
}

.table-row {
  display: table-row;
}

.table-cell {
  display: table-cell;
}

.rouble {
  display: inline-block;
  position: relative;
}

.rouble:before {
  display: block;
  content: "–";
  position: absolute;
  top: 0.06em;
}

body {
  font-family: "Rubik";
}

.ic_bag {
  background-image: url(../images/sprite.png);
  background-position: -67px -115px;
  width: 14px;
  height: 14px;
}

.ic_jurnal {
  background-image: url(../images/sprite.png);
  background-position: -81px -115px;
  width: 13px;
  height: 13px;
}

.ic_people {
  background-image: url(../images/sprite.png);
  background-position: -95px -79px;
  width: 17px;
  height: 13px;
}

.ic_user {
  background-image: url(../images/sprite.png);
  background-position: -54px -57px;
  width: 26px;
  height: 26px;
}

.ic_menu {
  background-image: url(../images/sprite.png);
  background-position: -57px -83px;
  width: 16px;
  height: 10px;
}

.ic_search {
  background-image: url(../images/sprite.png);
  background-position: -132px 0px;
  width: 20px;
  height: 20px;
}

.ic_bookmark {
  background-image: url(../images/sprite.png);
  background-position: -95px -53px;
  width: 19px;
  height: 26px;
}

.ic_bookmark:hover {
  background-image: url(../images/sprite.png);
  background-position: -95px -27px;
  width: 19px;
  height: 26px;
}

.ic_compared {
  background-image: url(../images/sprite.png);
  background-position: -114px -26px;
  width: 16px;
  height: 26px;
}

.ic_compared:hover {
  background-image: url(../images/sprite.png);
  background-position: -114px -52px;
  width: 16px;
  height: 26px;
}

.ic_cart {
  background-image: url(../images/sprite.png);
  background-position: -67px -26px;
  width: 28px;
  height: 26px;
}

.ic_cart:hover {
  background-image: url(../images/sprite.png);
  background-position: -67px 0px;
  width: 28px;
  height: 26px;
}

.ic_cart-order-arrow-btn {
  background-image: url(../images/sprite.png);
  background-position: -27px -57px;
  width: 27px;
  height: 26px;
}

.ic_cart-order-arrow-btn-active {
  background-image: url(../images/sprite.png);
  background-position: 0px -57px;
  width: 27px;
  height: 26px;
}

.ic_close {
  background-image: url(../images/sprite.png);
  background-position: -80px -72px;
  width: 9px;
  height: 9px;
}

.ic_close:hover {
  background-image: url(../images/sprite.png);
  background-position: -73px -83px;
  width: 9px;
  height: 9px;
}

.ic_cart_item {
  background-image: url(../images/sprite.png);
  background-position: -26px 0px;
  width: 41px;
  height: 21px;
}

.ic_cart_item:hover {
  background-image: url(../images/sprite.png);
  background-position: 0px -36px;
  width: 41px;
  height: 21px;
}

.ic_allow {
  background-image: url(../images/sprite.png);
  background-position: -52px -115px;
  width: 15px;
  height: 15px;
}

.ic_not-allow {
  background-image: url(../images/sprite.png);
  background-position: -114px -78px;
  width: 15px;
  height: 15px;
}

.ic_wait {
  background-image: url(../images/sprite.png);
  background-position: -80px -57px;
  width: 15px;
  height: 15px;
}

.ic_arrow-down {
  background-image: url(../images/sprite.png);
  background-position: -56px -21px;
  width: 11px;
  height: 13px;
}

.ic_arrow {
  background-image: url(../images/sprite.png);
  background-position: -62px -36px;
  width: 4px;
  height: 7px;
}

.ic_arrow:hover {
  background-image: url(../images/sprite.png);
  background-position: -62px -43px;
  width: 4px;
  height: 7px;
}

.ic_engine {
  background-image: url(../images/sprite.png);
  background-position: -132px -20px;
  width: 20px;
  height: 20px;
}

.ic_gear {
  background-image: url(../images/sprite.png);
  background-position: -114px 0px;
  width: 18px;
  height: 26px;
}

.ic_carcase {
  background-image: url(../images/sprite.png);
  background-position: -26px -21px;
  width: 30px;
  height: 14px;
}

.ic_suspension {
  background-image: url(../images/sprite.png);
  background-position: 0px 0px;
  width: 26px;
  height: 36px;
}

.ic_wheels {
  background-image: url(../images/sprite.png);
  background-position: -132px -40px;
  width: 20px;
  height: 20px;
}

.ic_chear {
  background-image: url(../images/sprite.png);
  background-position: 0px -93px;
  width: 19px;
  height: 22px;
}

.ic_electric {
  background-image: url(../images/sprite.png);
  background-position: -19px -93px;
  width: 22px;
  height: 19px;
}

.ic_break {
  background-image: url(../images/sprite.png);
  background-position: -41px -36px;
  width: 21px;
  height: 20px;
}

.ic_trinket {
  background-image: url(../images/sprite.png);
  background-position: -95px 0px;
  width: 19px;
  height: 27px;
}

.ic_xls {
  background-image: url(../images/sprite.png);
  background-position: -132px -96px;
  width: 18px;
  height: 18px;
}

.ic_zip {
  background-image: url(../images/sprite.png);
  background-position: -36px -115px;
  width: 16px;
  height: 18px;
}

.ic_vk {
  background-image: url(../images/sprite.png);
  background-position: -41px -93px;
  width: 25px;
  height: 14px;
}

.ic_vk:hover {
  background-image: url(../images/sprite.png);
  background-position: -66px -93px;
  width: 25px;
  height: 14px;
}

.ic_facebook {
  background-image: url(../images/sprite.png);
  background-position: 0px -133px;
  width: 10px;
  height: 17px;
}

.ic_facebook:hover {
  background-image: url(../images/sprite.png);
  background-position: -10px -133px;
  width: 10px;
  height: 17px;
}

.ic_youtube {
  background-image: url(../images/sprite.png);
  background-position: -132px -60px;
  width: 19px;
  height: 18px;
}

.ic_youtube:hover {
  background-image: url(../images/sprite.png);
  background-position: -132px -78px;
  width: 19px;
  height: 18px;
}

.ic_inst {
  background-image: url(../images/sprite.png);
  background-position: -18px -115px;
  width: 18px;
  height: 18px;
}

.ic_inst:hover {
  background-image: url(../images/sprite.png);
  background-position: 0px -115px;
  width: 18px;
  height: 18px;
}

.ic_stars {
  background-image: url(../images/sprite.png);
  background-position: 0px -83px;
  width: 57px;
  height: 10px;
}

header {
  background-color: #1e1e1e;
}

header .top-line {
  height: 40px;
  background-color: #ffffff;
}

header .top-menu-block {
  float: left;
}

header .user-menu-block {
  float: right;
  border-left: 1px solid #cdcdcf;
  height: 40px;
  padding-right: 20px;
  padding-left: 25px;
}

header .top-panel {
  height: 65px;
  border-bottom: 5px solid #000000;
}

header .top-panel .cart-wrapper {
  float: right;
}

header .top-panel .block {
  text-align: center;
  position: relative;
  display: table-cell;
  height: 70px;
  vertical-align: middle;
  color: #FFFFFF;
}

header .top-panel .block.compared-wrapper:before, header .top-panel .block.bookmark-wrapper:before {
  display: block;
  content: "";
  position: absolute;
  width: 1px;
  height: 80%;
  top: 8px;
  background-color: #3a3a3a;
}

header .top-panel .block.compared-wrapper, header .top-panel .block.bookmark-wrapper {
  position: relative;
}

header .top-panel .block.compared-wrapper:after {
  display: block;
  content: "";
  position: absolute;
  width: 1px;
  height: 80%;
  top: 8px;
  right: 0;
  background-color: #3a3a3a;
}

header .top-panel .counter {
  background-color: #434343;
  border: 1px solid;
  border-radius: 9px;
  color: #a43634;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  height: 16px;
  margin-left: 10px;
  padding: 9px;
  position: relative;
}

header .logo {
  width: 1%;
  padding-right: 20px;
}

header .catalog-menu-wrapper {
  width: 14%;
}

header .search-wrapper {
  padding-right: 25px;
}

header .basket-panel {
  width: 40%;
}

footer, footer > .wrapper {
  background-color: #1e1e1e;
}

footer .bottom-menu-wrapper, footer > .wrapper .bottom-menu-wrapper {
  width: 45.94595%;
  float: left;
  margin-right: 1.35135%;
}

footer .price-list-wrapper, footer > .wrapper .price-list-wrapper {
  width: 18.91892%;
  float: left;
  margin-right: 1.35135%;
}

footer .subscribe-wrapper, footer > .wrapper .subscribe-wrapper {
  width: 18.91892%;
  float: left;
  margin-right: 1.35135%;
}

footer .social-wrapper, footer > .wrapper .social-wrapper {
  width: 12.16216%;
  float: right;
  margin-right: 0;
}

footer {
  padding-top: 20px;
  color: #c9c9c9;
}

footer .bottom-line {
  height: 35px;
  background-color: #000000;
}

footer a {
  color: #c9c9c9;
}

footer .header {
  font-weight: 700;
  font-size: 1.2em;
  margin-bottom: 10px;
}

footer .social-wrapper {
  text-align: center;
}

footer .social-wrapper i {
  cursor: pointer;
}

footer .social-wrapper ul li {
  display: inline-block;
  margin-right: 4px;
  margin-left: 4px;
}

footer .social-wrapper .ya-widget {
  border-radius: 4px;
  text-align: center;
  border: 1px solid;
  margin-top: 50px;
  padding-bottom: 10px;
}

footer .social-wrapper .ya-widget span {
  color: #d20606;
}

footer .system-pay-row {
  text-align: center;
  margin-top: 30px;
  clear: both;
}

footer .system-pay {
  height: 60px;
}

footer .system-pay .system-pay-list li {
  width: 5.08475%;
  float: left;
  margin-right: 1.69492%;
}

footer .system-pay .system-pay-list li:nth-child(20) {
  float: right;
  margin-right: 0;
}

footer .date-created {
  float: left;
}

footer .created-by {
  float: right;
}

footer .date-created, footer .created-by {
  margin-top: 13px;
  color: #686868;
}

.price-list-wrapper a {
  text-decoration: none;
}

.price-list-wrapper a span {
  margin-left: 10px;
  text-decoration: underline;
}

.price-list-wrapper .date {
  color: #404040;
  display: inline-block;
  padding-top: 6px;
  margin-bottom: 10px;
}

.subscribe-wrapper {
  text-align: center;
}

.subscribe-wrapper #subcribe {
  border: 1px solid;
  border-radius: 8px;
  background-color: #1e1e1e;
  color: #c0c0c2;
  height: 35px;
  width: 100%;
  font-size: 1.1em;
  cursor: pointer;
  box-sizing: border-box;
}

.subscribe-wrapper .row {
  margin-bottom: 10px;
}

.subscribe-wrapper .input-email {
  height: 35px;
  width: 100%;
  border: 1px solid;
  border-radius: 8px;
  color: #404040;
  background-color: #1e1e1e;
  text-align: center;
  font-size: 1.1em;
  font-style: italic;
  box-sizing: border-box;
}

.search {
  position: relative;
}

.search input[type=text] {
  height: 35px;
  border-radius: 10px;
  padding-left: 10px;
  width: 95%;
  border: none;
}

.search input[type="submit"] {
  border: medium none;
  position: absolute;
  right: 20px;
  top: 10px;
  background-color: transparent;
  cursor: pointer;
}

.top-menu ul:after {
  content: " ";
  display: block;
  clear: both;
}

.top-menu ul li {
  display: block;
  float: left;
}

.top-menu ul li:first-child {
  border-top: 3px solid #1e1e1e;
}

.top-menu ul li:first-child a {
  border-left: 1px solid #cfcfd1;
}

.top-menu ul li:nth-child(2) {
  border-top: 3px solid #00416b;
}

.top-menu ul li:nth-child(2) a {
  color: #00416b;
}

.top-menu ul li:nth-child(3) {
  border-top: 3px solid #70000d;
}

.top-menu ul li a {
  background-color: #ffffff;
  box-sizing: border-box;
  border-right: 1px solid #cfcfd1;
  border-right: 1px solid #cfcfd1;
  height: 37px;
  display: table-cell;
  vertical-align: middle;
  padding-left: 50px;
  padding-right: 25px;
  color: #000000;
  text-decoration: none;
}

.top-menu ul li a.selected {
  background-color: #1e1e1e;
  color: #fff;
  border-color: #1e1e1e;
}

.top-menu ul li a i {
  margin-right: 10px;
  position: relative;
  top: 2px;
}

.user-menu-block:hover .user-links {
  display: block;
}

.user-menu-block:hover .user-menu-line > a:after {
  display: block;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 4px 0;
  border-color: #000000 transparent transparent transparent;
  position: absolute;
  right: -13px;
  top: 8px;
  transform: rotate(-90deg);
}

.user-menu-block .user-avatar {
  display: inline-block;
  display: inline-block;
  left: -4px;
  position: relative;
  top: 7px;
}

.user-menu-block .user-links {
  background: #ccc none repeat scroll 0 0;
  display: none;
  padding: 10px;
  position: absolute;
  width: 115px;
  z-index: 2;
}

.user-menu-block .user-menu-line {
  height: 40px;
  position: relative;
}

.user-menu-block .user-menu-line > a {
  position: relative;
}

.user-menu-block .user-menu-line > a:after {
  display: block;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 4px 0;
  border-color: #000000 transparent transparent transparent;
  position: absolute;
  right: -13px;
  top: 8px;
}

.user-menu-block .user-menu-line > a.selected:after {
  display: block;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 4px 0;
  border-color: #000000 transparent transparent transparent;
  position: absolute;
  right: -13px;
  top: 8px;
  transform: rotate(-90deg);
}

.user-menu-block a {
  text-decoration: none;
  color: #000000;
}

.catalog-menu .catalog-menu-btn {
  background-color: #bf312e;
  border-radius: 10px;
  border: none;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  padding: 5px;
  cursor: pointer;
}

.catalog-menu .catalog-menu-btn:hover, .catalog-menu .catalog-menu-btn.selected {
  background-color: #df312e;
}

.catalog-menu .catalog-menu-item-wrapper {
  display: none;
  position: absolute;
  width: 760px;
  color: #000;
  text-align: left;
}

.catalog-menu .catalog-menu-item-wrapper.opened {
  display: block;
}

.catalog-menu .catalog-menu-item-wrapper a {
  text-decoration: none;
  color: #414141;
}

.catalog-menu .catalog-menu-item-wrapper a:hover {
  color: #bf312e;
}

.catalog-menu .catalog-menu-item-wrapper ul {
  background-color: #FFFFFF;
}

.catalog-menu .catalog-menu-item-wrapper .ic_arrow {
  float: right;
  margin-top: 7px;
}

.catalog-menu .catalog-menu-item-wrapper .root-items {
  border: 1px solid #cdcdcf;
  left: -220px;
  padding: 5px 65px 0px 10px;
  position: absolute;
  top: 18px;
  z-index: 2;
}

.catalog-menu .catalog-menu-item-wrapper .root-items > li > a {
  display: table;
  padding-bottom: 8px;
  padding-right: 9%;
  padding-top: 8px;
  width: 115%;
}

.catalog-menu .catalog-menu-item-wrapper .root-items > li > a:hover + .child-items {
  display: block;
}

.catalog-menu .catalog-menu-item-wrapper .root-items > li > a:hover .ic_arrow {
  background-image: url(../images/sprite.png);
  background-position: -62px -43px;
  width: 4px;
  height: 7px;
}

.catalog-menu .catalog-menu-item-wrapper .root-items > li > a > * {
  vertical-align: middle;
}

.catalog-menu .catalog-menu-item-wrapper .root-items > li > a > span:first-child {
  text-align: center;
  width: 45px;
}

.catalog-menu .catalog-menu-item-wrapper .root-items .child-items {
  display: none;
  padding: 20px 20px 20px 25px;
  z-index: 3;
  top: -1px;
  position: absolute;
  left: 230px;
  width: 778px;
  border: 1px solid #cdcdcf;
  min-height: 350px;
}

.catalog-menu .catalog-menu-item-wrapper .root-items .child-items:hover {
  display: block;
}

.catalog-menu .catalog-menu-item-wrapper .root-items .child-items a {
  font-weight: 100;
}

.catalog-menu .catalog-menu-item-wrapper .root-items .child-items .item-head {
  color: #137fb7;
  font-weight: 700;
  marign-bottom: 6px;
}

.catalog-menu .catalog-menu-item-wrapper .root-items .child-items .coll-item {
  margin-right: 45px;
  float: left;
}

.catalog-menu .catalog-menu-item-wrapper .root-items .child-items .coll-item > ul:first-child {
  border-bottom: 1px solid #e2e2e2;
  padding-bottom: 5px;
}

.catalog-menu .catalog-menu-item-wrapper .root-items .child-items .coll-item > ul:nth-child(2) {
  padding-top: 5px;
}

.catalog-menu .catalog-menu-item-wrapper .root-items .child-items ul li {
  margin-top: 7px;
  margin-bottom: 7px;
}

.top-item-wrapper {
  padding-top: 20px;
  display: block;
  border: 1px solid #b8b8bc;
  border-radius: 5px;
  color: #424242;
  left: -300px;
  margin-top: 15px;
  position: absolute;
  width: 560px;
  top: 54px;
  z-index: 2;
  background-color: #ffffff;
}

.top-item-wrapper a {
  text-decoration: none;
}

.top-item-wrapper:hover .top-item-wrapper {
  display: block;
}

.top-item-wrapper .top-item-list.table {
  padding-left: 10px;
  padding-right: 10px;
}

.top-item-wrapper .table-cell {
  vertical-align: middle;
  text-align: left;
  padding-right: 8px;
  padding-left: 7px;
  padding-bottom: 10px;
}

.top-item-wrapper .table-cell i:hover {
  cursor: pointer;
}

.top-item-wrapper .top-item-list .name {
  width: 45%;
  font-weight: 200;
  line-height: 1.1em;
}

.top-item-wrapper .top-item-list .name a {
  display: inline-block;
  height: 32px;
  overflow: hidden;
}

.top-item-wrapper .top-item-list .pic {
  width: 10%;
}

.top-item-wrapper .top-item-list .pic img {
  border: 1px solid #b8b8bc;
  padding: 7px;
}

.top-item-wrapper .top-item-list .pic .status {
  width: 5%;
}

.top-item-wrapper .top-item-list .pic .compare {
  width: 5%;
}

.top-item-wrapper .top-item-list .pic .add-to-cart {
  width: 5%;
}

.top-item-wrapper .top-item-list .pic .remove-from {
  width: 5%;
}

.top-item-wrapper .btn-block {
  height: 30px;
}

.bookmark-wrapper, .compared-wrapper, .cart-wrapper {
  display: none;
}

.bookmark-wrapper:hover .top-item-wrapper, .compared-wrapper:hover .top-item-wrapper, .cart-wrapper:hover .top-item-wrapper {
  display: block;
}

.bookmark-wrapper:hover .top-item-wrapper .btn-block, .compared-wrapper:hover .top-item-wrapper .btn-block, .cart-wrapper:hover .top-item-wrapper .btn-block {
  padding-top: 25px;
  text-align: center;
}

.bookmark-wrapper:hover .ic_bookmark {
  background-image: url(../images/sprite.png);
  background-position: -95px -27px;
  width: 19px;
  height: 26px;
}

.bookmark-wrapper .top-item-wrapper {
  display: none;
}

.bookmark-wrapper .top-item-wrapper:before {
  display: block;
  content: "";
  background-image: url(../images/sprite.png);
  background-position: -91px -93px;
  width: 22px;
  height: 12px;
  position: absolute;
  left: 63%;
  top: -12px;
}

.compared-wrapper:hover .ic_compared {
  background-image: url(../images/sprite.png);
  background-position: -114px -52px;
  width: 16px;
  height: 26px;
}

.compared-wrapper .top-item-wrapper {
  display: none;
}

.compared-wrapper .top-item-wrapper:before {
  display: block;
  content: "";
  background-image: url(../images/sprite.png);
  background-position: -91px -93px;
  width: 22px;
  height: 12px;
  position: absolute;
  left: 65%;
  top: -12px;
}

.cart-wrapper:hover .ic_cart {
  background-image: url(../images/sprite.png);
  background-position: -67px 0px;
  width: 28px;
  height: 26px;
}

.cart-wrapper .top-item-wrapper {
  display: block;
}

.bookmark, .compared, .top-cart {
  cursor: pointer;
}

.top-cart .cart-summ {
  padding-right: 10px;
  padding-left: 10px;
}

.cart-wrapper .top-item-wrapper {
  width: 712px;
  left: -533px;
  display: none;
}

.cart-wrapper .top-item-wrapper:before {
  display: block;
  content: "";
  background-image: url(../images/sprite.png);
  background-position: -91px -93px;
  width: 22px;
  height: 12px;
  position: absolute;
  left: 81%;
  top: -12px;
}

.cart-wrapper .top-item-wrapper .name {
  width: 27%;
}

.cart-wrapper .top-item-wrapper .amount .amoutset {
  width: 40px;
  border: 1px solid #6a6a6a;
  text-align: center;
  border-radius: 7px;
  margin-left: 5px;
  margin-right: 5px;
}

.cart-wrapper .bookmark, .cart-wrapper .compared {
  position: relative;
  top: -6px;
}

.cart-wrapper .top-cart {
  position: relative;
  top: 15px;
}

.cart-wrapper .cart-summ-block {
  border-top: 1px solid #b8b8bc;
  padding: 15px;
}

.cart-wrapper .cart-summ-block .table-cell {
  padding: 0;
}

.cart-wrapper .cart-summ-block .table-cell:first-child {
  padding-right: 100px;
}

.cart-wrapper .cart-summ-block .table-cell:nth-child(2) {
  text-align: right;
  padding-right: 20px;
}

.cart-wrapper .cart-summ-block .table-cell:nth-child(3) {
  text-align: right;
}

.cart-wrapper .cart-summ-block .table-cell:nth-child(3) .ic_arrow-down {
  margin-left: 10px;
}

.bottom-menu-wrapper .list .item-header {
  font-weight: 700;
  font-size: 1.2em;
}

.bottom-menu-wrapper .list ul {
  display: inline-block;
  vertical-align: top;
  margin-right: 30px;
}

.bottom-menu-wrapper .list ul li {
  margin-bottom: 10px;
}

.bottom-menu-wrapper .list ul li a {
  text-decoration: none;
}

.bottom-menu-wrapper .list ul:last-child {
  margin-right: 0;
}

@font-face {
  font-family: 'Rubik';
  src: local("Rubik Light"), local("Rubik-Light"), url("/fonts/Rubik/Rubiklight.woff2") format("woff2"), url("/fonts/Rubik/Rubiklight.woff") format("woff"), url("/fonts/Rubik/Rubiklight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: local("Rubik Light Italic"), local("Rubik-LightItalic"), url("/fonts/Rubik/Rubiklightitalic.woff2") format("woff2"), url("/fonts/Rubik/Rubiklightitalic.woff") format("woff"), url("/fonts/Rubik/Rubiklightitalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Rubik';
  src: local("Rubik"), local("Rubik-Regular"), url("/fonts/Rubik/Rubik.woff2") format("woff2"), url("/fonts/Rubik/Rubik.woff") format("woff"), url("/fonts/Rubik/Rubik.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: local("Rubik Italic"), local("Rubik-Italic"), url("/fonts/Rubik/Rubikitalic.woff2") format("woff2"), url("/fonts/Rubik/Rubikitalic.woff") format("woff"), url("/fonts/Rubik/Rubikitalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Rubik';
  src: local("Rubik Medium"), local("Rubik-Medium"), url("/fonts/Rubik/Rubikmedium.woff2") format("woff2"), url("/fonts/Rubik/Rubikmedium.woff") format("woff"), url("/fonts/Rubik/Rubikmedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: local("Rubik Medium Italic"), local("/fonts/Rubik/Rubik-MediumItalic"), url("/fonts/Rubik/Rubikmediumitalic.woff2") format("woff2"), url("/fonts/Rubik/Rubikmediumitalic.woff") format("woff"), url("/fonts/Rubik/Rubikmediumitalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Rubik';
  src: local("Rubik Bold"), local("Rubik-Bold"), url("/fonts/Rubik/Rubikbold.woff2") format("woff2"), url("/fonts/Rubik/Rubikbold.woff") format("woff"), url("/fonts/Rubik/Rubikbold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: local("Rubik Bold Italic"), local("Rubik-BoldItalic"), url("/fonts/Rubik/Rubikbolditalic.woff2") format("woff2"), url("/fonts/Rubik/Rubikbolditalic.woff") format("woff"), url("/fonts/Rubik/Rubikbolditalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Rubik';
  src: local("Rubik Black"), local("Rubik-Black"), url("/fonts/Rubik/Rubikblack.woff2") format("woff2"), url("/fonts/Rubik/Rubikblack.woff") format("woff"), url("/fonts/Rubik/Rubikblack.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: local("Rubik Black Italic"), local("Rubik-BlackItalic"), url("/fonts/Rubik/Rubikblackitalic.woff2") format("woff2"), url("/fonts/Rubik/Rubikblackitalic.woff") format("woff"), url("/fonts/Rubik/Rubikblackitalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

.btn-round {
  text-decoration: none;
  padding: 5px 20px;
  border-radius: 10px;
}

.btn-round.grey {
  background-color: #6a6a6a;
  color: #fff;
}

.btn-round.grey:hover {
  background-color: #a66a6a;
}

.btn-round.grey-light {
  border: 1px solid #6b6b6b;
  color: #6b6b6b;
}

.btn-round.red-light {
  border: 1px solid #de2d29;
  color: #de2d29;
}
