.bookmark-wrapper{
  .top-item-wrapper{
    &:before{
      display: block;
      content: "";
      @include sprite($ic_arrow-up);
      position: absolute;
      left: 54%;
      top: -12px;
    }
  }
  cursor: pointer;
  &:hover{
    .top-item-wrapper{
      display: block;
    }
  }
  .btn-block{
    padding-top: 25px;
    text-align: center;
  }
}