.bottom-menu-wrapper{
  .list{
    ul{
      display: inline-block;
      vertical-align: top;
      @include span(1 of 3);
      &:last-child{
        @include last;
      }
      li{
        margin-bottom:10px;
        a{
          text-decoration: none;
        }
      }
      &:last-child{
        margin-right: 0;
      }
    }
  }
}