.catalog-menu{
  .catalog-menu-btn{
    background-color: #bf312e;
    border-radius: 10px;
    border: none;
    color: #ffffff;
    font-weight: 700;
    font-size: 16px;
    padding: 5px;
    cursor: pointer;
    &:hover{
      background-color: scale_color(#bf312e, 50);
    }
  }
}