.catalog-menu{
  .catalog-menu-btn{
    background-color: #bf312e;
    border-radius: 10px;
    border: none;
    color: #ffffff;
    font-weight: 700;
    font-size: 16px;
    padding: 5px;
    cursor: pointer;
    &:hover{
      background-color: scale_color(#bf312e, 50);
    }
  }
  .catalog-menu-item-wrapper{
    display: block;
    position: absolute;
    width: 760px;
    color: #000;
    text-align: left;
    a{
      text-decoration: none;
      color: #414141;
    }
    ul{
      background-color: #FFFFFF;
    }
    .root-items{
      border: 1px solid #cdcdcf;
      left: -220px;
      padding: 15px 50px 15px 10px;
      position: absolute;
      top: 18px;
      z-index: 2;
      .child-items{
        padding: 20px;
        z-index: 3;
        top: -1px;
        position: absolute;
        left: 163px;
        width: 760px;
        border:1px solid #cdcdcf;
        .item-head{
          color: #137fb7;
          font-weight: 700;
          marign-bottom:6px;
        }
        ul{
          float: left;
          width: 50%;
          li{
            margin-top: 5px;
            margin-bottom: 5px;
          }
        }
      }
    }
  }
}