.search{
  position: relative;
  input[type=text]{
    height: 35px;
    border-radius: 10px;
    padding-left: 10px;
    width: 92%;
    border:none;
    font-family: Rubik;
    ::-webkit-input-placeholder {color:#2c2c2c;}
    ::-moz-placeholder          {color:#2c2c2c;}/* Firefox 19+ */
    :-moz-placeholder           {color:#2c2c2c;}/* Firefox 18- */
    :-ms-input-placeholder      {color:#2c2c2c;}
  }
  input[type="submit"]{
    border: medium none;
    position: absolute;
    right: 13px;
    top: 9px;
    background-color: transparent;
    cursor: pointer;

  }
}