.top-cart{
  .cart-summ{
    color: #fff;
    display: inline-block;
    font-family: Rubik;
    font-size: 14px;
    padding-left: 4px;
    padding-right: 4px;
  }
}
.block.cart-wrapper {
  width: 201px;
}
.cart-wrapper{

  .top-item-wrapper{
    width: 712px;
    left: -533px;
    display: none;
    &:before{
      display: block;
      content: "";
      @include sprite($ic_arrow-up);
      position: absolute;
      left: 84.5%;
      top: -12px;
    }
    .amount{
      .amountset{
        width: 40px;
        border:1px solid #6a6a6a;
        text-align: center;
        border-radius: 7px;
        margin-left: 5px;
        margin-right: 5px;
        font-family: Rubik;
        color: #6a6a6a;
      }
    }
    .amound-down, .amound-up{
      cursor: pointer;
      &:hover{
        color: $color-link-hover;
      }
    }
    .row-summ  {
    }
  }
  .do-order{
    float: right;
    height: 20px;
    line-height: 1.4em;
    &:hover{
      .ic_arrow-down{
        @include sprite($ic_arrow-down-hover);
      }
    }
  }
  .order-detail{
    height: 20px;
  }
  .bookmark, .compared{
    position: relative;
    top: -6px;
  }
  .top-cart{
    padding-left: 15px;
    text-align: left;
  }
  .cart-summ-block{
    border-top: 1px solid #b8b8bc;
    padding: 15px;
    .table-cell{
      padding: 0;
    }
    .table-cell:first-child{
      padding-right: 100px;
    }
    .table-cell:nth-child(2){
      text-align: right;
      padding-right: 20px;
    }
    .table-cell:nth-child(3){
      text-align: right;
      .ic_arrow-down{
        margin-left: 10px;
      }
    }
  }
}