.top-item-wrapper{
  padding-top:20px;
  display: block;
  border: 1px solid #b8b8bc;
  border-radius: 5px;
  color: #424242;
  left: -300px;
  margin-top: 15px;
  position: absolute;
  width: 560px;
  top: 56px;
  z-index: 2;
  background-color: #ffffff;
  a{
    text-decoration: none;
  }
  &:hover{
    .top-item-wrapper{
      //display: block;
    }
  }
  .top-item-list.table {
    padding-left: 10px;
    padding-right: 10px;
  }
  .table-cell{
    vertical-align: middle;
    text-align: left;
    padding-right: 8px;
    padding-left: 7px;
    padding-bottom: 10px;
    i:hover{
      cursor: pointer;
    }
  }
  .top-item-list{
    .name{
      width: 30%;
      font-weight: 200;
      line-height: 1.1em;
      a{
        display: inline-block;
        height: 32px;
        overflow: hidden;
      }
    }
    .pic {
      width: 10%;
      img{
        border: 1px solid #b8b8bc;
        padding: 7px;
      }
      .status{
        width: 5%;
      }
      .compare{
        width: 5%;
      }
      .add-to-cart{
        width: 5%;
      }
      .remove-from{
        width: 5%;
      }
    }
  }
  .btn-block {
    height: 30px;
  }
}

.bookmark-wrapper, .compared-wrapper, .cart-wrapper{
  display: none;
  .opened{
    display: block!important;
  }
  &:hover{
    .top-item-wrapper {
      //display: block;

    }
  }
}

.bookmark-wrapper {
  &:hover, .bookmark.selected{
    .ic_bookmark{
      @include sprite($ic_book-mark-hover);
    }
  }
  &.disabled:hover{
    .ic_bookmark{
      @include sprite($ic_book-mark);
    }
  }
  .top-item-wrapper {
    display: none;
    &:before{
      display: block;
      content: "";
      @include sprite($ic_arrow-up);
      position: absolute;
      left: 65.5%;
      top: -12px;
    }
  }
}
.compared-wrapper{
  &:hover, .compared.selected{
    .ic_compared{
      @include sprite($ic_compared-hover);
    }
  }
  &.disabled:hover{
    .ic_compared{
      @include sprite($ic_compared);
    }
  }
  .top-item-wrapper{
    display: none;
    &:before{
      display: block;
      content: "";
      @include sprite($ic_arrow-up);
      position: absolute;
      left: 65%;
      top: -12px;
    }
  }
}
.cart-wrapper{
  &:hover, .top-cart.selected{
    .ic_cart{
      @include sprite($ic_cart-hover);
    }
  }
  &.disabled:hover{
    .ic_cart{
      @include sprite($ic_cart);
    }
  }
  .top-item-wrapper{
    display: block;
  }
}
.bookmark, .compared, .top-cart{
  cursor: pointer;
}

