.top-cart{
  .cart-summ{
    color: #fff;
    display: inline-block;
    font-family: Rubik;
    font-size: 14px;
    @include breakpoint(max-width 780px){
      margin-left: 10px;
    }
  }
  .drop-down-cart-block{
    margin-left: 20px;
    margin-right: 20px;
    @include breakpoint(max-width 780px){
      margin-left: 0px;
      margin-right: 0px;
    }
    .without-text{
      display: none;
      @include breakpoint(max-width 780px){
        display: inline-block;
      }
    }
    .with-text{
      @include breakpoint(max-width 780px){
        display: none;
      }
    }
    .cart-count{
      @include breakpoint(max-width 380px){
        display: none;
      }
    }
  }
}
.block.cart-wrapper {

}
.cart-wrapper{

  .top-item-wrapper{
    width: 712px;
    left: -360px;
    display: none;
    &:before{
      display: block;
      content: "";
      @include sprite($ic_arrow-up);
      position: absolute;
      left: 84.5%;
      bottom: -12px;
      transform: rotate(180deg);
    }
    .amount{
      .amountset{
        width: 40px;
        border:1px solid #6a6a6a;
        text-align: center;
        border-radius: 7px;
        margin-left: 5px;
        margin-right: 5px;
        font-family: Rubik;
        color: #6a6a6a;
        &:focus{
          border-color: $color-link-hover;
        }
      }
    }
    .amound-down, .amound-up{
      cursor: pointer;
      &:hover{
        color: $color-link-hover;
      }
    }
    .row-summ  {
    }
  }
  .do-order{
    float: right;
    height: 20px;
    line-height: 1.4em;
    &:hover{
      .ic_arrow-down{
        @include sprite($ic_arrow-down-hover);
      }
    }
  }
  .order-detail-btn{
    box-sizing: border-box;
    vertical-align: middle;
    background-color: #de2d2a;
    display: inline-block;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    @include breakpoint(max-width 780px){
      display: none;
    }
    >*{
      display: inline-block;
      vertical-align: middle;
    }
    .make-order-txt{
      margin-right: 5px;
    }
  }
  .bookmark, .compared{
    position: relative;
    top: -6px;
  }
  .top-cart{
    padding-left: 15px;
    text-align: left;
    @include breakpoint(max-width 780px){
      padding-left: 0px;
    }
    @include breakpoint(max-width 325px){
      .ic_cart{
        display: none;
      }
    }
  }
  .cart-summ-block{
    border-top: 1px solid #b8b8bc;
    padding: 15px;
    .table-cell{
      padding: 0;
    }
    .table-cell:first-child{
      padding-right: 100px;
    }
    .table-cell:nth-child(2){
      text-align: right;
      padding-right: 20px;
    }
    .table-cell:nth-child(3){
      text-align: right;
      .ic_arrow-down{
        margin-left: 10px;
      }
    }
  }
}
