p#vtip {
  display: none;
  position: absolute;
  padding: 10px;
  left: 5px;
  font-size: 1em;
  background-color: #f0f0f0;
  border: 1px solid #d0d0d2;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  z-index: 9999;
  color:#414141;
  text-align: center;
  max-width: 120px;
}

p#vtip #vtipArrow {
  position: absolute;
  top: -12px;
}