<div class="bookmark toggle-btn" id="bookmark-added-block">
    <i class="ic_bookmark"></i>
    <span class="fly-block-label">в закладках</span>
    <span class="counter"><span class="counter-value">0</span></span>
</div>
<div class="top-item-wrapper toggle-wrapper">
    <div class="top-item-list table">
        {% for item in bookMarkItem %}
        <div class="item table-row">
            <div class="table-cell pic">
                <a href="#" title="{{item.name}}"><img src="{{item.img}}" alt="#"></a>
            </div>
            <div class="table-cell name">
                <a href="#" title="{{item.name}}">{{item.name}}</a>
            </div>
            <div class="table-cell status">
                <i class="ic_{{item.status}} vtip" title="В наличии 15 шт. в 5 магазинах"></i>
            </div>
            <div class="table-cell compared">
                <a href="#" title="Перенести в сравнение" class="vtip"><i class="ic_compared"></i></a>
            </div>
            <div class="table-cell price">
                <span>{{item.price}} <span class="rouble">P</span></span>
            </div>
            <div class="table-cell add-to-cart">
                <a href="#" title="В корзину" class="vtip tocart-btn"><i class="ic_cart_item"></i></a>
            </div>
            <div class="table-cell remove-from">
                <i class="ic_close vtip" title="Убрать из корзины"></i>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="btn-block">
        <a href="#" title="#" class="btn-round grey">Управление закладками</a>
    </div>
</div>
