<div class="catalog-menu">
    <button class="catalog-menu-btn toggle-btn">Каталог <i class="ic_menu"></i></button>
    <div class="catalog-menu-item-wrapper toggle-wrapper">
        <ul class="root-items">
            <li>
                <a href="" title="Двигатель">
                    <span class="table-cell"><i class="ic_engine"></i></span>
                    <span class="table-cell"> <span>Двигатель</span></span>
                    <span class="table-cell"><i class="ic_arrow"></i></span>
                </a>
                <ul class="child-items root">
                    <li>
                        <div class="coll-item">
                            <ul>
                                <li>
                                    <a class="item-head" title="#">Шатунно-поршневая группа</a>
                                </li>
                                <li>
                                    <a href="" title="#">Коленвалы</a>
                                </li>
                                <li>
                                    <a href="" title="#">Коленвалы</a>
                                </li>
                                <li>
                                    <a href="" title="#">Коленвалы</a>
                                </li>
                                <li>
                                    <a href="" title="#">Коленвалы</a>
                                </li>
                                <li>
                                    <a href="" title="#">Коленвалы</a>
                                </li>
                                <li>
                                    <a href="" title="#">Коленвалы</a>
                                </li>
                                <li>
                                    <a href="" title="#">Коленвалы</a>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <a class="item-head" title="#">Шатунно-поршневая группа</a>
                                </li>
                                <li>
                                    <a href="" title="#">Коленвалы</a>
                                </li>
                                <li>
                                    <a href="" title="#">Коленвалы</a>
                                </li>
                                <li>
                                    <a href="" title="#">Коленвалы</a>
                                </li>
                                <li>
                                    <a href="" title="#">Коленвалы</a>
                                </li>
                            </ul>
                        </div>
                        <div class="coll-item">
                            <ul>
                                <li>
                                    <a class="item-head" title="#">Шатунно-поршневая группа</a>
                                </li>
                                <li>
                                    <a href="" title="#">Коленвалы</a>
                                </li>
                                <li>
                                    <a href="" title="#">Коленвалы</a>
                                </li>
                                <li>
                                    <a href="" title="#">Коленвалы</a>
                                </li>
                                <li>
                                    <a href="" title="#">Коленвалы</a>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <a class="item-head" title="#">Шатунно-поршневая группа</a>
                                </li>
                                <li>
                                    <a href="" title="#">Коленвалы</a>
                                </li>
                                <li>
                                    <a href="" title="#">Коленвалы</a>
                                </li>
                                <li>
                                    <a href="" title="#">Коленвалы</a>
                                </li>
                                <li>
                                    <a href="" title="#">Коленвалы</a>
                                </li>
                            </ul>
                        </div>
                        <div class="coll-item">
                            <ul>
                                <li>
                                    <a class="item-head" title="#">Шатунно-поршневая группа</a>
                                </li>
                                <li>
                                    <a href="" title="#">Коленвалы</a>
                                </li>
                                <li>
                                    <a href="" title="#">Коленвалы</a>
                                </li>
                                <li>
                                    <a href="" title="#">Коленвалы</a>
                                </li>
                                <li>
                                    <a href="" title="#">Коленвалы</a>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <a class="item-head" title="#">Шатунно-поршневая группа</a>
                                </li>
                                <li>
                                    <a href="" title="#">Коленвалы</a>
                                </li>
                                <li>
                                    <a href="" title="#">Коленвалы</a>
                                </li>
                                <li>
                                    <a href="" title="#">Коленвалы</a>
                                </li>
                                <li>
                                    <a href="" title="#">Коленвалы</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </li>
            <li>
                <a href="" title="Трансмиссия">
                    <span class="table-cell"><i class="ic_gear"></i></span>
                    <span class="table-cell"><span>Трансмиссия</span></span>
                    <span class="table-cell"><i class="ic_arrow"></i></span>
                </a>
                <ul class="child-items root">
                    <li>
                        <div class="coll-item">
                            <ul>
                                <li>
                                    <a class="item-head" title="Подгруппа трансмиссия">Подгруппа трансмиссия</a>
                                </li>
                                <li>
                                    <a href="" title="#">Коленвалы трансмиссия</a>
                                </li>
                                <li>
                                    <a href="" title="#">Коленвалы трансмиссия</a>
                                </li>
                                <li>
                                    <a href="" title="#">Коленвалы трансмиссия</a>
                                </li>
                                <li>
                                    <a href="" title="#">Коленвалы трансмиссия</a>
                                </li>
                                <li>
                                    <a href="" title="#">Коленвалы трансмиссия</a>
                                </li>
                                <li>
                                    <a href="" title="#">Коленвалы трансмиссия</a>
                                </li>
                                <li>
                                    <a href="" title="#">Коленвалы трансмиссия</a>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <a class="item-head" title="Шатунно трансмиссия">Шатунно трансмиссия</a>
                                </li>
                                <li>
                                    <a href="" title="#">Коленвалы трансмиссия</a>
                                </li>
                                <li>
                                    <a href="" title="#">Коленвалы трансмиссия</a>
                                </li>
                                <li>
                                    <a href="" title="#">Коленвалы трансмиссия</a>
                                </li>
                                <li>
                                    <a href="" title="#">Коленвалы трансмиссия</a>
                                </li>
                            </ul>
                        </div>
                        <div class="coll-item">
                            <ul>
                                <li>
                                    <a class="item-head" title="Шатунно трансмиссия">Шатунно трансмиссия</a>
                                </li>
                                <li>
                                    <a href="" title="#">Коленвалы трансмиссия</a>
                                </li>
                                <li>
                                    <a href="" title="#">Коленвалы трансмиссия</a>
                                </li>
                                <li>
                                    <a href="" title="#">Коленвалы трансмиссия</a>
                                </li>
                                <li>
                                    <a href="" title="#">Коленвалы трансмиссия</a>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <a class="item-head" title="Шатунно трансмиссия">Шатунно трансмиссия</a>
                                </li>
                                <li>
                                    <a href="" title="#">Коленвалы трансмиссия</a>
                                </li>
                                <li>
                                    <a href="" title="#">Коленвалы трансмиссия</a>
                                </li>
                                <li>
                                    <a href="" title="#">Коленвалы трансмиссия</a>
                                </li>
                                <li>
                                    <a href="" title="#">Коленвалы трансмиссия</a>
                                </li>
                            </ul>
                        </div>
                        <div class="coll-item">
                            <ul>
                                <li>
                                    <a class="item-head" title="#">Шатунно-поршневая группа</a>
                                </li>
                                <li>
                                    <a href="" title="#">Коленвалы</a>
                                </li>
                                <li>
                                    <a href="" title="#">Коленвалы</a>
                                </li>
                                <li>
                                    <a href="" title="#">Коленвалы</a>
                                </li>
                                <li>
                                    <a href="" title="#">Коленвалы</a>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <a class="item-head" title="#">Шатунно группа</a>
                                </li>
                                <li>
                                    <a href="" title="#">Коленвалы</a>
                                </li>
                                <li>
                                    <a href="" title="#">Коленвалы</a>
                                </li>
                                <li>
                                    <a href="" title="#">Коленвалы</a>
                                </li>
                                <li>
                                    <a href="" title="#">Коленвалы</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </li>
            <li>
                <a href="" title="Кузов и обвесы">
                    <span class="table-cell"> <i class="ic_carcase"></i></span>
                    <span class="table-cell"> <span>Кузов и обвесы</span></span>
                    <span class="table-cell"> <i class="ic_arrow"></i></span>
                </a>
            </li>
            <li>
                <a href="" title="Подвеска и ходовая">
                    <span class="table-cell"><i class="ic_suspension"></i></span>
                    <span class="table-cell"><span>Подвеска и ходовая</span></span>
                    <span class="table-cell"><i class="ic_arrow"></i></span>
                </a>
            </li>
            <li>
                <a href="" title="Колеса">
                    <span class="table-cell"><i class="ic_wheels"></i></span>
                    <span class="table-cell"><span>Колеса</span></span>
                    <span class="table-cell"><i class="ic_arrow"></i></span>
                </a>
            </li>
            <li>
                <a href="" title="Салон / интерьер">
                    <span class="table-cell"><i class="ic_chear"></i></span>
                    <span class="table-cell"><span>Салон / интерьер</span></span>
                    <span class="table-cell"><i class="ic_arrow"></i></span>
                </a>
            </li>
            <li>
                <a href="" title="Электрик">
                    <span class="table-cell"><i class="ic_electric"></i></span>
                    <span class="table-cell"><span>Электрик</span></span>
                    <span class="table-cell"><i class="ic_arrow"></i></span>
                </a>
            </li>
            <li>
                <a href="" title="Тормазная система">
                    <span class="table-cell"><i class="ic_break"></i></span>
                    <span class="table-cell"><span>Тормазная система</span></span>
                    <span class="table-cell"><i class="ic_arrow"></i></span>
                </a>
            </li>
            <li>
                <a href="" title="Аксессуары">
                    <span class="table-cell"><i class="ic_trinket"></i></span>
                    <span class="table-cell"><span>Аксессуары</span></span>
                    <span class="table-cell"><i class="ic_arrow"></i></span>
                </a>
            </li>
        </ul>
    </div>
</div>