<div class="filter">
  <div class="price block">
    <div class="row">
      <span class="name">Цена</span>
      <i class="ic_arrow-up2"></i>
    </div>
    <div class="row price-inputs">
      <div class="price-slider-cell table-cell">
         <input type="number" class="default-input grey min-price" id="min-price" value="1" name="min-price">
      </div>
     <div class="price-slider-cell table-cell">
        <span>&nbsp;&mdash;&nbsp;</span>
     </div>
     <div class="price-slicer-cell table-cell">
       <input type="number" class="default-input grey max-price" id="max-price" value="400" name="max-price">
     </div>
    </div>
    <div class="row price-slider-row">
      <div class="slider-gaps"></div>
    </div>
  </div>

  <div class="block">
    <div class="row">
      <span class="name">Название</span>
      <i class="ic_arrow-up2"></i>
    </div>
    <div class="row">
      <!--foreach inputs-->
      <div class="input-row">
        <input type="checkbox" id="filter-item-1">
        <label for="filter-item-1">Коленвалы</label>
      </div>
      <div class="input-row">
        <input type="checkbox" id="filter-item-1">
        <label for="filter-item-1">Шатуны</label>
      </div>
      <div class="input-row">
        <input type="checkbox" id="filter-item-1">
        <label for="filter-item-1">Поршни</label>
      </div>
      <div class="input-row">
        <input type="checkbox" id="filter-item-1">
        <label for="filter-item-1">Маслосьемные кольца</label>
      </div>
      <div class="input-row">
        <input type="checkbox" id="filter-item-1">
        <label for="filter-item-1">Шатунные вкладыши</label>
      </div>
      <div class="input-row">
        <input type="checkbox" id="filter-item-1">
        <label for="filter-item-1">Строкер-киты</label>
      </div>
      <div class="input-row">
        <input type="checkbox" id="filter-item-1">
        <label for="filter-item-1">Еще одна хреновина</label>
      </div>
      <!--endforeach-->
      <button>Сбросить фильтр</button>
    </div>
  </div>
  <div class="block">
    <div class="row">
      <!--foreach inputs-->
      <div class="input-row">
        <input type="radio" id="filter-item-1">
        <label for="filter-item-1">Коленвалы</label>
      </div>
      <div class="input-row">
        <input type="radio" id="filter-item-1">
        <label for="filter-item-1">Шатуны</label>
      </div>
      <div class="input-row">
        <input type="radio" id="filter-item-1">
        <label for="filter-item-1">Поршни</label>
      </div>
    </div>
    <div class="row">
      <input type="submit" value="Показать">
      <input type="reset" value="Сбросить все">
    </div>
  </div>
</div>