<div class="main-menu">
    <!--foreach $arResult-->
    <ul>
        <li>
            <span class="item-header">Компания</span>
            <ul class="root">
                <li>
                    <a href="" title="О компании">О компании</a>
                </li>
                <li>
                    <a href="" title="Новости">Новости</a>
                </li>
                <li>
                    <a href="" title="Вакансии">Вакансии</a>
                </li>
                <li>
                    <a href="" title="Контакты">Контакты</a>
                </li>
            </ul>
        </li>

    </ul>
    <ul>
        <li>
            <span class="item-header">Покупателям</span>
            <ul class="root">
                <li>
                    <a href="" title="Как заказать">Как заказать</a>
                </li>
                <li>
                    <a href="" title="Как оплатить">Как оплатить</a>
                </li>
                <li>
                    <a href="" title="Доставка и получение">Доставка и получение</a>
                </li>
                <li>
                    <a href="" title="Гарантия и возврат">Гарантия и возврат</a>
                </li>
                <li>
                    <a href="" title="Программа лояльности">Программа лояльности</a>
                </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li>
            <span class="item-header">Поставщикам</span>
            <ul class="root">
                <li>
                    <a href="" title="Условия сотрудничества">Условия сотрудничества</a>
                </li>
                <li>
                    <a href="" title="Шаблоны договоров">Шаблоны договоров</a>
                </li>
            </ul>
        </li>

    </ul>
    <!--endforeach-->
</div>
