<div class="top-cart toggle-btn">
    <i class="ic_cart"></i>
    <span class="fly-block-label">В корзине</span>
    <span class="drop-down-cart-block">
      <span class="cart-count">
        <span class="with-text">
          <span class="total-in-cart">0</span> товаров на
        </span>
        <span class="without-text">
          <span class="counter">
            <span class="counter-value">0</span>
          </span>
        </span>

      </span>
      <span class="cart-summ">100 000 <span class="rouble">P</span></span>
    </span>

    <a href="#" title="Оформить заказ" class="order-detail-btn vtip">
      <span class="make-order-txt">оформить</span><i class="ic_cart-make-order"></i>
    </a>
    <!--
     <span class="counter disabled">0</span>
     <span class="cart-summ">Нет товаров</span>
     -->
</div>
<div class="top-item-wrapper toggle-wrapper show-box">
    <div class="top-item-list table">
        {% for item in bookMarkItem %}
        <div class="item table-row">
            <div class="table-cell pic">
                <a href="#" title="{{item.name}}"><img src="{{item.img}}" alt="#"></a>
            </div>
            <div class="table-cell name">
                <a href="#" title="{{item.name}}">{{item.name}}</a>
            </div>
            <div class="table-cell status">
                <i class="ic_{{item.status}} vtip" title="В наличии 15 шт. в 5 магазинах"></i>
            </div>
            <div class="table-cell price">
                <span>{{item.price}} <span class="rouble">P</span></span>
            </div>
            <div class="table-cell amount">
                <span class="amound-up vtip" title="Уменьшить увеличть">+</span>
                <span class="vtip" title="Ввести количество"><input type="number" class="amountset vtip" title="Ввести количество" value="1"></span>
                <span
                        class="amound-down vtip" title="Уменьшить количество">-</span>
            </div>
            <div class="table-cell row-summ">
                <span>= 500 000 <span class="rouble">P</span></span>
            </div>
            <div class="table-cell bookmark ">
                <a href="#" title="Перенести в закладки" class="vtip"><i class="ic_bookmark"></i></a>
            </div>
            <div class="table-cell compared">
                <a href="#" title="Перенести в сравнение" class="vtip"><i class="ic_compared"></i></a>
            </div>
            <div class="table-cell remove-from" >
                <i class="ic_close vtip" title="Убрать из корзины"></i>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="cart-summ-block">
        <div class="table-cell">
            <a href="#" title="Детально" class="btn-round grey-light order-detail">Детально</a>
        </div>
        <div class="table-cell">
                            <span class="total-text">В корзине 7 товаров на общую сумму 7 200 <span
                                    class="rouble">P</span></span>
        </div>
        <div class="table-cell">
            <a href="#" title="Оформить" class="btn-round red-light do-order">Оформить <i
                    class="ic_arrow-down"></i></a>
        </div>
    </div>
</div>
