.fly-block{
  background-color: #181818;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 5;

  .fly-block-row{
    height: 40px;
    display: flex;
    align-items: stretch;
    float: right;
  }
  .block {
    text-align: center;
    position: relative;
    padding-left: 25px;
    padding-right: 25px;
    color: #FFFFFF;
    border-left: 1px solid #3e3e3e;
    border-radius: 1px;
    &.compared-wrapper, &.bookmark-wrapper, &.cart-wrapper{
      display: flex;
      align-items: center;
      &:hover{
        background-color: #000;
      }
    }
    &.cart-wrapper{
      border-right: 1px solid #3e3e3e;
    }
     &.compared-wrapper, &.bookmark-wrapper{
      position: relative;
    }
    .fly-block-label{
      margin-left: 10px;
      color: #c2c2c4;
    }
    .order-detail.disabled{
      background-color: #c1c1c3;
      padding: 7px;
      border-radius: 8px;
    }
  }
  .counter{
    box-sizing:border-box;
    background-color: #414141;
    border: 1px solid #b9b9bc;
    border-radius: 5px;
    color: #bababc;
    display: inline-block;
    font-size: 13px;
    font-weight: 400;
    min-width: 35px;
    margin-left: 10px;
    height: 25px;
    vertical-align: middle;
    position: relative;
    text-align: center;

    &.action-red{
      border-color: #de2d2a;
      background-color: #de2d2a;
      color:#fff;
    }
    .counter-value {
      display: flex;
      height: 23px;
      vertical-align: middle;
      width: 100%;
      align-items: center;
      justify-content: center;
    }
  }
  .added-msg {
    display: block;
    position: absolute;
    top: -25px;
    z-index: 10;
    box-sizing: border-box;
    vertical-align: middle;
    background-color: #de2d2a;
    border-radius: 5px;
    padding: 5px;
    padding-left: 7px;
    padding-right: 7px;
    text-decoration: none;
    color: #fff;
    text-align: center;
    font-size: 13px;
    width: auto;
    &:after{
      display: block;
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 10px 7.5px 0 7.5px;
      border-color: #de2d2a transparent transparent transparent;
      bottom: -10px;
      left: 47%;
    }
  }
}
