.fly-block{
  background-color: #1e1e1e;
  position: fixed;
  bottom: 0;
  height: 70px;
  width: 100%;
  z-index: 5;
  .fly-block-row{
    float: right;
  }
  .block {
    text-align: center;
    position: relative;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-left: 25px;
    padding-right: 25px;
    color: #FFFFFF;
    &.compared-wrapper, &.bookmark-wrapper{
      &:before{
        left: 0px;
        display: block;
        content: "";
        position: absolute;
        width: 1px;
        height: 80%;
        top: 8px;
        background-color: #3a3a3a;
      }
    }
     &.compared-wrapper, &.bookmark-wrapper{
      position: relative;
    }
    &.compared-wrapper:after{
      display: block;
      content: "";
      position: absolute;
      width: 1px;
      height: 80%;
      top: 8px;
      right:0;
      background-color: #3a3a3a;
    }
    .order-detail.disabled{
      background-color: #c1c1c3;
      padding: 7px;
      border-radius: 8px;
    }
  }
  .counter{
    background-color: #434343;
    border: 1px solid;
    border-radius: 10px;
    color: #a43634;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    height: 16px;
    margin-left: 10px;
    position: relative;
    min-width: 38px;
    padding: 10px 2px;
    text-align: center;
    &.disabled{
      border-color: #b9b9bc;
      color: #b9b9bc;
    }
  }
}
