footer, footer>.wrapper{
  background-color: #434041;
  .bottom-menu-wrapper{
    @include span(7 of 15 1/4);
  }
  .price-list-wrapper{
    @include span(3 of 15 at 6 1/4);
  }
  .subscribe-wrapper{
    @include span(3 of 15 at 9 1/4);
  }
  .social-wrapper{
    @include span(2 of 15 at 13 1/4 last);
  }
}
footer{
  padding-top:20px;
  margin-bottom: 52px;
  color: #c9c9c9;
  .bottom-line{
    height: 35px;
    background-color: #434041;
  }
  a{
    color: #c9c9c9;
  }
  .item-header{
    font-weight: 500;
    font-size: 1.1em;
    margin-bottom: 10px;
  }
  .social-wrapper{
    text-align: center;
    i{
      cursor: pointer;
    }
    ul li{
      display: inline-block;
      margin-right: 4px;
      margin-left: 4px;
    }
    .ya-widget{
      border-radius: 4px;
      text-align: center;
      border: 1px solid;
      margin-top: 50px;
      padding-bottom:10px;
      cursor: pointer;
      display: block;
      text-decoration: none;
      span{
        color: #d20606;
      }
      &:hover{
        background-color: #3b3b3b;
        border-color: #c9c9c9;
        color:#c9c9c9 ;
      }
    }
  }
  .system-pay-row{
    text-align: center;
    margin-top: 30px;
    clear: both;
  }
  .system-pay{
    min-height: 50px;
    padding-top: 10px;
   .system-pay-list{
     li{
       display: inline-block;
       vertical-align: middle;
       padding-right: 24px;
       a{
         display: block;
         background-position: top left;
         &:hover{
           background-position: 100% 100%;
         }
       }

       @include breakpoint(max-width 1205px){
          padding-right:21px;
       }
       @include breakpoint(max-width 1148px){
         padding-right:19px;
       }
       @include breakpoint(max-width 1108px){
         padding-right:18px;
       }
       @include breakpoint(max-width 1091px){
         padding-right:17px;
       }
       @include breakpoint(max-width 1067px){
         padding-right:14px;
       }
       &:nth-child(20){
        padding-right:0;
       }
     }
   }
  }
  .date-created{
    float: left;
  }
  .created-by{
    float: right;
  }
  .date-created, .created-by{
    margin-top:13px;
    color: #686868;
  }
}
.price-list-wrapper{
  a {
    text-decoration: none;
    span{
      margin-left: 10px;
      text-decoration: underline;
    }
    &:hover{
      .ic_xls{
        @include sprite($ic_xls-hover);
      }
    }
    &:hover{
      .ic_zip{
        @include sprite($ic_zip-hover);
      }
    }
  }
  .date{
    color: #9f9f9f;
    display: inline-block;
    padding-top: 6px;
    margin-bottom: 10px;
  }
}
.subscribe-wrapper{
  text-align: center;
  #subcribe{
    border:1px solid;
    border-radius: 8px;
    background-color: #434041;;
    color:#c0c0c2;
    height: 35px;
    width: 100%;
    font-size: 1.1em;
    cursor: pointer;
    box-sizing: border-box;
    &:hover{
      color: #bf312e;
    }
  }
  .row{
    margin-bottom: 10px;
  }
  .input-email{
    height: 35px;
    width: 100%;
    border:1px solid #c1c1c3;
    border-radius: 8px;
    color:#c0c0c2;
    background-color: #434041;
    text-align: center;
    font-size: 1.1em;
    font-style: italic;
    box-sizing: border-box;
  }
}
.bottom-line{

}
