header {
  background-color: #1e1e1e;
  .top-line{
    height: 40px;
    background-color: #ffffff;
  }
  .top-menu-block{
    float: left;
  }
  .user-menu-block{
    float: right;
    padding-left: 25px;
    border-left: 1px solid #cdcdcf;
    height: 40px;
    padding-right: 7px;
    padding-left: 7px;
  }
  .top-panel{
    height: 65px;
    border-bottom: 5px solid #000000;
    .cart-wrapper{
      float: right;
    }
    .block {
      position: relative;
      display: table-cell;
      height: 70px;
      vertical-align: middle;
      color: #FFFFFF;
      &.compared-wrapper, &.bookmark-wrapper{
        padding-right: 10px;
        padding-left: 10px;
      }
       &.compared-wrapper, &.bookmark-wrapper{
        position: relative;
      }
    }
    .counter{
      background-color: #434343;
      border: 1px solid;
      border-radius: 9px;
      color: #a43634;
      display: inline-block;
      font-size: 16px;
      font-weight: 700;
      height: 16px;
      margin-left: 10px;
      padding: 9px;
      position: relative;
    }
    .ic_compared, .ic_bookmark, .ic_cart, .ic_cart-order-arrow-btn, .ic_cart-order-arrow-btn-active{
      position: relative;
      top: 7px;
    }
  }
  .logo{
    width: 1%;
    padding-right: 20px;
  }
  .catalog-menu-wrapper{
    width: 14%;
  }
  .search-wrapper{
    padding-right: 25px;
  }
  .basket-panel {
    width: 40%;
  }
}

