header {
  background-color: #1e1e1e;
  a{
    color: #000;
  }
  .top-line{
    height: 40px;
    background-color: #ffffff;
  }
  .top-menu-block{
    float: left;
  }
  .user-menu-block{
    float: right;
    border-left: 1px solid #3e3e3e;
    height: 40px;
    padding-right: 20px;
    padding-left: 25px;
  }
  .top-panel{
    height: 65px;
    border-bottom: 5px solid #1e1e1e;
    z-index: 5;
    width: 100%;
    background-color: #1e1e1e;
    .cart-wrapper{

    }
    .block {
      text-align: center;
      position: relative;
      display: table-cell;
      height: 70px;
      vertical-align: middle;
      color: #FFFFFF;
    }
  }
  .logo{
    width: 1%;
  }
  .catalog-menu-wrapper{
    width: 14%;
  }
  .search-wrapper{
    padding-right: 25px;
  }
  .basket-panel {
    width: 40%;
  }
}
