header {
  background-color: #1e1e1e;
  a{
    color: #000;
  }
  .logo.block {
    @include breakpoint(max-width $width-large){
      width: 160px;
      text-align: left;
    }
  }
  .table{
    width: 100%;
    position: relative;
  }
  .top-line{
    height: 40px;
    background-color: #ffffff;
    @include breakpoint(max-width $width-large){
      display: none;
    }
  }
  .top-menu-block{
    float: left;
  }
  .user-menu-block{
    float: right;
    border-left: 1px solid #3e3e3e;
    height: 40px;
    padding-right: 20px;
    padding-left: 25px;
    @include breakpoint(max-width $width-large){
      display: none;
      padding: 0;
      border: none;
    }
  }
  .top-panel{
    height: 65px;
    border-bottom: 5px solid #1e1e1e;
    z-index: 5;
    width: 100%;
    background-color: #1e1e1e;
    @include breakpoint(max-width $width-large){
      height: 48px;
    }
    .cart-wrapper{

    }
    .block {
      text-align: center;
      display: table-cell;
      height: 70px;
      vertical-align: middle;
      color: #FFFFFF;
      @include breakpoint(max-width $width-large){
        height: 48px;
      }
    }
  }
  .logo{
    width: 1%;
    img{
      width: 120px;
    }
  }
  .catalog-menu-wrapper{
    width: 14%;
    @include breakpoint(max-width $width-large){
    //  width: 200px;
    }
  }
  .search-wrapper{
    padding-right: 25px;
  }
  .basket-panel {
    width: 40%;
  }
}
