header, main, footer{
  min-width: $wrapper-min-width;
}

body{
  font-size: $base-font-size;
}
a{
  color: #000000;
  &:hover{
    color: #bf312e;
  }
}
i{
  display: inline-block;
}
.wrapper{
  margin: 0 auto;
  max-width: $wrapper-max-width;
  min-width: $wrapper-min-width;
  margin-left: 10px;
  margin-right: 10px;
  display: table;
  height: 100%;
}
html, body {
  height: 100%;
}
main {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -268px;
}
footer, .push {
  height: 268px;
}
.table{
  display: table;
}
.table-row{
  display: table-row;
}
.table-cell{
  display: table-cell;
}

