header, main, footer, html, body{

}
body{
  min-width: $wrapper-min-width;
  font-size: $base-font-size;
}
a{
  color: #000000;
  &:hover{
    color: #bf312e;
  }
}
i{
  text-decoration: none;
  vertical-align: middle;
  display: inline-block;
}
.wrapper{
  margin: 0 auto;
  max-width: $wrapper-max-width;
  min-width: $wrapper-min-width;
}
.container{
  padding-left: $padding;
  padding-right: $padding;
}
html, body {
  height: 100%;
}
main {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -268px;
}
footer, .push {
  height: 268px;
}
.table{
  display: table;
}
.table-row{
  display: table-row;
}
.table-cell{
  display: table-cell;
}
.rouble {
  display: inline-block;
  position: relative;
}
.rouble:before {
  display: block;
  content: "–";
  position: absolute;
  top: 0.2em;
  left: -0.1em;
}
.left{
  @include span(18.5%);
  @include post(2%); 
}
.right{
  @include span(79.5% last);
}
.container{
  @include container;
}
.text-right{
  text-align: right;
}
.text-center{
  text-align: center;
}
.text-left{
  text-align: left;
}
.borer-grey{
  border: 1px solid #bcbabf
}
main>.wrapper{
  padding-bottom: 50px;
}
