.ic_bag {
  @include sprite($ic_bag);
}

.ic_jurnal {
  @include sprite($ic_jurnal);
}

.ic_people {
  @include sprite($ic_people);
}

.ic_user {
  @include sprite($ic_user);
}

.ic_menu {
  @include sprite($ic_menu);
}

.ic_search {
  @include sprite($ic_search);
}

.ic_bookmark {
  @include sprite($ic-book-mark);
  &:hover {
    @include sprite($ic-book-mark-hover);
  }
}

.ic_compared {
  @include sprite($ic_compared);
  &:hover {
    @include sprite($ic_compared-hover);
  }
}
.ic_bookmark-mini {
  @include sprite($ic-bookmark-mini);
  &:hover {
    @include sprite($ic-bookmark-mini-hover);
  }
}

.ic_compared-mini {
  @include sprite($ic_compared-mini);
  &:hover {
    @include sprite($ic_compared-mini-hover);
  }
}
.ic_cart {
  @include sprite($ic_cart);
  &:hover {
    @include sprite($ic_cart-hover);
  }
}

.ic_cart-order-arrow-btn {
  @include sprite($ic_cart-order-arrow-btn);
}

.ic_cart-order-arrow-btn-active {
  @include sprite($ic_cart-order-arrow-btn-active);
}

.ic_arrow-down-disabled {
  @include sprite($ic_arrow-down-disabled);
}

.ic_close {
  @include sprite($ic_close);
  &:hover {
    @include sprite($ic_close-hover);
  }
}

.tocart-btn {
  border: 1px solid #6a6a6a;
  border-radius: 6px;
  padding: 2px 8px 2px;
  display: inline-block;
  &:hover {
    border-color: $color-link-hover;
    .ic_cart_item {
      @include sprite($ic_cart_item-hover);
    }
  }
}
.ic_fast-buy{
  @include sprite($ic_fast-buy);
    &:hover {
    border-color: $color-link-hover;
    .ic_fast-buy {
      @include sprite($ic_fast-buy-hover);
    }
  }
}
.ic_cart_item {
  @include sprite($ic_cart_item);
  &:hover {
    @include sprite($ic_cart_item-hover);
  }
}

.ic_allow {
  @include sprite($ic_allow);
  &~span {
    color: #009700;
    font-size: 0.9em;
    font-weight: 100;
  }
}

.ic_not-allow {
  @include sprite($ic_not-allow);
  &~span {
    color: #de2e2a;
    font-size: 0.9em;
    font-weight: 100;
  }
}

.ic_wait {
  @include sprite($ic_wait);
  &~span {
    color: #ff9200;
    font-size: 0.9em;
    font-weight: 100;
  }
}

.ic_arrow-down {
  @include sprite($ic_arrow-down);
}

.ic_arrow-down-hover {
  @include sprite($ic_arrow-down-hover);
}

.ic_arrow {
  @include sprite($ic_arrow);
  &:hover {
    @include sprite($ic_arrow-hover);
  }
}

.ic_engine {
  @include sprite($ic_engine);
}

.ic_gear {
  @include sprite($ic_gear);
}

.ic_carcase {
  @include sprite($ic_carcase);
}

.ic_suspension {
  @include sprite($ic_suspension);
}

.ic_wheels {
  @include sprite($ic_wheels);
}

.ic_chear {
  @include sprite($ic_chear);
}

.ic_electric {
  @include sprite($ic_electic);
}

.ic_break {
  @include sprite($ic_break);
}

.ic_trinket {
  @include sprite($ic_trinket);
}

.ic_xls {
  @include sprite($ic_xls);
}

.ic_zip {
  @include sprite($ic_zip);
}

.ic_xls-hover {
  @include sprite($ic_xls-hover);
}

.ic_zip-hover {
  @include sprite($ic_zip-hover);
}

.ic_vk {
  @include sprite($ic_vk);
  &:hover {
    @include sprite($ic_vk-hover);
  }
}

.ic_facebook {
  @include sprite($ic_facebook);
  &:hover {
    @include sprite($ic_facebook-hover);
  }
}

.ic_youtube {
  @include sprite($ic_youtube);
  &:hover {
    @include sprite($ic_youtube-hover);
  }
}

.ic_inst {
  @include sprite($ic_inst);
  &:hover {
    @include sprite($ic_inst-hover);
  }
}
.ic_question{
  @include sprite($ic_question);
}
.ic_no{
  @include sprite($ic_no);
}
.ic_yes{
  @include sprite($ic_yes);
}
.ic_stars {
  @include sprite($ic_stars);
}

.ic_address {
  @include sprite($ic_address);
}

.ic_arrow-up2 {
  @include sprite($ic_arrow_up2);
}

.ic_star-0 {
  @include sprite($ic_star-0);
}

.ic_star-1 {
  @include sprite($ic_star-1);
}

.ic_star-2 {
  @include sprite($ic_star-2);
}

.ic_star-3 {
  @include sprite($ic_star-3);
}

.ic_star-4 {
  @include sprite($ic_star-4);
}

.ic_star-5 {
  @include sprite($ic_star-5);
}