body{
  font-family: $base-font-famaly;
}
main{
  line-height: 1.4em;
  p{
    margin-top: 1em;
  }
}
h1{
  font-size: 2em;
  margin-bottom: 1em;
}
h2{}
h3{
  font-weight: 400;
  font-size: 1.3em;
}
b{
  font-weight: 600;
}