.btn-round{
  text-decoration: none;
  padding: 5px 20px;
  border-radius: 10px;
  &.grey{
    background-color: #6a6a6a;
    color: #fff;
    &:hover{
      background-color: scale_color(#6a6a6a, 40);
    }
  }
  &.grey-light{
    border: 1px solid #6b6b6b;
    color: #6b6b6b;
    &:hover{
      background-color: #8d8d8d;
      color: #fff;
    }
  }
  &.red-light{
    border: 1px solid #de2d29;
    color: #de2d29;
    &:hover{
      background-color: #de2d2a;
      color: #fff;
    }
  }
}
.toggle-btn {
  background: transparent none repeat scroll 0 0;
  border: medium none;
  &:active{
    position:unset;
  }
}
