.input-number-box {
  display: inline-block;
}

.default-input {
  height: 20px;
  border: 1px solid;
  border-radius: 6px;
  color: #000;
  &.grey {
    border-color: #bababc;
    &:focus {
      border-color: $color-link-hover;
    }
  }
}