<!DOCTYPE html>
<html>

<head>
   <meta charset="utf-8">
  <title>New project</title>
  <!-- bootstrap:css -->
  <!-- endinject -->

  <!-- dev:css -->
  <link rel="stylesheet" href="./css/screen.css">
  <link rel="stylesheet" href="./css/fonts/roboto/roboto.css">
  <!-- endinject -->
</head>

<body>
  <header>

  </header>
  <main> 
	test 22
  </main>
  <footer>
    
  </footer>
  
  <!-- jquery:js -->
  <!-- endinject -->
  
  <!-- bootstrap:js -->
  <!-- endinject -->
 
  <!-- dev:js -->
  <script src="./js/main.js"></script>
  <!-- endinject -->
</body>


</html>