{% extends './../layout/main.html'%} {% block content %}
<div class="wrapper">
  <div class="container">
    <!--start component breadcrumbs-->
    {%include './../component/breadcrumbs.html'%}
    <!--end component breadcrumbs-->
    <h1>{{sectionName}}</h1>
    <div class="content">
      <div class="product">
        <div class="product-content">
          <div class="cell">
            <div class="slider-product">
              <div class="slider-image">
                <ul class="bxslider">
                  <li>
                    <img src="./images/product-slide1.jpg" alt="">
                  </li>
                  <li>
                    <img src="./images/product-slide1.jpg" alt="">
                  </li>
                  <li>
                    <img src="./images/product-slide1.jpg" alt="">
                  </li>
                  <li>
                    <img src="./images/product-slide1.jpg" alt="">
                  </li>
                  <li>
                    <img src="./images/product-slide1.jpg" alt="">
                  </li>
                  <li>
                    <img src="./images/product-slide1.jpg" alt="">
                  </li>
                  <li>
                    <img src="./images/product-slide1.jpg" alt="">
                  </li>
                </ul>
                <div id="bx-pager">
                  <a data-slide-index="0" href=""><span><img src="./images/product-slide1-mini.png"></span></a>
                  <a data-slide-index="1" href=""><span><img src="./images/product-slide1-mini.png"></span></a>
                  <a data-slide-index="2" href=""><span><img src="./images/product-slide1-mini.png"></span></a>
                  <a data-slide-index="3" href=""><span><img src="./images/product-slide1-mini.png"></span></a>
                  <a data-slide-index="4" href=""><span><img src="./images/product-slide1-mini.png"></span></a>
                  <a data-slide-index="5" href=""><span><img src="./images/product-slide1-mini.png"></span></a>
                  <a data-slide-index="6" href=""><span><img src="./images/product-slide1-mini.png"></span></a>
                </div>
              </div>
            </div>
          </div>
          <div class="cell descr">
            <div class="text">
              Секретки компании McGard (США - www.mcgard.com, Германия - www.mcgard.de) изготавливаются из высокопрочных легированных сталей и в обязательном порядке подвергается сквозной термообработке с конечной твердостью 50—54 единицы по шкале Роквелла. Для коррозионной стойкости болты и гайки покрывают трехслойным никель-хромовым покрытием.
            </div>
            <div class="property-list ">
              <div class="p">
                <div class="l">Артикул</div>
                <div class="r">395359957</div>
              </div>
              <div class="p">
                <div class="l">Резьба</div>
                <div class="r">М 12х1,5</div>
              </div>
              <div class="p">
                <div class="l">Посадка</div>
                <div class="r">Болт</div>
              </div>
              <div class="p">
                <div class="l">Длина резьбы</div>
                <div class="r">18 мм</div>
              </div>
              <div class="p">
                <div class="l">Размер ключа</div>
                <div class="r">17 мм</div>
              </div>
              <div class="p">
                <div class="l">Вид крепежа</div>
                <div class="r">Болт</div>
              </div>
            </div>
            <div class="row soc-component">
              <img src="./images/soc.png" alt="">
            </div>
          </div>
          <div class="cell">
            <div class="price-block">
              <div class="price-info">
                <div class="wrapp">
                  <div class="head">Цена</div>
                  <div class="price">
                    2 800 <span class="rouble">P</span>
                  </div>
                  <div class="price-type">
                    <ul>
                      <li><span>Вид цены:</span><span>Простой покупатель</span></li>
                      <li><span>Базовая цена: </span><span>2 800</span> <span class="rouble">P</span></li>
                      <li><span>Накопительный бонус: </span><span>2 800</span> <span class="rouble">P</span></li>
                    </ul>
                  </div>
                  <div class="cart-buttons">
                    <div class="add-to-block">
                      <div class="add-to-bookmark">
                        <i class="ic_bookmark-mini"></i>
                      </div>
                      <div class="add-to-compare">
                        <i class="ic_compared-mini"></i>
                      </div>
                    </div>
                    <div class="to-cart-buttons">
                      <a class="tocart-btn" href="" title="В корзину">
                        <i class="ic_cart_item"></i>
                      </a>
                      <a class="fast-buy-btn" href="" title="Купить в один клик">
                        <i class="ic_fast-buy"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="amount-in-store">
                <div class="wrapp">
                  <div class="head">Наличие</div>
                  <div class="p">
                    <div class="l">Магазин 1</div>
                    <div class="r">10 шт</div>
                  </div>
                  <div class="p">
                    <div class="l">Магазин 2</div>
                    <div class="r">20 шт</div>
                  </div>
                  <div class="p">
                    <div class="l">Магазин 3</div>
                    <div class="r">10 шт</div>
                  </div>
                </div>
              </div>
              <div class="dop-prop">
                <div class="wrapp">
                  <div class="head">Совместимость</div>
                  <ul>
                    <li><span><i class="ic_yes"></i>Audi RS 7</span></li>
                    <li><span><i class="ic_no"></i>Nissan skyline</span></li>
                    <li><span><i class="ic_question"></i>BMW</span></li>
                    <li>
                      <ul class="drop-down">
                        <li><span><i class="ic_question"></i>BMW</span></li>
                        <li><span><i class="ic_question"></i>BMW</span></li>
                        <li><span><i class="ic_question"></i>BMW</span></li>
                        <li><span><i class="ic_question"></i>BMW</span></li>
                      </ul>
                    </li>
                  </ul>
                  <div class="text-center">
                    <button class="show-next grey-button-default">
                      Показать остальные<i class="ic_arrow-up2"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="product-bottom-row">
          <div class="rating">
            <div class="head">Оценка: <i class="ic_stars-4"></i></div>
          </div>
          <div class="buttons">
            <ul>
              <li>
                <a href="" title="Подробные характеристики">Подробные характеристики</a>
              </li>
              <li>
                <a href="" title="Инструкции">Инструкции</a>
              </li>
              <li>
                <a href="" title="Отзывы">Отзывы</a>
              </li>
              <li>
                <a href="" title="Детальное описание">Детальное описание</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}