$ic-allow-name: 'ic_allow';
$ic-allow-x: 82px;
$ic-allow-y: 12px;
$ic-allow-offset-x: -82px;
$ic-allow-offset-y: -12px;
$ic-allow-width: 15px;
$ic-allow-height: 15px;
$ic-allow-total-width: 104px;
$ic-allow-total-height: 87px;
$ic-allow-image: '../images/sprite.png';
$ic-allow: (82px, 12px, -82px, -12px, 15px, 15px, 104px, 87px, '../images/sprite.png', 'ic_allow', );
$ic-arrow-up-name: 'ic_arrow-up';
$ic-arrow-up-x: 82px;
$ic-arrow-up-y: 0px;
$ic-arrow-up-offset-x: -82px;
$ic-arrow-up-offset-y: 0px;
$ic-arrow-up-width: 22px;
$ic-arrow-up-height: 12px;
$ic-arrow-up-total-width: 104px;
$ic-arrow-up-total-height: 87px;
$ic-arrow-up-image: '../images/sprite.png';
$ic-arrow-up: (82px, 0px, -82px, 0px, 22px, 12px, 104px, 87px, '../images/sprite.png', 'ic_arrow-up', );
$ic-bag-name: 'ic_bag';
$ic-bag-x: 0px;
$ic-bag-y: 73px;
$ic-bag-offset-x: 0px;
$ic-bag-offset-y: -73px;
$ic-bag-width: 14px;
$ic-bag-height: 14px;
$ic-bag-total-width: 104px;
$ic-bag-total-height: 87px;
$ic-bag-image: '../images/sprite.png';
$ic-bag: (0px, 73px, 0px, -73px, 14px, 14px, 104px, 87px, '../images/sprite.png', 'ic_bag', );
$ic-book-mark-name: 'ic_book-mark';
$ic-book-mark-x: 26px;
$ic-book-mark-y: 47px;
$ic-book-mark-offset-x: -26px;
$ic-book-mark-offset-y: -47px;
$ic-book-mark-width: 19px;
$ic-book-mark-height: 26px;
$ic-book-mark-total-width: 104px;
$ic-book-mark-total-height: 87px;
$ic-book-mark-image: '../images/sprite.png';
$ic-book-mark: (26px, 47px, -26px, -47px, 19px, 26px, 104px, 87px, '../images/sprite.png', 'ic_book-mark', );
$ic-cart-order-arrow-btn-active-name: 'ic_cart-order-arrow-btn-active';
$ic-cart-order-arrow-btn-active-x: 28px;
$ic-cart-order-arrow-btn-active-y: 21px;
$ic-cart-order-arrow-btn-active-offset-x: -28px;
$ic-cart-order-arrow-btn-active-offset-y: -21px;
$ic-cart-order-arrow-btn-active-width: 27px;
$ic-cart-order-arrow-btn-active-height: 26px;
$ic-cart-order-arrow-btn-active-total-width: 104px;
$ic-cart-order-arrow-btn-active-total-height: 87px;
$ic-cart-order-arrow-btn-active-image: '../images/sprite.png';
$ic-cart-order-arrow-btn-active: (28px, 21px, -28px, -21px, 27px, 26px, 104px, 87px, '../images/sprite.png', 'ic_cart-order-arrow-btn-active', );
$ic-cart-order-arrow-btn-name: 'ic_cart-order-arrow-btn';
$ic-cart-order-arrow-btn-x: 55px;
$ic-cart-order-arrow-btn-y: 21px;
$ic-cart-order-arrow-btn-offset-x: -55px;
$ic-cart-order-arrow-btn-offset-y: -21px;
$ic-cart-order-arrow-btn-width: 27px;
$ic-cart-order-arrow-btn-height: 26px;
$ic-cart-order-arrow-btn-total-width: 104px;
$ic-cart-order-arrow-btn-total-height: 87px;
$ic-cart-order-arrow-btn-image: '../images/sprite.png';
$ic-cart-order-arrow-btn: (55px, 21px, -55px, -21px, 27px, 26px, 104px, 87px, '../images/sprite.png', 'ic_cart-order-arrow-btn', );
$ic-cart-name: 'ic_cart';
$ic-cart-x: 0px;
$ic-cart-y: 21px;
$ic-cart-offset-x: 0px;
$ic-cart-offset-y: -21px;
$ic-cart-width: 28px;
$ic-cart-height: 26px;
$ic-cart-total-width: 104px;
$ic-cart-total-height: 87px;
$ic-cart-image: '../images/sprite.png';
$ic-cart: (0px, 21px, 0px, -21px, 28px, 26px, 104px, 87px, '../images/sprite.png', 'ic_cart', );
$ic-cart-item-hover-name: 'ic_cart_item-hover';
$ic-cart-item-hover-x: 0px;
$ic-cart-item-hover-y: 0px;
$ic-cart-item-hover-offset-x: 0px;
$ic-cart-item-hover-offset-y: 0px;
$ic-cart-item-hover-width: 41px;
$ic-cart-item-hover-height: 21px;
$ic-cart-item-hover-total-width: 104px;
$ic-cart-item-hover-total-height: 87px;
$ic-cart-item-hover-image: '../images/sprite.png';
$ic-cart-item-hover: (0px, 0px, 0px, 0px, 41px, 21px, 104px, 87px, '../images/sprite.png', 'ic_cart_item-hover', );
$ic-cart-item-name: 'ic_cart_item';
$ic-cart-item-x: 41px;
$ic-cart-item-y: 0px;
$ic-cart-item-offset-x: -41px;
$ic-cart-item-offset-y: 0px;
$ic-cart-item-width: 41px;
$ic-cart-item-height: 21px;
$ic-cart-item-total-width: 104px;
$ic-cart-item-total-height: 87px;
$ic-cart-item-image: '../images/sprite.png';
$ic-cart-item: (41px, 0px, -41px, 0px, 41px, 21px, 104px, 87px, '../images/sprite.png', 'ic_cart_item', );
$ic-close-hover-name: 'ic_close-hover';
$ic-close-hover-x: 43px;
$ic-close-hover-y: 73px;
$ic-close-hover-offset-x: -43px;
$ic-close-hover-offset-y: -73px;
$ic-close-hover-width: 9px;
$ic-close-hover-height: 9px;
$ic-close-hover-total-width: 104px;
$ic-close-hover-total-height: 87px;
$ic-close-hover-image: '../images/sprite.png';
$ic-close-hover: (43px, 73px, -43px, -73px, 9px, 9px, 104px, 87px, '../images/sprite.png', 'ic_close-hover', );
$ic-close-name: 'ic_close';
$ic-close-x: 61px;
$ic-close-y: 73px;
$ic-close-offset-x: -61px;
$ic-close-offset-y: -73px;
$ic-close-width: 9px;
$ic-close-height: 9px;
$ic-close-total-width: 104px;
$ic-close-total-height: 87px;
$ic-close-image: '../images/sprite.png';
$ic-close: (61px, 73px, -61px, -73px, 9px, 9px, 104px, 87px, '../images/sprite.png', 'ic_close', );
$ic-compared-name: 'ic_compared';
$ic-compared-x: 45px;
$ic-compared-y: 47px;
$ic-compared-offset-x: -45px;
$ic-compared-offset-y: -47px;
$ic-compared-width: 16px;
$ic-compared-height: 26px;
$ic-compared-total-width: 104px;
$ic-compared-total-height: 87px;
$ic-compared-image: '../images/sprite.png';
$ic-compared: (45px, 47px, -45px, -47px, 16px, 26px, 104px, 87px, '../images/sprite.png', 'ic_compared', );
$ic-jurnal-name: 'ic_jurnal';
$ic-jurnal-x: 14px;
$ic-jurnal-y: 73px;
$ic-jurnal-offset-x: -14px;
$ic-jurnal-offset-y: -73px;
$ic-jurnal-width: 13px;
$ic-jurnal-height: 13px;
$ic-jurnal-total-width: 104px;
$ic-jurnal-total-height: 87px;
$ic-jurnal-image: '../images/sprite.png';
$ic-jurnal: (14px, 73px, -14px, -73px, 13px, 13px, 104px, 87px, '../images/sprite.png', 'ic_jurnal', );
$ic-menu-name: 'ic_menu';
$ic-menu-x: 27px;
$ic-menu-y: 73px;
$ic-menu-offset-x: -27px;
$ic-menu-offset-y: -73px;
$ic-menu-width: 16px;
$ic-menu-height: 10px;
$ic-menu-total-width: 104px;
$ic-menu-total-height: 87px;
$ic-menu-image: '../images/sprite.png';
$ic-menu: (27px, 73px, -27px, -73px, 16px, 10px, 104px, 87px, '../images/sprite.png', 'ic_menu', );
$ic-not-allow-name: 'ic_not-allow';
$ic-not-allow-x: 82px;
$ic-not-allow-y: 27px;
$ic-not-allow-offset-x: -82px;
$ic-not-allow-offset-y: -27px;
$ic-not-allow-width: 15px;
$ic-not-allow-height: 15px;
$ic-not-allow-total-width: 104px;
$ic-not-allow-total-height: 87px;
$ic-not-allow-image: '../images/sprite.png';
$ic-not-allow: (82px, 27px, -82px, -27px, 15px, 15px, 104px, 87px, '../images/sprite.png', 'ic_not-allow', );
$ic-people-name: 'ic_people';
$ic-people-x: 82px;
$ic-people-y: 57px;
$ic-people-offset-x: -82px;
$ic-people-offset-y: -57px;
$ic-people-width: 17px;
$ic-people-height: 13px;
$ic-people-total-width: 104px;
$ic-people-total-height: 87px;
$ic-people-image: '../images/sprite.png';
$ic-people: (82px, 57px, -82px, -57px, 17px, 13px, 104px, 87px, '../images/sprite.png', 'ic_people', );
$ic-search-name: 'ic_search';
$ic-search-x: 61px;
$ic-search-y: 47px;
$ic-search-offset-x: -61px;
$ic-search-offset-y: -47px;
$ic-search-width: 20px;
$ic-search-height: 20px;
$ic-search-total-width: 104px;
$ic-search-total-height: 87px;
$ic-search-image: '../images/sprite.png';
$ic-search: (61px, 47px, -61px, -47px, 20px, 20px, 104px, 87px, '../images/sprite.png', 'ic_search', );
$ic-user-name: 'ic_user';
$ic-user-x: 0px;
$ic-user-y: 47px;
$ic-user-offset-x: 0px;
$ic-user-offset-y: -47px;
$ic-user-width: 26px;
$ic-user-height: 26px;
$ic-user-total-width: 104px;
$ic-user-total-height: 87px;
$ic-user-image: '../images/sprite.png';
$ic-user: (0px, 47px, 0px, -47px, 26px, 26px, 104px, 87px, '../images/sprite.png', 'ic_user', );
$ic-wait-name: 'ic_wait';
$ic-wait-x: 82px;
$ic-wait-y: 42px;
$ic-wait-offset-x: -82px;
$ic-wait-offset-y: -42px;
$ic-wait-width: 15px;
$ic-wait-height: 15px;
$ic-wait-total-width: 104px;
$ic-wait-total-height: 87px;
$ic-wait-image: '../images/sprite.png';
$ic-wait: (82px, 42px, -82px, -42px, 15px, 15px, 104px, 87px, '../images/sprite.png', 'ic_wait', );
$we-name: 'we';
$we-x: 52px;
$we-y: 73px;
$we-offset-x: -52px;
$we-offset-y: -73px;
$we-width: 9px;
$we-height: 9px;
$we-total-width: 104px;
$we-total-height: 87px;
$we-image: '../images/sprite.png';
$we: (52px, 73px, -52px, -73px, 9px, 9px, 104px, 87px, '../images/sprite.png', 'we', );
$spritesheet-width: 104px;
$spritesheet-height: 87px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($ic-allow, $ic-arrow-up, $ic-bag, $ic-book-mark, $ic-cart-order-arrow-btn-active, $ic-cart-order-arrow-btn, $ic-cart, $ic-cart-item-hover, $ic-cart-item, $ic-close-hover, $ic-close, $ic-compared, $ic-jurnal, $ic-menu, $ic-not-allow, $ic-people, $ic-search, $ic-user, $ic-wait, $we, );
$spritesheet: (104px, 87px, '../images/sprite.png', $spritesheet-sprites, );

@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
