$ic-address-name: 'ic_address';
$ic-address-x: 80px;
$ic-address-y: 57px;
$ic-address-offset-x: -80px;
$ic-address-offset-y: -57px;
$ic-address-width: 12px;
$ic-address-height: 14px;
$ic-address-total-width: 167px;
$ic-address-total-height: 149px;
$ic-address-image: '../images/sprite.png';
$ic-address: (80px, 57px, -80px, -57px, 12px, 14px, 167px, 149px, '../images/sprite.png', 'ic_address', );
$ic-allow-name: 'ic_allow';
$ic-allow-x: 151px;
$ic-allow-y: 69px;
$ic-allow-offset-x: -151px;
$ic-allow-offset-y: -69px;
$ic-allow-width: 15px;
$ic-allow-height: 15px;
$ic-allow-total-width: 167px;
$ic-allow-total-height: 149px;
$ic-allow-image: '../images/sprite.png';
$ic-allow: (151px, 69px, -151px, -69px, 15px, 15px, 167px, 149px, '../images/sprite.png', 'ic_allow', );
$ic-arrow-down-disabled-name: 'ic_arrow-down-disabled';
$ic-arrow-down-disabled-x: 151px;
$ic-arrow-down-disabled-y: 36px;
$ic-arrow-down-disabled-offset-x: -151px;
$ic-arrow-down-disabled-offset-y: -36px;
$ic-arrow-down-disabled-width: 15px;
$ic-arrow-down-disabled-height: 18px;
$ic-arrow-down-disabled-total-width: 167px;
$ic-arrow-down-disabled-total-height: 149px;
$ic-arrow-down-disabled-image: '../images/sprite.png';
$ic-arrow-down-disabled: (151px, 36px, -151px, -36px, 15px, 18px, 167px, 149px, '../images/sprite.png', 'ic_arrow-down-disabled', );
$ic-arrow-down-hover-name: 'ic_arrow-down-hover';
$ic-arrow-down-hover-x: 34px;
$ic-arrow-down-hover-y: 132px;
$ic-arrow-down-hover-offset-x: -34px;
$ic-arrow-down-hover-offset-y: -132px;
$ic-arrow-down-hover-width: 11px;
$ic-arrow-down-hover-height: 13px;
$ic-arrow-down-hover-total-width: 167px;
$ic-arrow-down-hover-total-height: 149px;
$ic-arrow-down-hover-image: '../images/sprite.png';
$ic-arrow-down-hover: (34px, 132px, -34px, -132px, 11px, 13px, 167px, 149px, '../images/sprite.png', 'ic_arrow-down-hover', );
$ic-arrow-down-name: 'ic_arrow-down';
$ic-arrow-down-x: 56px;
$ic-arrow-down-y: 21px;
$ic-arrow-down-offset-x: -56px;
$ic-arrow-down-offset-y: -21px;
$ic-arrow-down-width: 11px;
$ic-arrow-down-height: 13px;
$ic-arrow-down-total-width: 167px;
$ic-arrow-down-total-height: 149px;
$ic-arrow-down-image: '../images/sprite.png';
$ic-arrow-down: (56px, 21px, -56px, -21px, 11px, 13px, 167px, 149px, '../images/sprite.png', 'ic_arrow-down', );
$ic-arrow-hover-name: 'ic_arrow-hover';
$ic-arrow-hover-x: 161px;
$ic-arrow-hover-y: 120px;
$ic-arrow-hover-offset-x: -161px;
$ic-arrow-hover-offset-y: -120px;
$ic-arrow-hover-width: 4px;
$ic-arrow-hover-height: 7px;
$ic-arrow-hover-total-width: 167px;
$ic-arrow-hover-total-height: 149px;
$ic-arrow-hover-image: '../images/sprite.png';
$ic-arrow-hover: (161px, 120px, -161px, -120px, 4px, 7px, 167px, 149px, '../images/sprite.png', 'ic_arrow-hover', );
$ic-arrow-up-name: 'ic_arrow-up';
$ic-arrow-up-x: 72px;
$ic-arrow-up-y: 93px;
$ic-arrow-up-offset-x: -72px;
$ic-arrow-up-offset-y: -93px;
$ic-arrow-up-width: 22px;
$ic-arrow-up-height: 12px;
$ic-arrow-up-total-width: 167px;
$ic-arrow-up-total-height: 149px;
$ic-arrow-up-image: '../images/sprite.png';
$ic-arrow-up: (72px, 93px, -72px, -93px, 22px, 12px, 167px, 149px, '../images/sprite.png', 'ic_arrow-up', );
$ic-arrow-name: 'ic_arrow';
$ic-arrow-x: 161px;
$ic-arrow-y: 113px;
$ic-arrow-offset-x: -161px;
$ic-arrow-offset-y: -113px;
$ic-arrow-width: 4px;
$ic-arrow-height: 7px;
$ic-arrow-total-width: 167px;
$ic-arrow-total-height: 149px;
$ic-arrow-image: '../images/sprite.png';
$ic-arrow: (161px, 113px, -161px, -113px, 4px, 7px, 167px, 149px, '../images/sprite.png', 'ic_arrow', );
$ic-arrow-up2-name: 'ic_arrow_up2';
$ic-arrow-up2-x: 67px;
$ic-arrow-up2-y: 52px;
$ic-arrow-up2-offset-x: -67px;
$ic-arrow-up2-offset-y: -52px;
$ic-arrow-up2-width: 8px;
$ic-arrow-up2-height: 5px;
$ic-arrow-up2-total-width: 167px;
$ic-arrow-up2-total-height: 149px;
$ic-arrow-up2-image: '../images/sprite.png';
$ic-arrow-up2: (67px, 52px, -67px, -52px, 8px, 5px, 167px, 149px, '../images/sprite.png', 'ic_arrow_up2', );
$ic-bag-name: 'ic_bag';
$ic-bag-x: 151px;
$ic-bag-y: 99px;
$ic-bag-offset-x: -151px;
$ic-bag-offset-y: -99px;
$ic-bag-width: 14px;
$ic-bag-height: 14px;
$ic-bag-total-width: 167px;
$ic-bag-total-height: 149px;
$ic-bag-image: '../images/sprite.png';
$ic-bag: (151px, 99px, -151px, -99px, 14px, 14px, 167px, 149px, '../images/sprite.png', 'ic_bag', );
$ic-book-mark-hover-name: 'ic_book-mark-hover';
$ic-book-mark-hover-x: 95px;
$ic-book-mark-hover-y: 53px;
$ic-book-mark-hover-offset-x: -95px;
$ic-book-mark-hover-offset-y: -53px;
$ic-book-mark-hover-width: 19px;
$ic-book-mark-hover-height: 26px;
$ic-book-mark-hover-total-width: 167px;
$ic-book-mark-hover-total-height: 149px;
$ic-book-mark-hover-image: '../images/sprite.png';
$ic-book-mark-hover: (95px, 53px, -95px, -53px, 19px, 26px, 167px, 149px, '../images/sprite.png', 'ic_book-mark-hover', );
$ic-book-mark-name: 'ic_book-mark';
$ic-book-mark-x: 95px;
$ic-book-mark-y: 27px;
$ic-book-mark-offset-x: -95px;
$ic-book-mark-offset-y: -27px;
$ic-book-mark-width: 19px;
$ic-book-mark-height: 26px;
$ic-book-mark-total-width: 167px;
$ic-book-mark-total-height: 149px;
$ic-book-mark-image: '../images/sprite.png';
$ic-book-mark: (95px, 27px, -95px, -27px, 19px, 26px, 167px, 149px, '../images/sprite.png', 'ic_book-mark', );
$ic-break-name: 'ic_break';
$ic-break-x: 41px;
$ic-break-y: 36px;
$ic-break-offset-x: -41px;
$ic-break-offset-y: -36px;
$ic-break-width: 21px;
$ic-break-height: 20px;
$ic-break-total-width: 167px;
$ic-break-total-height: 149px;
$ic-break-image: '../images/sprite.png';
$ic-break: (41px, 36px, -41px, -36px, 21px, 20px, 167px, 149px, '../images/sprite.png', 'ic_break', );
$ic-carcase-name: 'ic_carcase';
$ic-carcase-x: 26px;
$ic-carcase-y: 21px;
$ic-carcase-offset-x: -26px;
$ic-carcase-offset-y: -21px;
$ic-carcase-width: 30px;
$ic-carcase-height: 14px;
$ic-carcase-total-width: 167px;
$ic-carcase-total-height: 149px;
$ic-carcase-image: '../images/sprite.png';
$ic-carcase: (26px, 21px, -26px, -21px, 30px, 14px, 167px, 149px, '../images/sprite.png', 'ic_carcase', );
$ic-cart-hover-name: 'ic_cart-hover';
$ic-cart-hover-x: 67px;
$ic-cart-hover-y: 26px;
$ic-cart-hover-offset-x: -67px;
$ic-cart-hover-offset-y: -26px;
$ic-cart-hover-width: 28px;
$ic-cart-hover-height: 26px;
$ic-cart-hover-total-width: 167px;
$ic-cart-hover-total-height: 149px;
$ic-cart-hover-image: '../images/sprite.png';
$ic-cart-hover: (67px, 26px, -67px, -26px, 28px, 26px, 167px, 149px, '../images/sprite.png', 'ic_cart-hover', );
$ic-cart-order-arrow-btn-active-name: 'ic_cart-order-arrow-btn-active';
$ic-cart-order-arrow-btn-active-x: 27px;
$ic-cart-order-arrow-btn-active-y: 57px;
$ic-cart-order-arrow-btn-active-offset-x: -27px;
$ic-cart-order-arrow-btn-active-offset-y: -57px;
$ic-cart-order-arrow-btn-active-width: 27px;
$ic-cart-order-arrow-btn-active-height: 26px;
$ic-cart-order-arrow-btn-active-total-width: 167px;
$ic-cart-order-arrow-btn-active-total-height: 149px;
$ic-cart-order-arrow-btn-active-image: '../images/sprite.png';
$ic-cart-order-arrow-btn-active: (27px, 57px, -27px, -57px, 27px, 26px, 167px, 149px, '../images/sprite.png', 'ic_cart-order-arrow-btn-active', );
$ic-cart-order-arrow-btn-name: 'ic_cart-order-arrow-btn';
$ic-cart-order-arrow-btn-x: 0px;
$ic-cart-order-arrow-btn-y: 57px;
$ic-cart-order-arrow-btn-offset-x: 0px;
$ic-cart-order-arrow-btn-offset-y: -57px;
$ic-cart-order-arrow-btn-width: 27px;
$ic-cart-order-arrow-btn-height: 26px;
$ic-cart-order-arrow-btn-total-width: 167px;
$ic-cart-order-arrow-btn-total-height: 149px;
$ic-cart-order-arrow-btn-image: '../images/sprite.png';
$ic-cart-order-arrow-btn: (0px, 57px, 0px, -57px, 27px, 26px, 167px, 149px, '../images/sprite.png', 'ic_cart-order-arrow-btn', );
$ic-cart-name: 'ic_cart';
$ic-cart-x: 67px;
$ic-cart-y: 0px;
$ic-cart-offset-x: -67px;
$ic-cart-offset-y: 0px;
$ic-cart-width: 28px;
$ic-cart-height: 26px;
$ic-cart-total-width: 167px;
$ic-cart-total-height: 149px;
$ic-cart-image: '../images/sprite.png';
$ic-cart: (67px, 0px, -67px, 0px, 28px, 26px, 167px, 149px, '../images/sprite.png', 'ic_cart', );
$ic-cart-item-hover-name: 'ic_cart_item-hover';
$ic-cart-item-hover-x: 0px;
$ic-cart-item-hover-y: 36px;
$ic-cart-item-hover-offset-x: 0px;
$ic-cart-item-hover-offset-y: -36px;
$ic-cart-item-hover-width: 41px;
$ic-cart-item-hover-height: 21px;
$ic-cart-item-hover-total-width: 167px;
$ic-cart-item-hover-total-height: 149px;
$ic-cart-item-hover-image: '../images/sprite.png';
$ic-cart-item-hover: (0px, 36px, 0px, -36px, 41px, 21px, 167px, 149px, '../images/sprite.png', 'ic_cart_item-hover', );
$ic-cart-item-name: 'ic_cart_item';
$ic-cart-item-x: 26px;
$ic-cart-item-y: 0px;
$ic-cart-item-offset-x: -26px;
$ic-cart-item-offset-y: 0px;
$ic-cart-item-width: 41px;
$ic-cart-item-height: 21px;
$ic-cart-item-total-width: 167px;
$ic-cart-item-total-height: 149px;
$ic-cart-item-image: '../images/sprite.png';
$ic-cart-item: (26px, 0px, -26px, 0px, 41px, 21px, 167px, 149px, '../images/sprite.png', 'ic_cart_item', );
$ic-chear-name: 'ic_chear';
$ic-chear-x: 132px;
$ic-chear-y: 0px;
$ic-chear-offset-x: -132px;
$ic-chear-offset-y: 0px;
$ic-chear-width: 19px;
$ic-chear-height: 22px;
$ic-chear-total-width: 167px;
$ic-chear-total-height: 149px;
$ic-chear-image: '../images/sprite.png';
$ic-chear: (132px, 0px, -132px, 0px, 19px, 22px, 167px, 149px, '../images/sprite.png', 'ic_chear', );
$ic-close-hover-name: 'ic_close-hover';
$ic-close-hover-x: 73px;
$ic-close-hover-y: 83px;
$ic-close-hover-offset-x: -73px;
$ic-close-hover-offset-y: -83px;
$ic-close-hover-width: 9px;
$ic-close-hover-height: 9px;
$ic-close-hover-total-width: 167px;
$ic-close-hover-total-height: 149px;
$ic-close-hover-image: '../images/sprite.png';
$ic-close-hover: (73px, 83px, -73px, -83px, 9px, 9px, 167px, 149px, '../images/sprite.png', 'ic_close-hover', );
$ic-close-name: 'ic_close';
$ic-close-x: 80px;
$ic-close-y: 71px;
$ic-close-offset-x: -80px;
$ic-close-offset-y: -71px;
$ic-close-width: 9px;
$ic-close-height: 9px;
$ic-close-total-width: 167px;
$ic-close-total-height: 149px;
$ic-close-image: '../images/sprite.png';
$ic-close: (80px, 71px, -80px, -71px, 9px, 9px, 167px, 149px, '../images/sprite.png', 'ic_close', );
$ic-compared-hover-name: 'ic_compared-hover';
$ic-compared-hover-x: 132px;
$ic-compared-hover-y: 22px;
$ic-compared-hover-offset-x: -132px;
$ic-compared-hover-offset-y: -22px;
$ic-compared-hover-width: 16px;
$ic-compared-hover-height: 26px;
$ic-compared-hover-total-width: 167px;
$ic-compared-hover-total-height: 149px;
$ic-compared-hover-image: '../images/sprite.png';
$ic-compared-hover: (132px, 22px, -132px, -22px, 16px, 26px, 167px, 149px, '../images/sprite.png', 'ic_compared-hover', );
$ic-compared-name: 'ic_compared';
$ic-compared-x: 132px;
$ic-compared-y: 48px;
$ic-compared-offset-x: -132px;
$ic-compared-offset-y: -48px;
$ic-compared-width: 16px;
$ic-compared-height: 26px;
$ic-compared-total-width: 167px;
$ic-compared-total-height: 149px;
$ic-compared-image: '../images/sprite.png';
$ic-compared: (132px, 48px, -132px, -48px, 16px, 26px, 167px, 149px, '../images/sprite.png', 'ic_compared', );
$ic-electic-name: 'ic_electic';
$ic-electic-x: 0px;
$ic-electic-y: 93px;
$ic-electic-offset-x: 0px;
$ic-electic-offset-y: -93px;
$ic-electic-width: 22px;
$ic-electic-height: 19px;
$ic-electic-total-width: 167px;
$ic-electic-total-height: 149px;
$ic-electic-image: '../images/sprite.png';
$ic-electic: (0px, 93px, 0px, -93px, 22px, 19px, 167px, 149px, '../images/sprite.png', 'ic_electic', );
$ic-engine-name: 'ic_engine';
$ic-engine-x: 20px;
$ic-engine-y: 112px;
$ic-engine-offset-x: -20px;
$ic-engine-offset-y: -112px;
$ic-engine-width: 20px;
$ic-engine-height: 20px;
$ic-engine-total-width: 167px;
$ic-engine-total-height: 149px;
$ic-engine-image: '../images/sprite.png';
$ic-engine: (20px, 112px, -20px, -112px, 20px, 20px, 167px, 149px, '../images/sprite.png', 'ic_engine', );
$ic-facebook-hover-name: 'ic_facebook-hover';
$ic-facebook-hover-x: 151px;
$ic-facebook-hover-y: 130px;
$ic-facebook-hover-offset-x: -151px;
$ic-facebook-hover-offset-y: -130px;
$ic-facebook-hover-width: 10px;
$ic-facebook-hover-height: 17px;
$ic-facebook-hover-total-width: 167px;
$ic-facebook-hover-total-height: 149px;
$ic-facebook-hover-image: '../images/sprite.png';
$ic-facebook-hover: (151px, 130px, -151px, -130px, 10px, 17px, 167px, 149px, '../images/sprite.png', 'ic_facebook-hover', );
$ic-facebook-name: 'ic_facebook';
$ic-facebook-x: 151px;
$ic-facebook-y: 113px;
$ic-facebook-offset-x: -151px;
$ic-facebook-offset-y: -113px;
$ic-facebook-width: 10px;
$ic-facebook-height: 17px;
$ic-facebook-total-width: 167px;
$ic-facebook-total-height: 149px;
$ic-facebook-image: '../images/sprite.png';
$ic-facebook: (151px, 113px, -151px, -113px, 10px, 17px, 167px, 149px, '../images/sprite.png', 'ic_facebook', );
$ic-gear-name: 'ic_gear';
$ic-gear-x: 114px;
$ic-gear-y: 0px;
$ic-gear-offset-x: -114px;
$ic-gear-offset-y: 0px;
$ic-gear-width: 18px;
$ic-gear-height: 26px;
$ic-gear-total-width: 167px;
$ic-gear-total-height: 149px;
$ic-gear-image: '../images/sprite.png';
$ic-gear: (114px, 0px, -114px, 0px, 18px, 26px, 167px, 149px, '../images/sprite.png', 'ic_gear', );
$ic-inst-hover-name: 'ic_inst-hover';
$ic-inst-hover-x: 114px;
$ic-inst-hover-y: 44px;
$ic-inst-hover-offset-x: -114px;
$ic-inst-hover-offset-y: -44px;
$ic-inst-hover-width: 18px;
$ic-inst-hover-height: 18px;
$ic-inst-hover-total-width: 167px;
$ic-inst-hover-total-height: 149px;
$ic-inst-hover-image: '../images/sprite.png';
$ic-inst-hover: (114px, 44px, -114px, -44px, 18px, 18px, 167px, 149px, '../images/sprite.png', 'ic_inst-hover', );
$ic-inst-name: 'ic_inst';
$ic-inst-x: 114px;
$ic-inst-y: 26px;
$ic-inst-offset-x: -114px;
$ic-inst-offset-y: -26px;
$ic-inst-width: 18px;
$ic-inst-height: 18px;
$ic-inst-total-width: 167px;
$ic-inst-total-height: 149px;
$ic-inst-image: '../images/sprite.png';
$ic-inst: (114px, 26px, -114px, -26px, 18px, 18px, 167px, 149px, '../images/sprite.png', 'ic_inst', );
$ic-jurnal-name: 'ic_jurnal';
$ic-jurnal-x: 95px;
$ic-jurnal-y: 79px;
$ic-jurnal-offset-x: -95px;
$ic-jurnal-offset-y: -79px;
$ic-jurnal-width: 13px;
$ic-jurnal-height: 13px;
$ic-jurnal-total-width: 167px;
$ic-jurnal-total-height: 149px;
$ic-jurnal-image: '../images/sprite.png';
$ic-jurnal: (95px, 79px, -95px, -79px, 13px, 13px, 167px, 149px, '../images/sprite.png', 'ic_jurnal', );
$ic-menu-name: 'ic_menu';
$ic-menu-x: 57px;
$ic-menu-y: 83px;
$ic-menu-offset-x: -57px;
$ic-menu-offset-y: -83px;
$ic-menu-width: 16px;
$ic-menu-height: 10px;
$ic-menu-total-width: 167px;
$ic-menu-total-height: 149px;
$ic-menu-image: '../images/sprite.png';
$ic-menu: (57px, 83px, -57px, -83px, 16px, 10px, 167px, 149px, '../images/sprite.png', 'ic_menu', );
$ic-not-allow-name: 'ic_not-allow';
$ic-not-allow-x: 151px;
$ic-not-allow-y: 84px;
$ic-not-allow-offset-x: -151px;
$ic-not-allow-offset-y: -84px;
$ic-not-allow-width: 15px;
$ic-not-allow-height: 15px;
$ic-not-allow-total-width: 167px;
$ic-not-allow-total-height: 149px;
$ic-not-allow-image: '../images/sprite.png';
$ic-not-allow: (151px, 84px, -151px, -84px, 15px, 15px, 167px, 149px, '../images/sprite.png', 'ic_not-allow', );
$ic-people-name: 'ic_people';
$ic-people-x: 114px;
$ic-people-y: 80px;
$ic-people-offset-x: -114px;
$ic-people-offset-y: -80px;
$ic-people-width: 17px;
$ic-people-height: 13px;
$ic-people-total-width: 167px;
$ic-people-total-height: 149px;
$ic-people-image: '../images/sprite.png';
$ic-people: (114px, 80px, -114px, -80px, 17px, 13px, 167px, 149px, '../images/sprite.png', 'ic_people', );
$ic-search-name: 'ic_search';
$ic-search-x: 40px;
$ic-search-y: 112px;
$ic-search-offset-x: -40px;
$ic-search-offset-y: -112px;
$ic-search-width: 20px;
$ic-search-height: 20px;
$ic-search-total-width: 167px;
$ic-search-total-height: 149px;
$ic-search-image: '../images/sprite.png';
$ic-search: (40px, 112px, -40px, -112px, 20px, 20px, 167px, 149px, '../images/sprite.png', 'ic_search', );
$ic-stars-name: 'ic_stars';
$ic-stars-x: 0px;
$ic-stars-y: 83px;
$ic-stars-offset-x: 0px;
$ic-stars-offset-y: -83px;
$ic-stars-width: 57px;
$ic-stars-height: 10px;
$ic-stars-total-width: 167px;
$ic-stars-total-height: 149px;
$ic-stars-image: '../images/sprite.png';
$ic-stars: (0px, 83px, 0px, -83px, 57px, 10px, 167px, 149px, '../images/sprite.png', 'ic_stars', );
$ic-suspension-name: 'ic_suspension';
$ic-suspension-x: 0px;
$ic-suspension-y: 0px;
$ic-suspension-offset-x: 0px;
$ic-suspension-offset-y: 0px;
$ic-suspension-width: 26px;
$ic-suspension-height: 36px;
$ic-suspension-total-width: 167px;
$ic-suspension-total-height: 149px;
$ic-suspension-image: '../images/sprite.png';
$ic-suspension: (0px, 0px, 0px, 0px, 26px, 36px, 167px, 149px, '../images/sprite.png', 'ic_suspension', );
$ic-trinket-name: 'ic_trinket';
$ic-trinket-x: 95px;
$ic-trinket-y: 0px;
$ic-trinket-offset-x: -95px;
$ic-trinket-offset-y: 0px;
$ic-trinket-width: 19px;
$ic-trinket-height: 27px;
$ic-trinket-total-width: 167px;
$ic-trinket-total-height: 149px;
$ic-trinket-image: '../images/sprite.png';
$ic-trinket: (95px, 0px, -95px, 0px, 19px, 27px, 167px, 149px, '../images/sprite.png', 'ic_trinket', );
$ic-user-name: 'ic_user';
$ic-user-x: 54px;
$ic-user-y: 57px;
$ic-user-offset-x: -54px;
$ic-user-offset-y: -57px;
$ic-user-width: 26px;
$ic-user-height: 26px;
$ic-user-total-width: 167px;
$ic-user-total-height: 149px;
$ic-user-image: '../images/sprite.png';
$ic-user: (54px, 57px, -54px, -57px, 26px, 26px, 167px, 149px, '../images/sprite.png', 'ic_user', );
$ic-view-list-hover-name: 'ic_view-list-hover';
$ic-view-list-hover-x: 129px;
$ic-view-list-hover-y: 112px;
$ic-view-list-hover-offset-x: -129px;
$ic-view-list-hover-offset-y: -112px;
$ic-view-list-hover-width: 17px;
$ic-view-list-hover-height: 17px;
$ic-view-list-hover-total-width: 167px;
$ic-view-list-hover-total-height: 149px;
$ic-view-list-hover-image: '../images/sprite.png';
$ic-view-list-hover: (129px, 112px, -129px, -112px, 17px, 17px, 167px, 149px, '../images/sprite.png', 'ic_view-list-hover', );
$ic-view-list-name: 'ic_view-list';
$ic-view-list-x: 0px;
$ic-view-list-y: 132px;
$ic-view-list-offset-x: 0px;
$ic-view-list-offset-y: -132px;
$ic-view-list-width: 17px;
$ic-view-list-height: 17px;
$ic-view-list-total-width: 167px;
$ic-view-list-total-height: 149px;
$ic-view-list-image: '../images/sprite.png';
$ic-view-list: (0px, 132px, 0px, -132px, 17px, 17px, 167px, 149px, '../images/sprite.png', 'ic_view-list', );
$ic-view-mini-list-hover-name: 'ic_view-mini-list-hover';
$ic-view-mini-list-hover-x: 17px;
$ic-view-mini-list-hover-y: 132px;
$ic-view-mini-list-hover-offset-x: -17px;
$ic-view-mini-list-hover-offset-y: -132px;
$ic-view-mini-list-hover-width: 17px;
$ic-view-mini-list-hover-height: 17px;
$ic-view-mini-list-hover-total-width: 167px;
$ic-view-mini-list-hover-total-height: 149px;
$ic-view-mini-list-hover-image: '../images/sprite.png';
$ic-view-mini-list-hover: (17px, 132px, -17px, -132px, 17px, 17px, 167px, 149px, '../images/sprite.png', 'ic_view-mini-list-hover', );
$ic-view-mini-list-name: 'ic_view-mini-list';
$ic-view-mini-list-x: 95px;
$ic-view-mini-list-y: 112px;
$ic-view-mini-list-offset-x: -95px;
$ic-view-mini-list-offset-y: -112px;
$ic-view-mini-list-width: 17px;
$ic-view-mini-list-height: 17px;
$ic-view-mini-list-total-width: 167px;
$ic-view-mini-list-total-height: 149px;
$ic-view-mini-list-image: '../images/sprite.png';
$ic-view-mini-list: (95px, 112px, -95px, -112px, 17px, 17px, 167px, 149px, '../images/sprite.png', 'ic_view-mini-list', );
$ic-view-table-hover-name: 'ic_view-table-hover';
$ic-view-table-hover-x: 78px;
$ic-view-table-hover-y: 112px;
$ic-view-table-hover-offset-x: -78px;
$ic-view-table-hover-offset-y: -112px;
$ic-view-table-hover-width: 17px;
$ic-view-table-hover-height: 17px;
$ic-view-table-hover-total-width: 167px;
$ic-view-table-hover-total-height: 149px;
$ic-view-table-hover-image: '../images/sprite.png';
$ic-view-table-hover: (78px, 112px, -78px, -112px, 17px, 17px, 167px, 149px, '../images/sprite.png', 'ic_view-table-hover', );
$ic-view-table-name: 'ic_view-table';
$ic-view-table-x: 112px;
$ic-view-table-y: 112px;
$ic-view-table-offset-x: -112px;
$ic-view-table-offset-y: -112px;
$ic-view-table-width: 17px;
$ic-view-table-height: 17px;
$ic-view-table-total-width: 167px;
$ic-view-table-total-height: 149px;
$ic-view-table-image: '../images/sprite.png';
$ic-view-table: (112px, 112px, -112px, -112px, 17px, 17px, 167px, 149px, '../images/sprite.png', 'ic_view-table', );
$ic-vk-hover-name: 'ic_vk-hover';
$ic-vk-hover-x: 47px;
$ic-vk-hover-y: 93px;
$ic-vk-hover-offset-x: -47px;
$ic-vk-hover-offset-y: -93px;
$ic-vk-hover-width: 25px;
$ic-vk-hover-height: 14px;
$ic-vk-hover-total-width: 167px;
$ic-vk-hover-total-height: 149px;
$ic-vk-hover-image: '../images/sprite.png';
$ic-vk-hover: (47px, 93px, -47px, -93px, 25px, 14px, 167px, 149px, '../images/sprite.png', 'ic_vk-hover', );
$ic-vk-name: 'ic_vk';
$ic-vk-x: 22px;
$ic-vk-y: 93px;
$ic-vk-offset-x: -22px;
$ic-vk-offset-y: -93px;
$ic-vk-width: 25px;
$ic-vk-height: 14px;
$ic-vk-total-width: 167px;
$ic-vk-total-height: 149px;
$ic-vk-image: '../images/sprite.png';
$ic-vk: (22px, 93px, -22px, -93px, 25px, 14px, 167px, 149px, '../images/sprite.png', 'ic_vk', );
$ic-wait-name: 'ic_wait';
$ic-wait-x: 151px;
$ic-wait-y: 54px;
$ic-wait-offset-x: -151px;
$ic-wait-offset-y: -54px;
$ic-wait-width: 15px;
$ic-wait-height: 15px;
$ic-wait-total-width: 167px;
$ic-wait-total-height: 149px;
$ic-wait-image: '../images/sprite.png';
$ic-wait: (151px, 54px, -151px, -54px, 15px, 15px, 167px, 149px, '../images/sprite.png', 'ic_wait', );
$ic-wheels-name: 'ic_wheels';
$ic-wheels-x: 0px;
$ic-wheels-y: 112px;
$ic-wheels-offset-x: 0px;
$ic-wheels-offset-y: -112px;
$ic-wheels-width: 20px;
$ic-wheels-height: 20px;
$ic-wheels-total-width: 167px;
$ic-wheels-total-height: 149px;
$ic-wheels-image: '../images/sprite.png';
$ic-wheels: (0px, 112px, 0px, -112px, 20px, 20px, 167px, 149px, '../images/sprite.png', 'ic_wheels', );
$ic-xls-hover-name: 'ic_xls-hover';
$ic-xls-hover-x: 114px;
$ic-xls-hover-y: 62px;
$ic-xls-hover-offset-x: -114px;
$ic-xls-hover-offset-y: -62px;
$ic-xls-hover-width: 18px;
$ic-xls-hover-height: 18px;
$ic-xls-hover-total-width: 167px;
$ic-xls-hover-total-height: 149px;
$ic-xls-hover-image: '../images/sprite.png';
$ic-xls-hover: (114px, 62px, -114px, -62px, 18px, 18px, 167px, 149px, '../images/sprite.png', 'ic_xls-hover', );
$ic-xls-name: 'ic_xls';
$ic-xls-x: 60px;
$ic-xls-y: 112px;
$ic-xls-offset-x: -60px;
$ic-xls-offset-y: -112px;
$ic-xls-width: 18px;
$ic-xls-height: 18px;
$ic-xls-total-width: 167px;
$ic-xls-total-height: 149px;
$ic-xls-image: '../images/sprite.png';
$ic-xls: (60px, 112px, -60px, -112px, 18px, 18px, 167px, 149px, '../images/sprite.png', 'ic_xls', );
$ic-youtube-hover-name: 'ic_youtube-hover';
$ic-youtube-hover-x: 132px;
$ic-youtube-hover-y: 92px;
$ic-youtube-hover-offset-x: -132px;
$ic-youtube-hover-offset-y: -92px;
$ic-youtube-hover-width: 19px;
$ic-youtube-hover-height: 18px;
$ic-youtube-hover-total-width: 167px;
$ic-youtube-hover-total-height: 149px;
$ic-youtube-hover-image: '../images/sprite.png';
$ic-youtube-hover: (132px, 92px, -132px, -92px, 19px, 18px, 167px, 149px, '../images/sprite.png', 'ic_youtube-hover', );
$ic-youtube-name: 'ic_youtube';
$ic-youtube-x: 132px;
$ic-youtube-y: 74px;
$ic-youtube-offset-x: -132px;
$ic-youtube-offset-y: -74px;
$ic-youtube-width: 19px;
$ic-youtube-height: 18px;
$ic-youtube-total-width: 167px;
$ic-youtube-total-height: 149px;
$ic-youtube-image: '../images/sprite.png';
$ic-youtube: (132px, 74px, -132px, -74px, 19px, 18px, 167px, 149px, '../images/sprite.png', 'ic_youtube', );
$ic-zip-hover-name: 'ic_zip-hover';
$ic-zip-hover-x: 151px;
$ic-zip-hover-y: 0px;
$ic-zip-hover-offset-x: -151px;
$ic-zip-hover-offset-y: 0px;
$ic-zip-hover-width: 16px;
$ic-zip-hover-height: 18px;
$ic-zip-hover-total-width: 167px;
$ic-zip-hover-total-height: 149px;
$ic-zip-hover-image: '../images/sprite.png';
$ic-zip-hover: (151px, 0px, -151px, 0px, 16px, 18px, 167px, 149px, '../images/sprite.png', 'ic_zip-hover', );
$ic-zip-name: 'ic_zip';
$ic-zip-x: 151px;
$ic-zip-y: 18px;
$ic-zip-offset-x: -151px;
$ic-zip-offset-y: -18px;
$ic-zip-width: 16px;
$ic-zip-height: 18px;
$ic-zip-total-width: 167px;
$ic-zip-total-height: 149px;
$ic-zip-image: '../images/sprite.png';
$ic-zip: (151px, 18px, -151px, -18px, 16px, 18px, 167px, 149px, '../images/sprite.png', 'ic_zip', );
$we-name: 'we';
$we-x: 82px;
$we-y: 83px;
$we-offset-x: -82px;
$we-offset-y: -83px;
$we-width: 9px;
$we-height: 9px;
$we-total-width: 167px;
$we-total-height: 149px;
$we-image: '../images/sprite.png';
$we: (82px, 83px, -82px, -83px, 9px, 9px, 167px, 149px, '../images/sprite.png', 'we', );
$spritesheet-width: 167px;
$spritesheet-height: 149px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($ic-address, $ic-allow, $ic-arrow-down-disabled, $ic-arrow-down-hover, $ic-arrow-down, $ic-arrow-hover, $ic-arrow-up, $ic-arrow, $ic-arrow-up2, $ic-bag, $ic-book-mark-hover, $ic-book-mark, $ic-break, $ic-carcase, $ic-cart-hover, $ic-cart-order-arrow-btn-active, $ic-cart-order-arrow-btn, $ic-cart, $ic-cart-item-hover, $ic-cart-item, $ic-chear, $ic-close-hover, $ic-close, $ic-compared-hover, $ic-compared, $ic-electic, $ic-engine, $ic-facebook-hover, $ic-facebook, $ic-gear, $ic-inst-hover, $ic-inst, $ic-jurnal, $ic-menu, $ic-not-allow, $ic-people, $ic-search, $ic-stars, $ic-suspension, $ic-trinket, $ic-user, $ic-view-list-hover, $ic-view-list, $ic-view-mini-list-hover, $ic-view-mini-list, $ic-view-table-hover, $ic-view-table, $ic-vk-hover, $ic-vk, $ic-wait, $ic-wheels, $ic-xls-hover, $ic-xls, $ic-youtube-hover, $ic-youtube, $ic-zip-hover, $ic-zip, $we, );
$spritesheet: (167px, 149px, '../images/sprite.png', $spritesheet-sprites, );

@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
