$ic-address-name: 'ic_address';
$ic-address-x: 255px;
$ic-address-y: 160px;
$ic-address-offset-x: -255px;
$ic-address-offset-y: -160px;
$ic-address-width: 12px;
$ic-address-height: 14px;
$ic-address-total-width: 271px;
$ic-address-total-height: 245px;
$ic-address-image: '../images/sprite.png';
$ic-address: (255px, 160px, -255px, -160px, 12px, 14px, 271px, 245px, '../images/sprite.png', 'ic_address', );
$ic-allow-name: 'ic_allow';
$ic-allow-x: 255px;
$ic-allow-y: 54px;
$ic-allow-offset-x: -255px;
$ic-allow-offset-y: -54px;
$ic-allow-width: 15px;
$ic-allow-height: 15px;
$ic-allow-total-width: 271px;
$ic-allow-total-height: 245px;
$ic-allow-image: '../images/sprite.png';
$ic-allow: (255px, 54px, -255px, -54px, 15px, 15px, 271px, 245px, '../images/sprite.png', 'ic_allow', );
$ic-arrow-down-disabled-name: 'ic_arrow-down-disabled';
$ic-arrow-down-disabled-x: 255px;
$ic-arrow-down-disabled-y: 36px;
$ic-arrow-down-disabled-offset-x: -255px;
$ic-arrow-down-disabled-offset-y: -36px;
$ic-arrow-down-disabled-width: 15px;
$ic-arrow-down-disabled-height: 18px;
$ic-arrow-down-disabled-total-width: 271px;
$ic-arrow-down-disabled-total-height: 245px;
$ic-arrow-down-disabled-image: '../images/sprite.png';
$ic-arrow-down-disabled: (255px, 36px, -255px, -36px, 15px, 18px, 271px, 245px, '../images/sprite.png', 'ic_arrow-down-disabled', );
$ic-arrow-down-hover-name: 'ic_arrow-down-hover';
$ic-arrow-down-hover-x: 255px;
$ic-arrow-down-hover-y: 197px;
$ic-arrow-down-hover-offset-x: -255px;
$ic-arrow-down-hover-offset-y: -197px;
$ic-arrow-down-hover-width: 11px;
$ic-arrow-down-hover-height: 13px;
$ic-arrow-down-hover-total-width: 271px;
$ic-arrow-down-hover-total-height: 245px;
$ic-arrow-down-hover-image: '../images/sprite.png';
$ic-arrow-down-hover: (255px, 197px, -255px, -197px, 11px, 13px, 271px, 245px, '../images/sprite.png', 'ic_arrow-down-hover', );
$ic-arrow-down-name: 'ic_arrow-down';
$ic-arrow-down-x: 255px;
$ic-arrow-down-y: 184px;
$ic-arrow-down-offset-x: -255px;
$ic-arrow-down-offset-y: -184px;
$ic-arrow-down-width: 11px;
$ic-arrow-down-height: 13px;
$ic-arrow-down-total-width: 271px;
$ic-arrow-down-total-height: 245px;
$ic-arrow-down-image: '../images/sprite.png';
$ic-arrow-down: (255px, 184px, -255px, -184px, 11px, 13px, 271px, 245px, '../images/sprite.png', 'ic_arrow-down', );
$ic-arrow-hover-name: 'ic_arrow-hover';
$ic-arrow-hover-x: 265px;
$ic-arrow-hover-y: 120px;
$ic-arrow-hover-offset-x: -265px;
$ic-arrow-hover-offset-y: -120px;
$ic-arrow-hover-width: 4px;
$ic-arrow-hover-height: 7px;
$ic-arrow-hover-total-width: 271px;
$ic-arrow-hover-total-height: 245px;
$ic-arrow-hover-image: '../images/sprite.png';
$ic-arrow-hover: (265px, 120px, -265px, -120px, 4px, 7px, 271px, 245px, '../images/sprite.png', 'ic_arrow-hover', );
$ic-arrow-up-name: 'ic_arrow-up';
$ic-arrow-up-x: 186px;
$ic-arrow-up-y: 152px;
$ic-arrow-up-offset-x: -186px;
$ic-arrow-up-offset-y: -152px;
$ic-arrow-up-width: 22px;
$ic-arrow-up-height: 12px;
$ic-arrow-up-total-width: 271px;
$ic-arrow-up-total-height: 245px;
$ic-arrow-up-image: '../images/sprite.png';
$ic-arrow-up: (186px, 152px, -186px, -152px, 22px, 12px, 271px, 245px, '../images/sprite.png', 'ic_arrow-up', );
$ic-arrow-name: 'ic_arrow';
$ic-arrow-x: 265px;
$ic-arrow-y: 113px;
$ic-arrow-offset-x: -265px;
$ic-arrow-offset-y: -113px;
$ic-arrow-width: 4px;
$ic-arrow-height: 7px;
$ic-arrow-total-width: 271px;
$ic-arrow-total-height: 245px;
$ic-arrow-image: '../images/sprite.png';
$ic-arrow: (265px, 113px, -265px, -113px, 4px, 7px, 271px, 245px, '../images/sprite.png', 'ic_arrow', );
$ic-arrow-up2-name: 'ic_arrow_up2';
$ic-arrow-up2-x: 255px;
$ic-arrow-up2-y: 237px;
$ic-arrow-up2-offset-x: -255px;
$ic-arrow-up2-offset-y: -237px;
$ic-arrow-up2-width: 8px;
$ic-arrow-up2-height: 5px;
$ic-arrow-up2-total-width: 271px;
$ic-arrow-up2-total-height: 245px;
$ic-arrow-up2-image: '../images/sprite.png';
$ic-arrow-up2: (255px, 237px, -255px, -237px, 8px, 5px, 271px, 245px, '../images/sprite.png', 'ic_arrow_up2', );
$ic-bag-name: 'ic_bag';
$ic-bag-x: 255px;
$ic-bag-y: 99px;
$ic-bag-offset-x: -255px;
$ic-bag-offset-y: -99px;
$ic-bag-width: 14px;
$ic-bag-height: 14px;
$ic-bag-total-width: 271px;
$ic-bag-total-height: 245px;
$ic-bag-image: '../images/sprite.png';
$ic-bag: (255px, 99px, -255px, -99px, 14px, 14px, 271px, 245px, '../images/sprite.png', 'ic_bag', );
$ic-book-mark-hover-name: 'ic_book-mark-hover';
$ic-book-mark-hover-x: 38px;
$ic-book-mark-hover-y: 172px;
$ic-book-mark-hover-offset-x: -38px;
$ic-book-mark-hover-offset-y: -172px;
$ic-book-mark-hover-width: 19px;
$ic-book-mark-hover-height: 26px;
$ic-book-mark-hover-total-width: 271px;
$ic-book-mark-hover-total-height: 245px;
$ic-book-mark-hover-image: '../images/sprite.png';
$ic-book-mark-hover: (38px, 172px, -38px, -172px, 19px, 26px, 271px, 245px, '../images/sprite.png', 'ic_book-mark-hover', );
$ic-book-mark-name: 'ic_book-mark';
$ic-book-mark-x: 19px;
$ic-book-mark-y: 172px;
$ic-book-mark-offset-x: -19px;
$ic-book-mark-offset-y: -172px;
$ic-book-mark-width: 19px;
$ic-book-mark-height: 26px;
$ic-book-mark-total-width: 271px;
$ic-book-mark-total-height: 245px;
$ic-book-mark-image: '../images/sprite.png';
$ic-book-mark: (19px, 172px, -19px, -172px, 19px, 26px, 271px, 245px, '../images/sprite.png', 'ic_book-mark', );
$ic-bookmark-mini-hover-name: 'ic_bookmark-mini-hover';
$ic-bookmark-mini-hover-x: 32px;
$ic-bookmark-mini-hover-y: 225px;
$ic-bookmark-mini-hover-offset-x: -32px;
$ic-bookmark-mini-hover-offset-y: -225px;
$ic-bookmark-mini-hover-width: 15px;
$ic-bookmark-mini-hover-height: 20px;
$ic-bookmark-mini-hover-total-width: 271px;
$ic-bookmark-mini-hover-total-height: 245px;
$ic-bookmark-mini-hover-image: '../images/sprite.png';
$ic-bookmark-mini-hover: (32px, 225px, -32px, -225px, 15px, 20px, 271px, 245px, '../images/sprite.png', 'ic_bookmark-mini-hover', );
$ic-bookmark-mini-name: 'ic_bookmark-mini';
$ic-bookmark-mini-x: 47px;
$ic-bookmark-mini-y: 225px;
$ic-bookmark-mini-offset-x: -47px;
$ic-bookmark-mini-offset-y: -225px;
$ic-bookmark-mini-width: 15px;
$ic-bookmark-mini-height: 20px;
$ic-bookmark-mini-total-width: 271px;
$ic-bookmark-mini-total-height: 245px;
$ic-bookmark-mini-image: '../images/sprite.png';
$ic-bookmark-mini: (47px, 225px, -47px, -225px, 15px, 20px, 271px, 245px, '../images/sprite.png', 'ic_bookmark-mini', );
$ic-break-name: 'ic_break';
$ic-break-x: 85px;
$ic-break-y: 152px;
$ic-break-offset-x: -85px;
$ic-break-offset-y: -152px;
$ic-break-width: 21px;
$ic-break-height: 20px;
$ic-break-total-width: 271px;
$ic-break-total-height: 245px;
$ic-break-image: '../images/sprite.png';
$ic-break: (85px, 152px, -85px, -152px, 21px, 20px, 271px, 245px, '../images/sprite.png', 'ic_break', );
$ic-carcase-name: 'ic_carcase';
$ic-carcase-x: 106px;
$ic-carcase-y: 152px;
$ic-carcase-offset-x: -106px;
$ic-carcase-offset-y: -152px;
$ic-carcase-width: 30px;
$ic-carcase-height: 14px;
$ic-carcase-total-width: 271px;
$ic-carcase-total-height: 245px;
$ic-carcase-image: '../images/sprite.png';
$ic-carcase: (106px, 152px, -106px, -152px, 30px, 14px, 271px, 245px, '../images/sprite.png', 'ic_carcase', );
$ic-cart-hover-name: 'ic_cart-hover';
$ic-cart-hover-x: 139px;
$ic-cart-hover-y: 86px;
$ic-cart-hover-offset-x: -139px;
$ic-cart-hover-offset-y: -86px;
$ic-cart-hover-width: 28px;
$ic-cart-hover-height: 26px;
$ic-cart-hover-total-width: 271px;
$ic-cart-hover-total-height: 245px;
$ic-cart-hover-image: '../images/sprite.png';
$ic-cart-hover: (139px, 86px, -139px, -86px, 28px, 26px, 271px, 245px, '../images/sprite.png', 'ic_cart-hover', );
$ic-cart-order-arrow-btn-active-name: 'ic_cart-order-arrow-btn-active';
$ic-cart-order-arrow-btn-active-x: 167px;
$ic-cart-order-arrow-btn-active-y: 86px;
$ic-cart-order-arrow-btn-active-offset-x: -167px;
$ic-cart-order-arrow-btn-active-offset-y: -86px;
$ic-cart-order-arrow-btn-active-width: 27px;
$ic-cart-order-arrow-btn-active-height: 26px;
$ic-cart-order-arrow-btn-active-total-width: 271px;
$ic-cart-order-arrow-btn-active-total-height: 245px;
$ic-cart-order-arrow-btn-active-image: '../images/sprite.png';
$ic-cart-order-arrow-btn-active: (167px, 86px, -167px, -86px, 27px, 26px, 271px, 245px, '../images/sprite.png', 'ic_cart-order-arrow-btn-active', );
$ic-cart-order-arrow-btn-name: 'ic_cart-order-arrow-btn';
$ic-cart-order-arrow-btn-x: 194px;
$ic-cart-order-arrow-btn-y: 86px;
$ic-cart-order-arrow-btn-offset-x: -194px;
$ic-cart-order-arrow-btn-offset-y: -86px;
$ic-cart-order-arrow-btn-width: 27px;
$ic-cart-order-arrow-btn-height: 26px;
$ic-cart-order-arrow-btn-total-width: 271px;
$ic-cart-order-arrow-btn-total-height: 245px;
$ic-cart-order-arrow-btn-image: '../images/sprite.png';
$ic-cart-order-arrow-btn: (194px, 86px, -194px, -86px, 27px, 26px, 271px, 245px, '../images/sprite.png', 'ic_cart-order-arrow-btn', );
$ic-cart-name: 'ic_cart';
$ic-cart-x: 111px;
$ic-cart-y: 86px;
$ic-cart-offset-x: -111px;
$ic-cart-offset-y: -86px;
$ic-cart-width: 28px;
$ic-cart-height: 26px;
$ic-cart-total-width: 271px;
$ic-cart-total-height: 245px;
$ic-cart-image: '../images/sprite.png';
$ic-cart: (111px, 86px, -111px, -86px, 28px, 26px, 271px, 245px, '../images/sprite.png', 'ic_cart', );
$ic-cart-item-hover-name: 'ic_cart_item-hover';
$ic-cart-item-hover-x: 141px;
$ic-cart-item-hover-y: 172px;
$ic-cart-item-hover-offset-x: -141px;
$ic-cart-item-hover-offset-y: -172px;
$ic-cart-item-hover-width: 25px;
$ic-cart-item-hover-height: 15px;
$ic-cart-item-hover-total-width: 271px;
$ic-cart-item-hover-total-height: 245px;
$ic-cart-item-hover-image: '../images/sprite.png';
$ic-cart-item-hover: (141px, 172px, -141px, -172px, 25px, 15px, 271px, 245px, '../images/sprite.png', 'ic_cart_item-hover', );
$ic-cart-item-name: 'ic_cart_item';
$ic-cart-item-x: 116px;
$ic-cart-item-y: 172px;
$ic-cart-item-offset-x: -116px;
$ic-cart-item-offset-y: -172px;
$ic-cart-item-width: 25px;
$ic-cart-item-height: 15px;
$ic-cart-item-total-width: 271px;
$ic-cart-item-total-height: 245px;
$ic-cart-item-image: '../images/sprite.png';
$ic-cart-item: (116px, 172px, -116px, -172px, 25px, 15px, 271px, 245px, '../images/sprite.png', 'ic_cart_item', );
$ic-chear-name: 'ic_chear';
$ic-chear-x: 75px;
$ic-chear-y: 172px;
$ic-chear-offset-x: -75px;
$ic-chear-offset-y: -172px;
$ic-chear-width: 19px;
$ic-chear-height: 22px;
$ic-chear-total-width: 271px;
$ic-chear-total-height: 245px;
$ic-chear-image: '../images/sprite.png';
$ic-chear: (75px, 172px, -75px, -172px, 19px, 22px, 271px, 245px, '../images/sprite.png', 'ic_chear', );
$ic-close-hover-name: 'ic_close-hover';
$ic-close-hover-x: 255px;
$ic-close-hover-y: 219px;
$ic-close-hover-offset-x: -255px;
$ic-close-hover-offset-y: -219px;
$ic-close-hover-width: 9px;
$ic-close-hover-height: 9px;
$ic-close-hover-total-width: 271px;
$ic-close-hover-total-height: 245px;
$ic-close-hover-image: '../images/sprite.png';
$ic-close-hover: (255px, 219px, -255px, -219px, 9px, 9px, 271px, 245px, '../images/sprite.png', 'ic_close-hover', );
$ic-close-name: 'ic_close';
$ic-close-x: 255px;
$ic-close-y: 210px;
$ic-close-offset-x: -255px;
$ic-close-offset-y: -210px;
$ic-close-width: 9px;
$ic-close-height: 9px;
$ic-close-total-width: 271px;
$ic-close-total-height: 245px;
$ic-close-image: '../images/sprite.png';
$ic-close: (255px, 210px, -255px, -210px, 9px, 9px, 271px, 245px, '../images/sprite.png', 'ic_close', );
$ic-compared-hover-name: 'ic_compared-hover';
$ic-compared-hover-x: 16px;
$ic-compared-hover-y: 199px;
$ic-compared-hover-offset-x: -16px;
$ic-compared-hover-offset-y: -199px;
$ic-compared-hover-width: 16px;
$ic-compared-hover-height: 26px;
$ic-compared-hover-total-width: 271px;
$ic-compared-hover-total-height: 245px;
$ic-compared-hover-image: '../images/sprite.png';
$ic-compared-hover: (16px, 199px, -16px, -199px, 16px, 26px, 271px, 245px, '../images/sprite.png', 'ic_compared-hover', );
$ic-compared-mini-hover-name: 'ic_compared-mini-hover';
$ic-compared-mini-hover-x: 16px;
$ic-compared-mini-hover-y: 225px;
$ic-compared-mini-hover-offset-x: -16px;
$ic-compared-mini-hover-offset-y: -225px;
$ic-compared-mini-hover-width: 16px;
$ic-compared-mini-hover-height: 20px;
$ic-compared-mini-hover-total-width: 271px;
$ic-compared-mini-hover-total-height: 245px;
$ic-compared-mini-hover-image: '../images/sprite.png';
$ic-compared-mini-hover: (16px, 225px, -16px, -225px, 16px, 20px, 271px, 245px, '../images/sprite.png', 'ic_compared-mini-hover', );
$ic-compared-mini-name: 'ic_compared-mini';
$ic-compared-mini-x: 0px;
$ic-compared-mini-y: 225px;
$ic-compared-mini-offset-x: 0px;
$ic-compared-mini-offset-y: -225px;
$ic-compared-mini-width: 16px;
$ic-compared-mini-height: 20px;
$ic-compared-mini-total-width: 271px;
$ic-compared-mini-total-height: 245px;
$ic-compared-mini-image: '../images/sprite.png';
$ic-compared-mini: (0px, 225px, 0px, -225px, 16px, 20px, 271px, 245px, '../images/sprite.png', 'ic_compared-mini', );
$ic-compared-name: 'ic_compared';
$ic-compared-x: 0px;
$ic-compared-y: 199px;
$ic-compared-offset-x: 0px;
$ic-compared-offset-y: -199px;
$ic-compared-width: 16px;
$ic-compared-height: 26px;
$ic-compared-total-width: 271px;
$ic-compared-total-height: 245px;
$ic-compared-image: '../images/sprite.png';
$ic-compared: (0px, 199px, 0px, -199px, 16px, 26px, 271px, 245px, '../images/sprite.png', 'ic_compared', );
$ic-discount-name: 'ic_discount';
$ic-discount-x: 0px;
$ic-discount-y: 86px;
$ic-discount-offset-x: 0px;
$ic-discount-offset-y: -86px;
$ic-discount-width: 85px;
$ic-discount-height: 86px;
$ic-discount-total-width: 271px;
$ic-discount-total-height: 245px;
$ic-discount-image: '../images/sprite.png';
$ic-discount: (0px, 86px, 0px, -86px, 85px, 86px, 271px, 245px, '../images/sprite.png', 'ic_discount', );
$ic-electic-name: 'ic_electic';
$ic-electic-x: 94px;
$ic-electic-y: 172px;
$ic-electic-offset-x: -94px;
$ic-electic-offset-y: -172px;
$ic-electic-width: 22px;
$ic-electic-height: 19px;
$ic-electic-total-width: 271px;
$ic-electic-total-height: 245px;
$ic-electic-image: '../images/sprite.png';
$ic-electic: (94px, 172px, -94px, -172px, 22px, 19px, 271px, 245px, '../images/sprite.png', 'ic_electic', );
$ic-engine-name: 'ic_engine';
$ic-engine-x: 52px;
$ic-engine-y: 199px;
$ic-engine-offset-x: -52px;
$ic-engine-offset-y: -199px;
$ic-engine-width: 20px;
$ic-engine-height: 20px;
$ic-engine-total-width: 271px;
$ic-engine-total-height: 245px;
$ic-engine-image: '../images/sprite.png';
$ic-engine: (52px, 199px, -52px, -199px, 20px, 20px, 271px, 245px, '../images/sprite.png', 'ic_engine', );
$ic-facebook-hover-name: 'ic_facebook-hover';
$ic-facebook-hover-x: 255px;
$ic-facebook-hover-y: 130px;
$ic-facebook-hover-offset-x: -255px;
$ic-facebook-hover-offset-y: -130px;
$ic-facebook-hover-width: 10px;
$ic-facebook-hover-height: 17px;
$ic-facebook-hover-total-width: 271px;
$ic-facebook-hover-total-height: 245px;
$ic-facebook-hover-image: '../images/sprite.png';
$ic-facebook-hover: (255px, 130px, -255px, -130px, 10px, 17px, 271px, 245px, '../images/sprite.png', 'ic_facebook-hover', );
$ic-facebook-name: 'ic_facebook';
$ic-facebook-x: 255px;
$ic-facebook-y: 113px;
$ic-facebook-offset-x: -255px;
$ic-facebook-offset-y: -113px;
$ic-facebook-width: 10px;
$ic-facebook-height: 17px;
$ic-facebook-total-width: 271px;
$ic-facebook-total-height: 245px;
$ic-facebook-image: '../images/sprite.png';
$ic-facebook: (255px, 113px, -255px, -113px, 10px, 17px, 271px, 245px, '../images/sprite.png', 'ic_facebook', );
$ic-gear-name: 'ic_gear';
$ic-gear-x: 57px;
$ic-gear-y: 172px;
$ic-gear-offset-x: -57px;
$ic-gear-offset-y: -172px;
$ic-gear-width: 18px;
$ic-gear-height: 26px;
$ic-gear-total-width: 271px;
$ic-gear-total-height: 245px;
$ic-gear-image: '../images/sprite.png';
$ic-gear: (57px, 172px, -57px, -172px, 18px, 26px, 271px, 245px, '../images/sprite.png', 'ic_gear', );
$ic-gift-name: 'ic_gift';
$ic-gift-x: 85px;
$ic-gift-y: 0px;
$ic-gift-offset-x: -85px;
$ic-gift-offset-y: 0px;
$ic-gift-width: 85px;
$ic-gift-height: 86px;
$ic-gift-total-width: 271px;
$ic-gift-total-height: 245px;
$ic-gift-image: '../images/sprite.png';
$ic-gift: (85px, 0px, -85px, 0px, 85px, 86px, 271px, 245px, '../images/sprite.png', 'ic_gift', );
$ic-hit-name: 'ic_hit';
$ic-hit-x: 0px;
$ic-hit-y: 0px;
$ic-hit-offset-x: 0px;
$ic-hit-offset-y: 0px;
$ic-hit-width: 85px;
$ic-hit-height: 86px;
$ic-hit-total-width: 271px;
$ic-hit-total-height: 245px;
$ic-hit-image: '../images/sprite.png';
$ic-hit: (0px, 0px, 0px, 0px, 85px, 86px, 271px, 245px, '../images/sprite.png', 'ic_hit', );
$ic-inst-hover-name: 'ic_inst-hover';
$ic-inst-hover-x: 166px;
$ic-inst-hover-y: 199px;
$ic-inst-hover-offset-x: -166px;
$ic-inst-hover-offset-y: -199px;
$ic-inst-hover-width: 18px;
$ic-inst-hover-height: 18px;
$ic-inst-hover-total-width: 271px;
$ic-inst-hover-total-height: 245px;
$ic-inst-hover-image: '../images/sprite.png';
$ic-inst-hover: (166px, 199px, -166px, -199px, 18px, 18px, 271px, 245px, '../images/sprite.png', 'ic_inst-hover', );
$ic-inst-name: 'ic_inst';
$ic-inst-x: 130px;
$ic-inst-y: 199px;
$ic-inst-offset-x: -130px;
$ic-inst-offset-y: -199px;
$ic-inst-width: 18px;
$ic-inst-height: 18px;
$ic-inst-total-width: 271px;
$ic-inst-total-height: 245px;
$ic-inst-image: '../images/sprite.png';
$ic-inst: (130px, 199px, -130px, -199px, 18px, 18px, 271px, 245px, '../images/sprite.png', 'ic_inst', );
$ic-jurnal-name: 'ic_jurnal';
$ic-jurnal-x: 255px;
$ic-jurnal-y: 147px;
$ic-jurnal-offset-x: -255px;
$ic-jurnal-offset-y: -147px;
$ic-jurnal-width: 13px;
$ic-jurnal-height: 13px;
$ic-jurnal-total-width: 271px;
$ic-jurnal-total-height: 245px;
$ic-jurnal-image: '../images/sprite.png';
$ic-jurnal: (255px, 147px, -255px, -147px, 13px, 13px, 271px, 245px, '../images/sprite.png', 'ic_jurnal', );
$ic-menu-name: 'ic_menu';
$ic-menu-x: 255px;
$ic-menu-y: 174px;
$ic-menu-offset-x: -255px;
$ic-menu-offset-y: -174px;
$ic-menu-width: 16px;
$ic-menu-height: 10px;
$ic-menu-total-width: 271px;
$ic-menu-total-height: 245px;
$ic-menu-image: '../images/sprite.png';
$ic-menu: (255px, 174px, -255px, -174px, 16px, 10px, 271px, 245px, '../images/sprite.png', 'ic_menu', );
$ic-new-name: 'ic_new';
$ic-new-x: 170px;
$ic-new-y: 0px;
$ic-new-offset-x: -170px;
$ic-new-offset-y: 0px;
$ic-new-width: 85px;
$ic-new-height: 86px;
$ic-new-total-width: 271px;
$ic-new-total-height: 245px;
$ic-new-image: '../images/sprite.png';
$ic-new: (170px, 0px, -170px, 0px, 85px, 86px, 271px, 245px, '../images/sprite.png', 'ic_new', );
$ic-not-allow-name: 'ic_not-allow';
$ic-not-allow-x: 255px;
$ic-not-allow-y: 69px;
$ic-not-allow-offset-x: -255px;
$ic-not-allow-offset-y: -69px;
$ic-not-allow-width: 15px;
$ic-not-allow-height: 15px;
$ic-not-allow-total-width: 271px;
$ic-not-allow-total-height: 245px;
$ic-not-allow-image: '../images/sprite.png';
$ic-not-allow: (255px, 69px, -255px, -69px, 15px, 15px, 271px, 245px, '../images/sprite.png', 'ic_not-allow', );
$ic-people-name: 'ic_people';
$ic-people-x: 166px;
$ic-people-y: 172px;
$ic-people-offset-x: -166px;
$ic-people-offset-y: -172px;
$ic-people-width: 17px;
$ic-people-height: 13px;
$ic-people-total-width: 271px;
$ic-people-total-height: 245px;
$ic-people-image: '../images/sprite.png';
$ic-people: (166px, 172px, -166px, -172px, 17px, 13px, 271px, 245px, '../images/sprite.png', 'ic_people', );
$ic-search-name: 'ic_search';
$ic-search-x: 72px;
$ic-search-y: 199px;
$ic-search-offset-x: -72px;
$ic-search-offset-y: -199px;
$ic-search-width: 20px;
$ic-search-height: 20px;
$ic-search-total-width: 271px;
$ic-search-total-height: 245px;
$ic-search-image: '../images/sprite.png';
$ic-search: (72px, 199px, -72px, -199px, 20px, 20px, 271px, 245px, '../images/sprite.png', 'ic_search', );
$ic-star-0-name: 'ic_star-0';
$ic-star-0-x: 111px;
$ic-star-0-y: 112px;
$ic-star-0-offset-x: -111px;
$ic-star-0-offset-y: -112px;
$ic-star-0-width: 58px;
$ic-star-0-height: 10px;
$ic-star-0-total-width: 271px;
$ic-star-0-total-height: 245px;
$ic-star-0-image: '../images/sprite.png';
$ic-star-0: (111px, 112px, -111px, -112px, 58px, 10px, 271px, 245px, '../images/sprite.png', 'ic_star-0', );
$ic-star-1-name: 'ic_star-1';
$ic-star-1-x: 85px;
$ic-star-1-y: 132px;
$ic-star-1-offset-x: -85px;
$ic-star-1-offset-y: -132px;
$ic-star-1-width: 58px;
$ic-star-1-height: 10px;
$ic-star-1-total-width: 271px;
$ic-star-1-total-height: 245px;
$ic-star-1-image: '../images/sprite.png';
$ic-star-1: (85px, 132px, -85px, -132px, 58px, 10px, 271px, 245px, '../images/sprite.png', 'ic_star-1', );
$ic-star-2-name: 'ic_star-2';
$ic-star-2-x: 143px;
$ic-star-2-y: 132px;
$ic-star-2-offset-x: -143px;
$ic-star-2-offset-y: -132px;
$ic-star-2-width: 58px;
$ic-star-2-height: 10px;
$ic-star-2-total-width: 271px;
$ic-star-2-total-height: 245px;
$ic-star-2-image: '../images/sprite.png';
$ic-star-2: (143px, 132px, -143px, -132px, 58px, 10px, 271px, 245px, '../images/sprite.png', 'ic_star-2', );
$ic-star-3-name: 'ic_star-3';
$ic-star-3-x: 143px;
$ic-star-3-y: 122px;
$ic-star-3-offset-x: -143px;
$ic-star-3-offset-y: -122px;
$ic-star-3-width: 58px;
$ic-star-3-height: 10px;
$ic-star-3-total-width: 271px;
$ic-star-3-total-height: 245px;
$ic-star-3-image: '../images/sprite.png';
$ic-star-3: (143px, 122px, -143px, -122px, 58px, 10px, 271px, 245px, '../images/sprite.png', 'ic_star-3', );
$ic-star-4-name: 'ic_star-4';
$ic-star-4-x: 85px;
$ic-star-4-y: 122px;
$ic-star-4-offset-x: -85px;
$ic-star-4-offset-y: -122px;
$ic-star-4-width: 58px;
$ic-star-4-height: 10px;
$ic-star-4-total-width: 271px;
$ic-star-4-total-height: 245px;
$ic-star-4-image: '../images/sprite.png';
$ic-star-4: (85px, 122px, -85px, -122px, 58px, 10px, 271px, 245px, '../images/sprite.png', 'ic_star-4', );
$ic-star-5-name: 'ic_star-5';
$ic-star-5-x: 169px;
$ic-star-5-y: 112px;
$ic-star-5-offset-x: -169px;
$ic-star-5-offset-y: -112px;
$ic-star-5-width: 58px;
$ic-star-5-height: 10px;
$ic-star-5-total-width: 271px;
$ic-star-5-total-height: 245px;
$ic-star-5-image: '../images/sprite.png';
$ic-star-5: (169px, 112px, -169px, -112px, 58px, 10px, 271px, 245px, '../images/sprite.png', 'ic_star-5', );
$ic-stars-name: 'ic_stars';
$ic-stars-x: 85px;
$ic-stars-y: 142px;
$ic-stars-offset-x: -85px;
$ic-stars-offset-y: -142px;
$ic-stars-width: 57px;
$ic-stars-height: 10px;
$ic-stars-total-width: 271px;
$ic-stars-total-height: 245px;
$ic-stars-image: '../images/sprite.png';
$ic-stars: (85px, 142px, -85px, -142px, 57px, 10px, 271px, 245px, '../images/sprite.png', 'ic_stars', );
$ic-suspension-name: 'ic_suspension';
$ic-suspension-x: 85px;
$ic-suspension-y: 86px;
$ic-suspension-offset-x: -85px;
$ic-suspension-offset-y: -86px;
$ic-suspension-width: 26px;
$ic-suspension-height: 36px;
$ic-suspension-total-width: 271px;
$ic-suspension-total-height: 245px;
$ic-suspension-image: '../images/sprite.png';
$ic-suspension: (85px, 86px, -85px, -86px, 26px, 36px, 271px, 245px, '../images/sprite.png', 'ic_suspension', );
$ic-trinket-name: 'ic_trinket';
$ic-trinket-x: 0px;
$ic-trinket-y: 172px;
$ic-trinket-offset-x: 0px;
$ic-trinket-offset-y: -172px;
$ic-trinket-width: 19px;
$ic-trinket-height: 27px;
$ic-trinket-total-width: 271px;
$ic-trinket-total-height: 245px;
$ic-trinket-image: '../images/sprite.png';
$ic-trinket: (0px, 172px, 0px, -172px, 19px, 27px, 271px, 245px, '../images/sprite.png', 'ic_trinket', );
$ic-user-name: 'ic_user';
$ic-user-x: 221px;
$ic-user-y: 86px;
$ic-user-offset-x: -221px;
$ic-user-offset-y: -86px;
$ic-user-width: 26px;
$ic-user-height: 26px;
$ic-user-total-width: 271px;
$ic-user-total-height: 245px;
$ic-user-image: '../images/sprite.png';
$ic-user: (221px, 86px, -221px, -86px, 26px, 26px, 271px, 245px, '../images/sprite.png', 'ic_user', );
$ic-view-list-hover-name: 'ic_view-list-hover';
$ic-view-list-hover-x: 62px;
$ic-view-list-hover-y: 225px;
$ic-view-list-hover-offset-x: -62px;
$ic-view-list-hover-offset-y: -225px;
$ic-view-list-hover-width: 17px;
$ic-view-list-hover-height: 17px;
$ic-view-list-hover-total-width: 271px;
$ic-view-list-hover-total-height: 245px;
$ic-view-list-hover-image: '../images/sprite.png';
$ic-view-list-hover: (62px, 225px, -62px, -225px, 17px, 17px, 271px, 245px, '../images/sprite.png', 'ic_view-list-hover', );
$ic-view-list-name: 'ic_view-list';
$ic-view-list-x: 236px;
$ic-view-list-y: 199px;
$ic-view-list-offset-x: -236px;
$ic-view-list-offset-y: -199px;
$ic-view-list-width: 17px;
$ic-view-list-height: 17px;
$ic-view-list-total-width: 271px;
$ic-view-list-total-height: 245px;
$ic-view-list-image: '../images/sprite.png';
$ic-view-list: (236px, 199px, -236px, -199px, 17px, 17px, 271px, 245px, '../images/sprite.png', 'ic_view-list', );
$ic-view-mini-list-hover-name: 'ic_view-mini-list-hover';
$ic-view-mini-list-hover-x: 219px;
$ic-view-mini-list-hover-y: 199px;
$ic-view-mini-list-hover-offset-x: -219px;
$ic-view-mini-list-hover-offset-y: -199px;
$ic-view-mini-list-hover-width: 17px;
$ic-view-mini-list-hover-height: 17px;
$ic-view-mini-list-hover-total-width: 271px;
$ic-view-mini-list-hover-total-height: 245px;
$ic-view-mini-list-hover-image: '../images/sprite.png';
$ic-view-mini-list-hover: (219px, 199px, -219px, -199px, 17px, 17px, 271px, 245px, '../images/sprite.png', 'ic_view-mini-list-hover', );
$ic-view-mini-list-name: 'ic_view-mini-list';
$ic-view-mini-list-x: 202px;
$ic-view-mini-list-y: 199px;
$ic-view-mini-list-offset-x: -202px;
$ic-view-mini-list-offset-y: -199px;
$ic-view-mini-list-width: 17px;
$ic-view-mini-list-height: 17px;
$ic-view-mini-list-total-width: 271px;
$ic-view-mini-list-total-height: 245px;
$ic-view-mini-list-image: '../images/sprite.png';
$ic-view-mini-list: (202px, 199px, -202px, -199px, 17px, 17px, 271px, 245px, '../images/sprite.png', 'ic_view-mini-list', );
$ic-view-table-hover-name: 'ic_view-table-hover';
$ic-view-table-hover-x: 96px;
$ic-view-table-hover-y: 225px;
$ic-view-table-hover-offset-x: -96px;
$ic-view-table-hover-offset-y: -225px;
$ic-view-table-hover-width: 17px;
$ic-view-table-hover-height: 17px;
$ic-view-table-hover-total-width: 271px;
$ic-view-table-hover-total-height: 245px;
$ic-view-table-hover-image: '../images/sprite.png';
$ic-view-table-hover: (96px, 225px, -96px, -225px, 17px, 17px, 271px, 245px, '../images/sprite.png', 'ic_view-table-hover', );
$ic-view-table-name: 'ic_view-table';
$ic-view-table-x: 79px;
$ic-view-table-y: 225px;
$ic-view-table-offset-x: -79px;
$ic-view-table-offset-y: -225px;
$ic-view-table-width: 17px;
$ic-view-table-height: 17px;
$ic-view-table-total-width: 271px;
$ic-view-table-total-height: 245px;
$ic-view-table-image: '../images/sprite.png';
$ic-view-table: (79px, 225px, -79px, -225px, 17px, 17px, 271px, 245px, '../images/sprite.png', 'ic_view-table', );
$ic-vk-hover-name: 'ic_vk-hover';
$ic-vk-hover-x: 136px;
$ic-vk-hover-y: 152px;
$ic-vk-hover-offset-x: -136px;
$ic-vk-hover-offset-y: -152px;
$ic-vk-hover-width: 25px;
$ic-vk-hover-height: 14px;
$ic-vk-hover-total-width: 271px;
$ic-vk-hover-total-height: 245px;
$ic-vk-hover-image: '../images/sprite.png';
$ic-vk-hover: (136px, 152px, -136px, -152px, 25px, 14px, 271px, 245px, '../images/sprite.png', 'ic_vk-hover', );
$ic-vk-name: 'ic_vk';
$ic-vk-x: 161px;
$ic-vk-y: 152px;
$ic-vk-offset-x: -161px;
$ic-vk-offset-y: -152px;
$ic-vk-width: 25px;
$ic-vk-height: 14px;
$ic-vk-total-width: 271px;
$ic-vk-total-height: 245px;
$ic-vk-image: '../images/sprite.png';
$ic-vk: (161px, 152px, -161px, -152px, 25px, 14px, 271px, 245px, '../images/sprite.png', 'ic_vk', );
$ic-wait-name: 'ic_wait';
$ic-wait-x: 255px;
$ic-wait-y: 84px;
$ic-wait-offset-x: -255px;
$ic-wait-offset-y: -84px;
$ic-wait-width: 15px;
$ic-wait-height: 15px;
$ic-wait-total-width: 271px;
$ic-wait-total-height: 245px;
$ic-wait-image: '../images/sprite.png';
$ic-wait: (255px, 84px, -255px, -84px, 15px, 15px, 271px, 245px, '../images/sprite.png', 'ic_wait', );
$ic-wheels-name: 'ic_wheels';
$ic-wheels-x: 32px;
$ic-wheels-y: 199px;
$ic-wheels-offset-x: -32px;
$ic-wheels-offset-y: -199px;
$ic-wheels-width: 20px;
$ic-wheels-height: 20px;
$ic-wheels-total-width: 271px;
$ic-wheels-total-height: 245px;
$ic-wheels-image: '../images/sprite.png';
$ic-wheels: (32px, 199px, -32px, -199px, 20px, 20px, 271px, 245px, '../images/sprite.png', 'ic_wheels', );
$ic-xls-hover-name: 'ic_xls-hover';
$ic-xls-hover-x: 148px;
$ic-xls-hover-y: 199px;
$ic-xls-hover-offset-x: -148px;
$ic-xls-hover-offset-y: -199px;
$ic-xls-hover-width: 18px;
$ic-xls-hover-height: 18px;
$ic-xls-hover-total-width: 271px;
$ic-xls-hover-total-height: 245px;
$ic-xls-hover-image: '../images/sprite.png';
$ic-xls-hover: (148px, 199px, -148px, -199px, 18px, 18px, 271px, 245px, '../images/sprite.png', 'ic_xls-hover', );
$ic-xls-name: 'ic_xls';
$ic-xls-x: 184px;
$ic-xls-y: 199px;
$ic-xls-offset-x: -184px;
$ic-xls-offset-y: -199px;
$ic-xls-width: 18px;
$ic-xls-height: 18px;
$ic-xls-total-width: 271px;
$ic-xls-total-height: 245px;
$ic-xls-image: '../images/sprite.png';
$ic-xls: (184px, 199px, -184px, -199px, 18px, 18px, 271px, 245px, '../images/sprite.png', 'ic_xls', );
$ic-youtube-hover-name: 'ic_youtube-hover';
$ic-youtube-hover-x: 111px;
$ic-youtube-hover-y: 199px;
$ic-youtube-hover-offset-x: -111px;
$ic-youtube-hover-offset-y: -199px;
$ic-youtube-hover-width: 19px;
$ic-youtube-hover-height: 18px;
$ic-youtube-hover-total-width: 271px;
$ic-youtube-hover-total-height: 245px;
$ic-youtube-hover-image: '../images/sprite.png';
$ic-youtube-hover: (111px, 199px, -111px, -199px, 19px, 18px, 271px, 245px, '../images/sprite.png', 'ic_youtube-hover', );
$ic-youtube-name: 'ic_youtube';
$ic-youtube-x: 92px;
$ic-youtube-y: 199px;
$ic-youtube-offset-x: -92px;
$ic-youtube-offset-y: -199px;
$ic-youtube-width: 19px;
$ic-youtube-height: 18px;
$ic-youtube-total-width: 271px;
$ic-youtube-total-height: 245px;
$ic-youtube-image: '../images/sprite.png';
$ic-youtube: (92px, 199px, -92px, -199px, 19px, 18px, 271px, 245px, '../images/sprite.png', 'ic_youtube', );
$ic-zip-hover-name: 'ic_zip-hover';
$ic-zip-hover-x: 255px;
$ic-zip-hover-y: 0px;
$ic-zip-hover-offset-x: -255px;
$ic-zip-hover-offset-y: 0px;
$ic-zip-hover-width: 16px;
$ic-zip-hover-height: 18px;
$ic-zip-hover-total-width: 271px;
$ic-zip-hover-total-height: 245px;
$ic-zip-hover-image: '../images/sprite.png';
$ic-zip-hover: (255px, 0px, -255px, 0px, 16px, 18px, 271px, 245px, '../images/sprite.png', 'ic_zip-hover', );
$ic-zip-name: 'ic_zip';
$ic-zip-x: 255px;
$ic-zip-y: 18px;
$ic-zip-offset-x: -255px;
$ic-zip-offset-y: -18px;
$ic-zip-width: 16px;
$ic-zip-height: 18px;
$ic-zip-total-width: 271px;
$ic-zip-total-height: 245px;
$ic-zip-image: '../images/sprite.png';
$ic-zip: (255px, 18px, -255px, -18px, 16px, 18px, 271px, 245px, '../images/sprite.png', 'ic_zip', );
$we-name: 'we';
$we-x: 255px;
$we-y: 228px;
$we-offset-x: -255px;
$we-offset-y: -228px;
$we-width: 9px;
$we-height: 9px;
$we-total-width: 271px;
$we-total-height: 245px;
$we-image: '../images/sprite.png';
$we: (255px, 228px, -255px, -228px, 9px, 9px, 271px, 245px, '../images/sprite.png', 'we', );
$spritesheet-width: 271px;
$spritesheet-height: 245px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($ic-address, $ic-allow, $ic-arrow-down-disabled, $ic-arrow-down-hover, $ic-arrow-down, $ic-arrow-hover, $ic-arrow-up, $ic-arrow, $ic-arrow-up2, $ic-bag, $ic-book-mark-hover, $ic-book-mark, $ic-bookmark-mini-hover, $ic-bookmark-mini, $ic-break, $ic-carcase, $ic-cart-hover, $ic-cart-order-arrow-btn-active, $ic-cart-order-arrow-btn, $ic-cart, $ic-cart-item-hover, $ic-cart-item, $ic-chear, $ic-close-hover, $ic-close, $ic-compared-hover, $ic-compared-mini-hover, $ic-compared-mini, $ic-compared, $ic-discount, $ic-electic, $ic-engine, $ic-facebook-hover, $ic-facebook, $ic-gear, $ic-gift, $ic-hit, $ic-inst-hover, $ic-inst, $ic-jurnal, $ic-menu, $ic-new, $ic-not-allow, $ic-people, $ic-search, $ic-star-0, $ic-star-1, $ic-star-2, $ic-star-3, $ic-star-4, $ic-star-5, $ic-stars, $ic-suspension, $ic-trinket, $ic-user, $ic-view-list-hover, $ic-view-list, $ic-view-mini-list-hover, $ic-view-mini-list, $ic-view-table-hover, $ic-view-table, $ic-vk-hover, $ic-vk, $ic-wait, $ic-wheels, $ic-xls-hover, $ic-xls, $ic-youtube-hover, $ic-youtube, $ic-zip-hover, $ic-zip, $we, );
$spritesheet: (271px, 245px, '../images/sprite.png', $spritesheet-sprites, );

@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
