$wrapper-max-width: 1200px;
$wrapper-min-width: 320px;
$padding:10px;
//font-size
$base-font-size:14px;
$font-path : '/fonts';
$base-font-famaly: 'Rubik';

$width-large: 980px;

//colors
$color-link-hover: #bf312e;
$path-to-img : '../images';
