<div class="fly-block">
  <div class="wrapper">
    <div class="container">
          <div class="table fly-block-row">
            <div class="block bookmark-wrapper">
                <!--start component book-mark-->
                {% include './../component/bookmark.html' %}
                <!--end component book-mark-->
            </div>
            <div class="block compared-wrapper">
                <!--start component compared-->
                {% include './../component/compared.html' %}
                <!--end component compared-->
            </div>
            <div class="block cart-wrapper">
                <!--start component top-cart-->
                {% include './../component/top-cart.html' %}
                <!--end component top-cart-->
            </div>
        </div>
      </div>
  </div>
</div>
