<div class="wrapper">
    <div class="container">
        <div class="bottom-row">
            <div class="bottom-menu-wrapper">
                <!--start component bottom menu-->
                <div class="list">
                    <!--foreach $arResult-->
                    <ul>
                        <li>
                            <span class="item-header">Компания</span>
                        </li>
                        <li>
                            <a href="" title="О компании">О компании</a>
                        </li>
                        <li>
                            <a href="" title="Новости">Новости</a>
                        </li>
                        <li>
                            <a href="" title="Вакансии">Вакансии</a>
                        </li>
                        <li>
                            <a href="" title="Контакты">Контакты</a>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <span class="item-header">Покупателям</span>
                        </li>
                        <li>
                            <a href="" title="Как заказать">Как заказать</a>
                        </li>
                        <li>
                            <a href="" title="Как оплатить">Как оплатить</a>
                        </li>
                        <li>
                            <a href="" title="Доставка и получение">Доставка и получение</a>
                        </li>
                        <li>
                            <a href="" title="Гарантия и возврат">Гарантия и возврат</a>
                        </li>
                        <li>
                            <a href="" title="Программа лояльности">Программа лояльности</a>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <span class="item-header">Поставщикам</span>
                        </li>
                        <li>
                            <a href="" title="Условия сотрудничества">Условия сотрудничества</a>
                        </li>
                        <li>
                            <a href="" title="Шаблоны договоров">Шаблоны договоров</a>
                        </li>
                    </ul>
                    <!--endforeach-->
                </div>
                <!--end component bottom menu-->
            </div>
            <div class="price-list-wrapper">
                <div class="header">Прайс лист</div>
                <!--start component price list-->
                <ul>
                    <li>
                        <a href="" title="#">
                            <i class="ic_xls"></i>
                            <span>Microsoft Excel (4.25 Мб)</span>
                        </a>
                    </li>
                    <li><span class="date">Обновлен 07.10.2016 04:28</span></li>
                    <li>
                        <a href="#" title="">
                            <i class="ic_zip"></i>
                            <span>Zip-архив (0.9 Мб)</span>
                        </a>
                    </li>
                    <li><span class="date">Обновлен 07.10.2016 04:28</span></li>
                </ul>
                <!--end component price list-->
            </div>
            <div class="subscribe-wrapper">
                <div class="header">
                    Подписка на <br>новостную ленту
                </div>
                <div class="row">
                    <input type="text" class="input-email" value="" placeholder="Оставьте свой e-mail">
                </div>
                <div class="row">
                    <button id="subcribe">Подписаться</button>
                </div>
            </div>
            <div class="social-wrapper">
                <!--start social buttons-->
                <ul>
                    <li><i class="ic_vk"></i></li>
                    <li><i class="ic_facebook"></i></li>
                    <li><i class="ic_inst"></i></li>
                    <li><i class="ic_youtube"></i></li>
                </ul>
                <!--end social buttons-->

                <!--start yandex widget-->
                <div class="ya-widget">
                    <i class="ic_stars"></i>
                    <div>Оцните магазин на <span>Я</span>ндекс.Маркете</div>
                </div>
                <!--end yandex widget-->
            </div>
        </div>
        <div class="bottom-row system-pay-row">
            <div class="header">Способы оплаты</div>
        </div>
        <div class="bottom-row system-pay">
           <!--start component pay system list-->
            <ul class="system-pay-list">
                <!--foreach $arResult-->
                <li><img src="./images/ic_coins.png" alt=""></li>
                <li><img src="./images/ic_mir.png" alt=""></li>
                <li><img src="./images/ic_comepay.png" alt=""></li>
                <li><img src="./images/ic_svyaznoy.png" alt=""></li>
                <li><img src="./images/ic_evroset.png" alt=""></li>
                <!--end foreach-->
           </ul>
            <!--end component pay system list-->
        </div>
    </div>
</div>
<div class="bottom-line">
    <div class="wrapper">
        <div class="container">
            <div class="date-created">
                ТЮНЯЧКИ.РУС.2016 г.
            </div>
            <div class="created-by">
                Разработка магазина - <a href="" title="Интелект-Сервис">Интелект-Сервис</a>
            </div>
        </div>
    </div>
</div>