<div class="wrapper bottom-block">
    <div class="container">
        <div class="bottom-row">
            <div class="bottom-menu-wrapper">
                <!--start component bottom menu-->
                {% include './../component/bottom-menu.html'%}
                <!--end component bottom menu-->
            </div>
            <div class="price-list-wrapper">
                <div class="item-header">Прайс лист</div>
                <!--start component price list-->
                {% include './../component/price-list.html' %}
                <!--end component price list-->
            </div>
            <div class="subscribe-wrapper">
                <div class="item-header">
                    Подписка на <br>новостную ленту
                </div>
                <div class="row">
                    <input type="text" class="input-email" value="" placeholder="Оставьте свой e-mail">
                </div>
                <div class="row">
                    <button id="subcribe" class="vtip" title="Подписаться">Подписаться</button>
                </div>
            </div>
            <div class="social-wrapper">
                <!--start social buttons-->
                <ul>
                    <li><a href="" title="Вконтакте"><i class="ic_vk"></i></a></li>
                    <li><a href="" title="Facebook"><i class="ic_facebook"></i></a></li>
                    <li><a href="" title="Интсаграм"><i class="ic_inst"></i></a></li>
                    <li><a href="" title="Youtube"><i class="ic_youtube"></i></a></li>
                </ul>
                <!--end social buttons-->

                <!--start yandex widget-->
                <a class="ya-widget" href="#" title="Оцените магазин на Яндекс маркете">
                    <i class="ic_stars"></i>
                    <div>Оцните магазин на <span>Я</span>ндекс.Маркете</div>
                </a>
                <!--end yandex widget-->
            </div>
        </div>
        <div class="bottom-row system-pay-row">
            <div class="item-header">Способы оплаты</div>
        </div>
        <div class="bottom-row system-pay">
           <!--start component pay system list-->
            {% include './../component/pay-system-list.html' %}
            <!--end component pay system list-->
        </div>
    </div>
</div>
<div class="bottom-line">
    <div class="wrapper">
        <div class="container">
            <div class="date-created">
                ТЮНЯЧКИ.РУС.2016 г.
            </div>
            <div class="created-by">
                Разработка магазина - <a href="" title="Интелект-Сервис">Интелект-Сервис</a>
            </div>
        </div>
    </div>
</div>
