<div class="top-line">
    <div class="wrapper">
        <div class="container">
            <div class="top-menu-block">
                <!--start component top menu-->
                {% include './../component/top-menu.html' %}
                <!--end component top menu-->
            </div>
            <div class="user-menu-block">
                <!--start component user menu-->
                {% include './../component/user-menu.html' %}
                <!--end component user menu-->
            </div>
        </div>
    </div>
</div>
<div class="top-panel">
    <div class="wrapper">
        <div class="container">
            <div class="table">
                <div class="logo block">
                    <a href="/" title="Тюнячки на любые тачки" class="not-tip">
                        <img src="./images/logo.png" alt="Тюнячки на любые тачки">
                    </a>
                </div>
                <div class="block catalog-menu-wrapper">
                    <!--start component catalog menu-->
                    {% include './../component/catalog-menu.html' %}
                    <!--end component catalog menu-->
                </div>
                <div class="block search-wrapper">
                    <!--start component search-->
                    {% include './../component/search.html' %}
                    <!--end component search-->
                </div>
                <div class="block bookmark-wrapper">
                    <!--start component book-mark-->
                    {% include './../component/bookmark.html' %}
                    <!--end component book-mark-->
                </div>
                <div class="block compared-wrapper">
                    <!--start component compared-->
                    {% include './../component/compared.html' %}
                    <!--end component compared-->
                </div>
                <div class="block cart-wrapper">
                    <!--start component top-cart-->
                    {% include './../component/top-cart.html' %}
                    <!--end component top-cart-->
                </div>
                <div class="order-wrapper block">
                    <a href="#" title="Оформить заказ" class="order-detail vtip"><i class="ic_cart-order-arrow-btn"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

