<div class="top-line">
    <div class="wrapper">
        <div class="container">
            <div class="top-menu-block">
                <!--start component top menu-->
                <div class="top-menu">
                    <ul>
                        <li><a href="#" class="selected" title="Магазин"><i class="ic_bag"></i>Магазин</a></li>
                        <li><a href="#" title="Журнал"><i class="ic_jurnal"></i>Журнал</a></li>
                        <li><a href="#" title="Сообщество"><i class="ic_people"></i>Сообщество</a></li>
                    </ul>
                </div>
                <!--end component top menu-->
            </div>
            <div class="user-menu-block">
                <!--start component user menu-->
                <ul class="user-menu">
                    <li class="user-menu-line">
                        <a href="#" title="user">
                            <span class="user-avatar ic_user"></span>
                            <span class="user-name">Петр Иванов</span>
                        </a>
                    </li>
                    <ul class="user-links">
                        <li>
                            <a href="#" title="Выход">Выход</a>
                        </li>
                    </ul>
                </ul>
                <!--end component user menu-->
            </div>
        </div>
    </div>
</div>
<div class="top-panel">
    <div class="wrapper">
        <div class="container">
            <div class="table">
                <div class="logo block">
                    <a href="/" tilte="Тюнячки на любые тачки"><img src="./images/logo.png"
                                                                    alt="Тюнячки на любые тачки"></a>
                </div>
                <div class="block catalog-menu-wrapper">
                    <!--start component catalog menu-->
                    <div class="catalog-menu">
                        <button class="catalog-menu-btn toggle-btn">Каталог <i class="ic_menu"></i></button>
                        <div class="catalog-menu-item-wrapper toggle-wrapper">
                            <ul class="root-items">
                                <li>
                                    <a href="" title="#">
                                        <span class="table-cell"><i class="ic_engine"></i></span>
                                        <span class="table-cell"> <span>Двигатель</span></span>
                                        <span class="table-cell"><i class="ic_arrow"></i></span>
                                    </a>
                                    <ul class="child-items">
                                        <li>
                                            <div class="coll-item">
                                                <ul>
                                                    <li>
                                                        <a class="item-head" title="#">Шатунно-поршневая группа</a>
                                                    </li>
                                                    <li>
                                                        <a href="" title="#">Коленвалы</a>
                                                    </li>
                                                    <li>
                                                        <a href="" title="#">Коленвалы</a>
                                                    </li>
                                                    <li>
                                                        <a href="" title="#">Коленвалы</a>
                                                    </li>
                                                    <li>
                                                        <a href="" title="#">Коленвалы</a>
                                                    </li>
                                                    <li>
                                                        <a href="" title="#">Коленвалы</a>
                                                    </li>
                                                    <li>
                                                        <a href="" title="#">Коленвалы</a>
                                                    </li>
                                                    <li>
                                                        <a href="" title="#">Коленвалы</a>
                                                    </li>
                                                </ul>
                                                <ul>
                                                    <li>
                                                        <a class="item-head" title="#">Шатунно-поршневая группа</a>
                                                    </li>
                                                    <li>
                                                        <a href="" title="#">Коленвалы</a>
                                                    </li>
                                                    <li>
                                                        <a href="" title="#">Коленвалы</a>
                                                    </li>
                                                    <li>
                                                        <a href="" title="#">Коленвалы</a>
                                                    </li>
                                                    <li>
                                                        <a href="" title="#">Коленвалы</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="coll-item">
                                                <ul>
                                                    <li>
                                                        <a class="item-head" title="#">Шатунно-поршневая группа</a>
                                                    </li>
                                                    <li>
                                                        <a href="" title="#">Коленвалы</a>
                                                    </li>
                                                    <li>
                                                        <a href="" title="#">Коленвалы</a>
                                                    </li>
                                                    <li>
                                                        <a href="" title="#">Коленвалы</a>
                                                    </li>
                                                    <li>
                                                        <a href="" title="#">Коленвалы</a>
                                                    </li>
                                                </ul>
                                                <ul>
                                                    <li>
                                                        <a class="item-head" title="#">Шатунно-поршневая группа</a>
                                                    </li>
                                                    <li>
                                                        <a href="" title="#">Коленвалы</a>
                                                    </li>
                                                    <li>
                                                        <a href="" title="#">Коленвалы</a>
                                                    </li>
                                                    <li>
                                                        <a href="" title="#">Коленвалы</a>
                                                    </li>
                                                    <li>
                                                        <a href="" title="#">Коленвалы</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="coll-item">
                                                <ul>
                                                    <li>
                                                        <a class="item-head" title="#">Шатунно-поршневая группа</a>
                                                    </li>
                                                    <li>
                                                        <a href="" title="#">Коленвалы</a>
                                                    </li>
                                                    <li>
                                                        <a href="" title="#">Коленвалы</a>
                                                    </li>
                                                    <li>
                                                        <a href="" title="#">Коленвалы</a>
                                                    </li>
                                                    <li>
                                                        <a href="" title="#">Коленвалы</a>
                                                    </li>
                                                </ul>
                                                <ul>
                                                    <li>
                                                        <a class="item-head" title="#">Шатунно-поршневая группа</a>
                                                    </li>
                                                    <li>
                                                        <a href="" title="#">Коленвалы</a>
                                                    </li>
                                                    <li>
                                                        <a href="" title="#">Коленвалы</a>
                                                    </li>
                                                    <li>
                                                        <a href="" title="#">Коленвалы</a>
                                                    </li>
                                                    <li>
                                                        <a href="" title="#">Коленвалы</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="" title="#">
                                        <span class="table-cell"><i class="ic_gear"></i></span>
                                        <span class="table-cell"><span>Трансмиссия</span></span>
                                        <span class="table-cell"><i class="ic_arrow"></i></span>
                                    </a>
                                    <ul class="child-items">
                                        <li>
                                            <div class="coll-item">
                                                <ul>
                                                    <li>
                                                        <a class="item-head" title="#">Подгруппа трансмиссия</a>
                                                    </li>
                                                    <li>
                                                        <a href="" title="#">Коленвалы трансмиссия</a>
                                                    </li>
                                                    <li>
                                                        <a href="" title="#">Коленвалы трансмиссия</a>
                                                    </li>
                                                    <li>
                                                        <a href="" title="#">Коленвалы трансмиссия</a>
                                                    </li>
                                                    <li>
                                                        <a href="" title="#">Коленвалы трансмиссия</a>
                                                    </li>
                                                    <li>
                                                        <a href="" title="#">Коленвалы трансмиссия</a>
                                                    </li>
                                                    <li>
                                                        <a href="" title="#">Коленвалы трансмиссия</a>
                                                    </li>
                                                    <li>
                                                        <a href="" title="#">Коленвалы трансмиссия</a>
                                                    </li>
                                                </ul>
                                                <ul>
                                                    <li>
                                                        <a class="item-head" title="#">Шатунно трансмиссия</a>
                                                    </li>
                                                    <li>
                                                        <a href="" title="#">Коленвалы трансмиссия</a>
                                                    </li>
                                                    <li>
                                                        <a href="" title="#">Коленвалы трансмиссия</a>
                                                    </li>
                                                    <li>
                                                        <a href="" title="#">Коленвалы трансмиссия</a>
                                                    </li>
                                                    <li>
                                                        <a href="" title="#">Коленвалы трансмиссия</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="coll-item">
                                                <ul>
                                                    <li>
                                                        <a class="item-head" title="#">Шатунно трансмиссия</a>
                                                    </li>
                                                    <li>
                                                        <a href="" title="#">Коленвалы трансмиссия</a>
                                                    </li>
                                                    <li>
                                                        <a href="" title="#">Коленвалы трансмиссия</a>
                                                    </li>
                                                    <li>
                                                        <a href="" title="#">Коленвалы трансмиссия</a>
                                                    </li>
                                                    <li>
                                                        <a href="" title="#">Коленвалы трансмиссия</a>
                                                    </li>
                                                </ul>
                                                <ul>
                                                    <li>
                                                        <a class="item-head" title="#">Шатунно трансмиссия</a>
                                                    </li>
                                                    <li>
                                                        <a href="" title="#">Коленвалы трансмиссия</a>
                                                    </li>
                                                    <li>
                                                        <a href="" title="#">Коленвалы трансмиссия</a>
                                                    </li>
                                                    <li>
                                                        <a href="" title="#">Коленвалы трансмиссия</a>
                                                    </li>
                                                    <li>
                                                        <a href="" title="#">Коленвалы трансмиссия</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="coll-item">
                                                <ul>
                                                    <li>
                                                        <a class="item-head" title="#">Шатунно-поршневая группа</a>
                                                    </li>
                                                    <li>
                                                        <a href="" title="#">Коленвалы</a>
                                                    </li>
                                                    <li>
                                                        <a href="" title="#">Коленвалы</a>
                                                    </li>
                                                    <li>
                                                        <a href="" title="#">Коленвалы</a>
                                                    </li>
                                                    <li>
                                                        <a href="" title="#">Коленвалы</a>
                                                    </li>
                                                </ul>
                                                <ul>
                                                    <li>
                                                        <a class="item-head" title="#">Шатунно группа</a>
                                                    </li>
                                                    <li>
                                                        <a href="" title="#">Коленвалы</a>
                                                    </li>
                                                    <li>
                                                        <a href="" title="#">Коленвалы</a>
                                                    </li>
                                                    <li>
                                                        <a href="" title="#">Коленвалы</a>
                                                    </li>
                                                    <li>
                                                        <a href="" title="#">Коленвалы</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="" title="#">
                                        <span class="table-cell"> <i class="ic_carcase"></i></span>
                                        <span class="table-cell"> <span>Кузов и обвесы</span></span>
                                        <span class="table-cell"> <i class="ic_arrow"></i></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="" title="#">
                                        <span class="table-cell"><i class="ic_suspension"></i></span>
                                        <span class="table-cell"> <span> Подвеска и ходовая</span></span>
                                        <span class="table-cell"> <i class="ic_arrow"></i></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="" title="#">
                                        <span class="table-cell"><i class="ic_wheels"></i></span>
                                        <span class="table-cell"> <span> Колеса</span></span>
                                        <span class="table-cell"> <i class="ic_arrow"></i></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="" title="#">
                                        <span class="table-cell"><i class="ic_chear"></i></span>
                                        <span class="table-cell"> <span>Салон / интерьер</span></span>
                                        <span class="table-cell"> <i class="ic_arrow"></i></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="" title="#">
                                        <span class="table-cell"><i class="ic_electric"></i></span>
                                        <span class="table-cell"> <span>Электрик</span></span>
                                        <span class="table-cell"> <i class="ic_arrow"></i></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="" title="#">
                                        <span class="table-cell"><i class="ic_break"></i></span>
                                        <span class="table-cell"><span>Тормазная система</span></span>
                                        <span class="table-cell"> <i class="ic_arrow"></i></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="" title="#">
                                        <span class="table-cell"><i class="ic_trinket"></i></span>
                                        <span class="table-cell"><span>Аксессуары</span></span>
                                        <span class="table-cell"><i class="ic_arrow"></i></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--end component catalog menu-->
                </div>
                <div class="block search-wrapper">
                    <!--start component search-->
                    <div class="search">
                        <input type="text" placeholder="Поиск...">
                        <input type="submit" value="" class="ic_search">
                    </div>
                    <!--end component search-->
                </div>
                <div class="block bookmark-wrapper">
                    <!--start component book-mark-->
                    <button class="bookmark toggle-btn">
                        <i class="ic_bookmark"></i>
                        <span class="counter">7</span>
                    </button>
                    <div class="top-item-wrapper toggle-wrapper">
                        <div class="top-item-list table">
                            {% for item in bookMarkItem %}
                            <div class="item table-row">
                                <div class="table-cell pic">
                                    <a href="#" title="{{item.name}}"><img src="{{item.img}}" alt="#"></a>
                                </div>
                                <div class="table-cell name">
                                    <a href="#" title="{{item.name}}">{{item.name}}</a>
                                </div>
                                <div class="table-cell status">
                                    <i class="ic_{{item.status}} vtip" title="В наличии 15 шт. в 5 магазинах"></i>
                                </div>
                                <div class="table-cell compared">
                                    <a href="#" title="Перенести в сравнение" class="vtip"><i class="ic_compared"></i></a>
                                </div>
                                <div class="table-cell price">
                                    <span>{{item.price}} <span class="rouble">P</span></span>
                                </div>
                                <div class="table-cell add-to-cart">
                                    <a href="#" title="В корзину" class="vtip"><i class="ic_cart_item"></i></a>
                                </div>
                                <div class="table-cell remove-from">
                                    <i class="ic_close vtip" title="Убрать из корзины"></i>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="btn-block">
                            <a href="#" title="#" class="btn-round grey">Управление закладками</a>
                        </div>
                    </div>
                    <!--end component book-mark-->
                </div>
                <div class="block compared-wrapper">
                    <!--start component compared-->
                    <button class="compared toggle-btn">
                        <i class="ic_compared"></i>
                        <span class="counter">467</span>
                    </button>
                    <div class="top-item-wrapper toggle-wrapper">
                        <div class="top-item-list table">
                            {% for item in bookMarkItem %}
                            <div class="item table-row">
                                <div class="table-cell pic">
                                    <a href="#" title="{{item.name}}"><img src="{{item.img}}" alt="#"></a>
                                </div>
                                <div class="table-cell name">
                                    <a href="#" title="{{item.name}}">{{item.name}}</a>
                                </div>
                                <div class="table-cell status">
                                    <i class="ic_{{item.status}} vtip" title="В наличии 15 шт. в 5 магазинах"></i>
                                </div>
                                <div class="table-cell bookmark">
                                    <a href="#" title="Перенести в закладки" class="vtip"><i class="ic_bookmark"></i></a>
                                </div>
                                <div class="table-cell price">
                                    <span>{{item.price}} <span class="rouble">P</span></span>
                                </div>
                                <div class="table-cell add-to-cart">
                                    <a href="#" title="В корзину" class="vtip"><i class="ic_cart_item"></i></a>
                                </div>
                                <div class="table-cell remove-from">
                                    <i class="ic_close vtip" title="Убрать из корзины"></i>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="btn-block">
                            <a href="#" title="#" class="btn-round grey">Сравнить выбранные</a>
                        </div>
                    </div>
                    <!--end component compared-->
                </div>
                <div class="block cart-wrapper">
                    <!--start component top-cart-->
                    <button class="top-cart toggle-btn">
                        <i class="ic_cart"></i>
                        <span class="counter">10</span>
                        <span class="cart-summ">9 999 999 <span class="rouble">P</span></span>
                       <!--
                        <span class="counter disabled">0</span>
                        <span class="cart-summ">Нет товаров</span>
                        -->
                    </button>
                    <div class="top-item-wrapper toggle-wrapper">
                        <div class="top-item-list table">
                            {% for item in bookMarkItem %}
                            <div class="item table-row">
                                <div class="table-cell pic">
                                    <a href="#" title="{{item.name}}"><img src="{{item.img}}" alt="#"></a>
                                </div>
                                <div class="table-cell name">
                                    <a href="#" title="{{item.name}}">{{item.name}}</a>
                                </div>
                                <div class="table-cell status">
                                    <i class="ic_{{item.status}} vtip" title="В наличии 15 шт. в 5 магазинах"></i>
                                </div>
                                <div class="table-cell price">
                                    <span>{{item.price}} <span class="rouble">P</span></span>
                                </div>
                                <div class="table-cell amount">
                                    <span class="amound-up vtip" title="Уменьшить увеличть">+</span>
                                    <span class="vtip" title="Ввести количество"><input type="number" class="amountset vtip" title="Ввести количество" value="1"></span>
                                        <span
                                        class="amound-down vtip" title="Уменьшить количество">-</span>
                                </div>
                                <div class="table-cell row-summ">
                                    <span>= 500 000 <span class="rouble">P</span></span>
                                </div>
                                <div class="table-cell bookmark ">
                                    <a href="#" title="Перенести в закладки" class="vtip"><i class="ic_bookmark"></i></a>
                                </div>
                                <div class="table-cell compared">
                                    <a href="#" title="Перенести в сравнение" class="vtip"><i class="ic_compared"></i></a>
                                </div>
                                <div class="table-cell remove-from" >
                                    <i class="ic_close vtip" title="Убрать из корзины"></i>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="cart-summ-block">
                            <div class="table-cell">
                                <a href="#" title="Детально" class="btn-round grey-light order-detail">Детально</a>
                            </div>
                            <div class="table-cell">
                            <span class="total-text">В корзине 7 товаров на общую сумму 7 200 <span
                                    class="rouble">P</span></span>
                            </div>
                            <div class="table-cell">
                                <a href="#" title="Оформить" class="btn-round red-light do-order">Оформить <i
                                        class="ic_arrow-down"></i></a>
                            </div>
                        </div>
                    </div>
                    <!--end component top-cart-->
                </div>
                <div class="order-wrapper block">
                    <a href="#" title="Оформить заказ" class="order-detail vtip"><i class="ic_cart-order-arrow-btn"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
