.product-panel {
  @include border-radius;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
  @include breakpoint(max-width $width-large){
    display: none;
  }
  .table {
    width: 100%;
  }
  .table-cell {
    padding-right: 5px;
    vertical-align: middle;
  }
  select {
    font-size: 0.9em;
    font-weight: 100;
  }
  .sorting {
    .select-wrapper {
      width: 210px;
    }
  }
  .availabe-filtring {
    .select-wrapper {
      width: 150px;
    }
  }
  .store-filtring {
    .select-wrapper {
      width: 150px;
    }
  }
  .catalog-info-wrapper {
    margin-top: 25px;
    @include container;
    .cell {
      &:first-child {
        text-align: left;
        @include span(5 of 16 0 inside);
      }
      &:nth-child(2) {
        @include span(6 at 6 of 16 0 inside);
        text-align: center;
      }
      &:nth-child(3) {
        @include span(5 of at 12 16 0 inside);
        text-align: right;
        .select-wrapper {
          width: 60px;
          text-align: left;
          padding-left: 5px;
        }
      }
    }
    .count-filter {
      span {
        padding-left: 3px;
        padding-right: 3px;
        font-weight: 100;
        &:first-child {
          padding-left: 6px;
        }
      }
    }
  }
  .radio-view-talbe {
    .iradio_flat {
      border: 0;
      border-radius: 0;
      display: inline-block;
      margin: 0;
      padding: 0;
      position: relative;
      vertical-align: top;
      @include sprite($ic_view-table);
      &.checked {
        @include sprite($ic_view-table-hover);
        &:after {
          display: none;
        }
      }
    }
  }
  .radio-view-list {
    .iradio_flat {
      border: 0;
      border-radius: 0;
      display: inline-block;
      margin: 0;
      padding: 0;
      position: relative;
      vertical-align: top;
      @include sprite($ic_view-list);
      &.checked {
        @include sprite($ic_view-list-hover);
        &:after {
          display: none;
        }
      }
    }
  }
  .radio-view-mini-list {
    .iradio_flat {
      border: 0;
      border-radius: 0;
      display: inline-block;
      margin: 0;
      padding: 0;
      position: relative;
      vertical-align: top;
      @include sprite($ic_view-mini-list);
      &.checked {
        @include sprite($ic_view-mini-list-hover);
        &:after {
          display: none;
        }
      }
    }
  }
}

.product-list .product-cell:hover {
  box-shadow: 0 0 7px 0 rgba(5, 5, 0, 0.3);
}

.product-list {
  .product-cell {
    position: relative;
    &.gift {
      &:before {
        display: block;
        z-index: 1;
        position: absolute;
        content: "";
        right: -5px;
        top: -5px;
        @include sprite($ic_gift);
      }
    }
    &.hit {
      &:before {
        display: block;
        z-index: 1;
        position: absolute;
        content: "";
        right: -5px;
        top: -5px;
        @include sprite($ic_hit);
      }
    }
    &.discount {
      &:before {
        display: block;
        z-index: 1;
        position: absolute;
        content: "";
        right: -5px;
        top: -5px;
        @include sprite($ic_discount);
      }
    }
    &.new {
      &:before {
        display: block;
        z-index: 1;
        position: absolute;
        content: "";
        right: -5px;
        top: -5px;
        @include sprite($ic_new);
      }
    }
  }
  .price {
    font-size: 1.2em;
    font-weight: 100;
    .rouble::before {
      content: "–";
      display: block;
      left: -0.1em;
      position: absolute;
      top: 0.2em;
    }
  }
  .image img {
    height: 100%;
  }
  .name {
    a {
      text-decoration: none;
      color: #000;
      font-weight: 100;
      &:hover {
        color: $color-link-hover;
      }
    }
  }
  .bonus {
    font-size: 0.9em;
    font-weight: 100;
    color: #737373;
  }
  .status {
    .ic_allow ~ span {
      position: relative;
      left: 3px;
    }
  }
  //table-view
  &.view-table {
    @include container;
    .product-cell {
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 10px;
      padding-bottom: 10px;
      border: 1px solid #b9b9be;
      position: relative;
      box-sizing: border-box;
      height: 325px;
      margin-left: -1px;
      margin-bottom: -1px;
      width: 20.1%;
      float: left;
      @include breakpoint(max-width 840px){
        width: 33.34%;
      }
      @include breakpoint(max-width 640px){
        width: 50%;
      }
      @include breakpoint(max-width 360px){
        width: 100%;
      }
      .image {
        margin-bottom: 15px;
        padding-top: 5px;
        text-align: center;
        height: 110px;
      }
      .name {
        display: inline-block;
        height: 71px;
        overflow: hidden;
        font-size: 0.93em;
        font-weight: 100;
        line-height: 1.1em;
        margin-bottom: 5px;
      }
      .rating-and-bonus {
        float: left;
        position: relative;
        top: -7px;
      }
      .add-to-block {
        float: right;
        .add-to-bookmark {
          padding-right: 10px;
          cursor: pointer;
          &.selected{
            .ic_bookmark-mini {
              @include sprite($ic-bookmark-mini-hover);
            }
          }
        }
        .add-to-compare {
          cursor: pointer;
          &.selected{
            .ic_compared-mini {
              @include sprite($ic-compared-mini-hover);
            }
          }
        }
      }
      .price {
        clear: both;
        padding-top: 5px;
        padding-bottom: 4px;
        position: relative;
        top: 7px;
        .current-price {
          padding-right: 5px;
        }
        .old-price {
          display: none;
        }
      }
      .status>* {
        vertical-align: middle;
      }
      .status {
        padding-top: 5px;
        >span {
          height: 20px;
          left: 41px;
          margin-top: 2px;
          overflow: hidden;
          position: absolute;
          width: 100px;
        }
      }
      .add-to-cart {
        float: right;
        position: relative;
        top: -21px;
      }
      .bonus {
        .rouble::before {
          content: "–";
          display: block;
          left: -0.1em;
          position: absolute;
          top: 0.09em;
        }
      }
    }
  }
  //list-view
  &.view-list {
    .product-cell {
      position: relative;
      height: 75px;
      border: 1px solid #b9b9be;
      padding-left: 15px;
      padding-right: 25px;
      padding-bottom: 10px;
      padding-top: 10px;
      margin: -1px;
    }
    .image {
      float: left;
      height: 70px;
      padding-right: 15px;
      img {
        max-width: 65px;
      }
    }
    .name {
      height: 18px;
      overflow: hidden;
    }
    .rating-and-bonus {
      >* {
        display: table-cell;
      }
      .rating {
        padding-right: 20px;
      }
    }
    .cell.add-to-block {
      position: absolute;
      right: 42%;
      .add-to-bookmark {
        cursor: pointer;
        &:after {
          content: "В закладки";
          display: block;
          left: 35px;
          position: relative;
          top: -21px;
          font-weight: 100;
          font-size: 0.9em;
          color: #737373;
        }
        &:hover {
          &:after {
            color: $color-link-hover;
          }
          .ic_bookmark-mini {
            @include sprite($ic-bookmark-mini-hover);
          }
        }
      }
      .add-to-compare {
        cursor: pointer;
        padding-left: 55px;
        &:after {
          content: "К сравнению";
          display: block;
          left: 35px;
          position: relative;
          top: -21px;
          font-weight: 100;
          font-size: 0.9em;
          color: #737373;
        }
        &:hover {
          &:after {
            color: $color-link-hover;
          }
          .ic_compared-mini {
            @include sprite($ic-compared-mini-hover);
          }
        }
      }
    }
    .add-to-cart {
      position: absolute;
      right: 25px;
      .tocart-btn:after {
        display: inline-block;
        content: "Добавить в корзину";
        font-size: 0.8rem;
        color: #000;
        padding-left: 6px;
        vertical-align: middle;
        font-weight: 100;
        color: #737373;
        font-weight: 100;
        text-decoration: none;
      }
      .tocart-btn:hover {
        &:after {
          display: inline-block;
          content: "Добавить в корзину";
          color: $color-link-hover;
          padding-left: 6px;
          vertical-align: middle;
          font-weight: 100;
          font-size: 0.8rem;
          text-decoration: none;
        }
      }
    }
    .price {
      padding-right: 185px;
      float: right;
      position: relative;
      top: 3px;
      .current-price {
        padding-left: 5px;
        padding-right: 5px;
      }
      .old-price {
        font-size: 0.8em;
        position: relative;
        color: #767676;
        left: 56px;
        top: -16px;
        .rouble:before {
          content: "–";
          display: block;
          left: -0.1em;
          position: absolute;
          top: 0.1em;
        }
        &:after {
          position: absolute;
          width: 100%;
          height: 1px;
          background-color: #767676;
          content: "";
          left: 0;
          bottom: 48%;
        }
      }
    }
    .status {
      bottom: 15px;
      left: 93px;
      position: absolute;
      span {
        position: relative;
        top: 1px;
        left: 5px;
      }
    }
    .rating-and-bonus {
      padding-bottom: 5px;
      padding-top: 6px;
    }
  }
  &.mini {
    .product-cell {
      height: 60px;
    }
    .name {
      margin-right: -27%;
      position: relative;
      top: 5px;
      width: 73%;
    }
    .image {
      display: none;
    }
    .rating-and-bonus {
      position: relative;
      top: 10px;
    }
    .status {
      left: 195px;
      bottom: 15px;
    }
    .price {
      float: right;
      padding-right: 50px;
      position: relative;
      top: -45px;
      .old-price {
        left: 0px;
        top: 0px;
      }
    }
    .cell.add-to-block {
      position: absolute;
      right: 32%;
      bottom: -6px;
      ;
    }
    .add-to-cart {
      bottom: 15px;
      right: 35px;
    }
  }
}

#ajax-show-more {
  margin-top: 30px;
  margin-left: 10px;
}
