.product {
  .p {
    overflow: hidden;
    padding-bottom: 10px;
  }
  .p:after {
    content: '............................................................................................................................................................................................................................................................................';
    display: block;
    white-space: nowrap;
    overflow: hidden;
  }
  .l {
    float: left;
  }
  .r {
    float: right;
  }
  .product-content {
    margin-bottom: -15px;
    font-weight: 300;
    @include container;
    .slider-product {
      .bx-wrapper {
        border: 1px solid #b8b8bc;
        margin: 0 auto 10px;
      }
      #bx-pager {
        a {
          @include gallery(1 of 5);
          border: 1px solid #b8b8bc;
          height: 55px;
          text-align: center;
          margin-bottom: 10px;
          &.active {
            border: 1px solid #e1403d;
          }
          &:hover {
            border: 1px solid #e1403d;
          }
          span {
            text-align: center;
            height: 55px;
            display: table-cell;
            vertical-align: middle;
            img {
              width: auto;
            }
          }
        }
      }
    }
    .cell {
      @include span(1 of 3 1/9);
      &:last-child {
        @include last;
      }
      &.descr .text {
        margin-bottom: 40px;
      }
    }
    .property-list {
      width: 100%;
      margin-bottom: 20px;
    }
    .price-block {
      border: 1px solid #b8b8bc;
      border-radius: 4px;
      .wrapp {
        padding-top: 20px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 20px;
      }
      .head {
        font-weight: 400;
        padding-bottom: 10px;
      }
      .price-info {
        border-bottom: 1px solid #b8b8bc;
        .price {
          font-size: 2em;
          padding-bottom: 15px;
          .rouble::before {
            content: "–";
            display: block;
            left: -0.05em;
            position: absolute;
            top: 0.1em;
          }
        }
        .cart-buttons {
          @include clearfix;
          .add-to-block {
            float: left;
            width: 49%;
            .add-to-bookmark {
              margin-top: 15px;
              height: 30px;
            }
            .add-to-compare {
              height: 30px;
            }
            .add-to-bookmark::after {
              color: #737373;
              content: "В закладки";
              display: block;
              font-size: 0.9em;
              font-weight: 100;
              left: 35px;
              position: relative;
              top: -21px;
            }
            .add-to-compare::after {
              color: #737373;
              content: "К сравнению";
              display: block;
              font-size: 0.9em;
              font-weight: 100;
              left: 35px;
              position: relative;
              top: -21px;
            }
          }
        }
        .to-cart-buttons {
          float: right;
          width: 49%;
          text-align: right;
          a {
            text-decoration: none;
          }
          .tocart-btn:after {
            display: inline-block;
            content: "В корзину";
            font-size: 0.8rem;
            color: #000;
            padding-left: 6px;
            vertical-align: middle;
            font-weight: 100;
            color: #737373;
            font-weight: 100;
            text-decoration: none;
          }
          .tocart-btn:hover {
            &:after {
              display: inline-block;
              content: "В корзину";
              color: $color-link-hover;
              padding-left: 6px;
              vertical-align: middle;
              font-weight: 100;
              font-size: 0.8rem;
              text-decoration: none;
            }
          }
          .fast-buy-btn {
            border: 1px solid #6a6a6a;
            border-radius: 6px;
            display: inline-block;
            padding: 4px 8px 2px;
            margin-top: 10px;
            &:hover {
              border-color: #bf312e;
              .ic_fast-buy {
                @include sprite($ic_fast-buy-hover)
              }
            }
          }
          .fast-buy-btn:after {
            color: #737373;
            content: "Купить в один клик";
            display: inline-block;
            font-size: 0.8rem;
            font-weight: 100;
            line-height: 14px;
            padding-left: 6px;
            text-align: left;
            text-decoration: none;
            vertical-align: middle;
            width: 64px;
          }
          .fast-buy-btn:hover {
            &:after {
              color: $color-link-hover;
              content: "Купить в один клик";
              display: inline-block;
              font-size: 0.8rem;
              font-weight: 100;
              line-height: 14px;
              padding-left: 6px;
              text-align: left;
              text-decoration: none;
              vertical-align: middle;
              width: 64px;
            }
          }
        }
      }
      .amount-in-store {
        border-bottom: 1px solid #b8b8bc;
      }
      .dop-prop {
        .show-next.grey-button-default {
          &.selected {
            i {
              transform: rotate(180deg);
            }
          }
          i {
            position: relative;
            left: 12px;
            top: -2px;
          }
          &:hover {
            background-color: #fff;
            color: #6a6a6a;
          }
        }
        ul {
          li {
            margin-bottom: 5px;
            .drop-down {
              display: none;
            }
            i {
              margin-right: 5px;
              position: relative;
              top: -1px;
            }
          }
        }
      }
    }
  }
  .product-bottom-row {
    position: relative;
    top: -47px;
    float: left;
    .rating {
      margin-bottom: 10px;
      i {
        position: relative;
        top: -2px;
        margin-left: 5px;
      }
    }
    .buttons {
      margin-top: 10px;
      li {
        display: inline-block;
        margin-right: 10px;
        border-radius: 6px;
        border: 1px solid #dededf;
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
        a {
          font-weight: 300;
          text-decoration: none;
          border-bottom: 1px dashed;
        }
      }
    }
  }
  #lenta-filter {
    margin-bottom: 20px;
    font-weight: 300;
    li {
      display: inline-block;
      margin-right: 10px;
      a {
        text-decoration: none;
        border-bottom: 1px dashed;
        &.selected {
          color: #000;
          border: none;
        }
      }
    }
  }
  #filters-store {
    margin-bottom: 10px;
    ul {
      li {
        display: inline-block;
        margin-right: 2px;
        label {
          margin-right: 10px;
          font-weight: 200;
          font-size: 0.9em;
        }
      }
    }
  }
}

.comp-wrapp {
  margin-bottom: 20px;
  @include clearfix;
  .see-history {
    float: right;
    display: inline-block;
    font-weight: 300;
    text-decoration: underline;
    font-size: 1.1em;
  }
  .header-comp {
    margin: 0;
    float: left;
    display: inline-block;
  }
}

.section-text {
  font-size: 0.9em;
  font-weight: 200;
  margin-bottom: 20px;
  margin-top: 20px;
}

#tabs-3 {
  padding-top: 0;
  padding-bottom: 0;
}

.reviews {
  margin-top: -3px;
  margin-bottom: -3px;
  h3 {
    margin-top: 20px;
    margin-bottom: 25px;
  }
  .reviews-wrapper {
    display: flex;
    @include clearfix;
    .reviews-list {
      float: left;
      width: 69%;
      .item {
        @include clearfix;
        .image {
          width: 75px;
          float: left;
          text-align: center;
          img {
            width: 100%;
            height: auto;
            border-radius: 100%;
          }
        }
        .content {
          float: right;
          width: 87%;
          padding-left: 2%;
          padding-bottom: 20px;
          padding-right: 1%;
          .top-line {
            .cell {
              display: inline-block;
              vertical-align: top;
              margin-right: 25px;
            }
          }
          .text {}
        }
      }
    }
  }
  .reviews-statistic {
    float: left;
    width: 30%;
    position: relative;
    border-left: 1px solid #b9b9be;
    text-align: center;
  }
}

.product-tabs {
  margin-bottom: 20px;
  .prop-detail-section {
    width: 350px;
  }
  margin-top: 100px;
  .ui-tabs-nav.ui-corner-all.ui-helper-reset.ui-helper-clearfix.ui-widget-header {
    position: absolute;
    top: -38px;
    left: -3px;
    border-bottom: 1px solid #bababe;
  }
  &.ui-widget.ui-widget-content {
    background-color: #fff;
    border: 1px solid #bababe!important;
  }
  .ui-tabs-nav.ui-corner-all.ui-helper-reset.ui-helper-clearfix.ui-widget-header {
    background: #fff none repeat scroll 0 0;
    border: 0;
  }
  .ui-tabs-tab.ui-corner-top.ui-state-default.ui-tab.ui-tabs-active.ui-state-active {
    border-color: #bababe;
    background-color: #fff;
    border-radius: 5px 5px 0px 0px;
  }
  .ui-tabs-tab.ui-corner-top.ui-state-default.ui-tab {
    background-color: #fafafa;
    border-radius: 5px 5px 0px 0px;
    padding-left: 20px;
    padding-right: 20px;
    a {
      border-radius: 5px 5px 0px 0px;
      color: #259fd9;
    }
  }
  .ui-tabs-tab.ui-corner-top.ui-state-default.ui-tab.ui-tabs-active.ui-state-active {
    background-color: #fff;
    a {
      border-radius: 5px 5px 0px 0px;
      color: #000;
      background-color: #fff;
      border: none;
    }
  }
}